In [9]:
import graphlab

In [11]:
graphlab.get_dependencies()

AttributeError: 'module' object has no attribute 'get_dependencies'

In [12]:
sf = graphlab.SFrame('people-example.csv')

This non-commercial license of GraphLab Create for academic use is assigned to skanth859@gmail.com and will expire on March 20, 2019.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\SRI\AppData\Local\Temp\graphlab_server_1521786169.log.0

Finished parsing file C:\Users\SRI\Documents\Python Programs\p1\people-example.csv

Parsing completed. Parsed 7 lines in 0.067 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\SRI\Documents\Python Programs\p1\people-example.csv

Parsing completed. Parsed 7 lines in 0.03 secs.

In [13]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [14]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [15]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [16]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:49636/index.html
Opening Canvas in default web browser.

In [17]:
graphlab.canvas.set_target('ipynb')
graphlab.canvas.set_target('ipynb')

In [26]:
#sf['age'].show(view='categorical')
sf['age'].show(view='Categorical')

In [28]:
sf['age'].mean()

23.14285714285714

In [30]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [32]:
sf['full name']=sf['First Name']+','+sf['Last Name']

In [33]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	full name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   full name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob,Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice,Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm,Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix,Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex,Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod,Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek,Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [35]:
sf['age'].max()

25L

In [36]:
sf['age']+2

dtype: int
Rows: 7
[26L, 25L, 24L, 25L, 25L, 24L, 27L]

In [37]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	full name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   full name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob,Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice,Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm,Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix,Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex,Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod,Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek,Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [40]:
sf['First Name'][5]

'Tod'

In [41]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [43]:
transform_country('Brazil')

'Brazil'

In [44]:
transform_country('USA')

'United States'

In [49]:
sf['Country']=sf['Country'].apply(transform_country)

In [50]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	full name	str
	country	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+---------------+
| First Name | Last Name |    Country    | age |   full name    |    country    |
+------------+-----------+---------------+-----+----------------+---------------+
|    Bob     |   Smith   | United States |  24 |   Bob,Smith    | United States |
|   Alice    |  Williams |     Canada    |  23 | Alice,Williams |     Canada    |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm,Jone  |    England    |
|   Felix    |   Brown   | United States |  23 |  Felix,Brown   | United States |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex,Cooper   |     Poland    |
|    Tod     |  Campbell | United States |  22 |  Tod,Campbell  | United States |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek,Ward   |  Switzerland  |
+------------+-----------+---------------+-----+----------------+---------------+
[7 rows x 6 columns]