# Identifying safe loans with decision trees

The [LendingClub](https://www.lendingclub.com/) is a peer-to-peer leading company that directly connects borrowers and potential lenders/investors. In this notebook, you will build a classification model to predict whether or not a loan provided by LendingClub is likely to [default](https://en.wikipedia.org/wiki/Default_%28finance%29).

In this notebook you will use data from the LendingClub to predict whether a loan will be paid off in full or the loan will be [charged off](https://en.wikipedia.org/wiki/Charge-off) and possibly go into default. In this assignment you will:

* Use SFrames to do some feature engineering.
* Train a decision-tree on the LendingClub dataset.
* Visualize the tree.
* Predict whether a loan will default along with prediction probabilities (on a validation set).
* Train a complex tree model and compare it to simple tree model.

Let's get started!

## Fire up GraphLab Create

Make sure you have the latest version of GraphLab Create. If you don't find the decision tree module, then you would need to upgrade GraphLab Create using

```
   pip install graphlab-create --upgrade
```

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Load LendingClub dataset

We will be using a dataset from the [LendingClub](https://www.lendingclub.com/). A parsed and cleaned form of the dataset is availiable [here](https://github.com/learnml/machine-learning-specialization-private). Make sure you **download the dataset** before running the following command.

In [2]:
loans = pd.read_csv('loan.csv')

C:\Users\SRI\AppData\Local\conda\conda\envs\SRI-ENVS\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Exploring some features

Let's quickly explore what the dataset looks like. First, let's print out the column names to see what features we have in this dataset.

In [3]:
#loans = loans[:40000]
print(loans)

              id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0        1077501    1296599     5000.0       5000.0      4975.000000
1        1077430    1314167     2500.0       2500.0      2500.000000
2        1077175    1313524     2400.0       2400.0      2400.000000
3        1076863    1277178    10000.0      10000.0     10000.000000
4        1075358    1311748     3000.0       3000.0      3000.000000
5        1075269    1311441     5000.0       5000.0      5000.000000
6        1069639    1304742     7000.0       7000.0      7000.000000
7        1072053    1288686     3000.0       3000.0      3000.000000
8        1071795    1306957     5600.0       5600.0      5600.000000
9        1071570    1306721     5375.0       5375.0      5350.000000
10       1070078    1305201     6500.0       6500.0      6500.000000
11       1069908    1305008    12000.0      12000.0     12000.000000
12       1064687    1298717     9000.0       9000.0      9000.000000
13       1069866    1304956     3000.0       3000.0      3000.000000
14       1069057    1303503    10000.0      10000.0     10000.000000
15       1069759    1304871     1000.0       1000.0      1000.000000
16       1065775    1299699    10000.0      10000.0     10000.000000
17       1069971    1304884     3600.0       3600.0      3600.000000
18       1062474    1294539     6000.0       6000.0      6000.000000
19       1069742    1304855     9200.0       9200.0      9200.000000
20       1069740    1284848    20250.0      20250.0     19142.161077
21       1039153    1269083    21000.0      21000.0     21000.000000
22       1069710    1304821    10000.0      10000.0     10000.000000
23       1069700    1304810    10000.0      10000.0     10000.000000
24       1069559    1304634     6000.0       6000.0      6000.000000
25       1069697    1273773    15000.0      15000.0     15000.000000
26       1069800    1304679    15000.0      15000.0      8725.000000
27       1069657    1304764     5000.0       5000.0      5000.000000
28       1069799    1304678     4000.0       4000.0      4000.000000
29       1047704    1278806     8500.0       8500.0      8500.000000
...          ...        ...        ...          ...              ...
887349  36691397   39434133    20000.0      20000.0     20000.000000
887350  36500819   39232937    10300.0      10300.0     10300.000000
887351  36743377   39486112     4200.0       4200.0      4200.000000
887352  36231083   38942474    15000.0      15000.0     15000.000000
887353  36371802   39103231    15000.0      15000.0     15000.000000
887354  36250801   38962184     6000.0       6000.0      6000.000000
887355  36331554   39042967    26950.0      26950.0     26950.000000
887356  36460697   39182359    23000.0      23000.0     23000.000000
887357  35773415   38468842    18700.0      18700.0     18700.000000
887358  36440728   39152101    25000.0      25000.0     25000.000000
887359  35591131   38288343    25000.0      25000.0     25000.000000
887360  36361815   39093260    26500.0      26500.0     26500.000000
887361  36201871   38913321    21000.0      21000.0     21000.000000
887362  36381756   39013193     8000.0       8000.0      8000.000000
887363  36231724   38943173    12000.0      12000.0     12000.000000
887364  36231718   38943165    10775.0      10775.0     10775.000000
887365  36381704   39013139     7000.0       7000.0      7000.000000
887366  36241316   38952731     6225.0       6225.0      6225.000000
887367  36301729   39023153    10000.0      10000.0     10000.000000
887368  36250208   38961532    13150.0      13150.0     13150.000000
887369  36421485   39142898     4000.0       4000.0      4000.000000
887370  35094480   37777829     7500.0       7500.0      7500.000000
887371  36260758   38972123    10850.0      10850.0     10850.000000
887372  36330911   39042282    12000.0      12000.0     12000.000000
887373  36221446   38932858    11575.0      11575.0     11575.000000
887374  36371250   39102635    10000.0      10000.0     10000.000000
887375  36441262   39152692    24000.0      24000.0     24000.000000
887376  36271333   38982739    13000.0      13000.0     13000.000000
887377  36490806   39222577    12000.0      12000.0     12000.000000
887378  36271262   38982659    20000.0      20000.0     20000.000000

              term  int_rate  installment grade sub_grade     ...       \
0        36 months     10.65       162.87     B        B2     ...
1        60 months     15.27        59.83     C        C4     ...
2        36 months     15.96        84.33     C        C5     ...
3        36 months     13.49       339.31     C        C1     ...
4        60 months     12.69        67.79     B        B5     ...
5        36 months      7.90       156.46     A        A4     ...
6        60 months     15.96       170.08     C        C5     ...
7        36 months     18.64       109.43     E        E1     ...
8        60 months     21.28       152.39     F        F2     ...
9        60 months     12.69       121.45     B        B5     ...
10       60 months     14.65       153.45     C        C3     ...
11       36 months     12.69       402.54     B        B5     ...
12       36 months     13.49       305.38     C        C1     ...
13       36 months      9.91        96.68     B        B1     ...
14       36 months     10.65       325.74     B        B2     ...
15       36 months     16.29        35.31     D        D1     ...
16       36 months     15.27       347.98     C        C4     ...
17       36 months      6.03       109.57     A        A1     ...
18       36 months     11.71       198.46     B        B3     ...
19       36 months      6.03       280.01     A        A1     ...
20       60 months     15.27       484.63     C        C4     ...
21       36 months     12.42       701.73     B        B4     ...
22       36 months     11.71       330.76     B        B3     ...
23       36 months     11.71       330.76     B        B3     ...
24       36 months     11.71       198.46     B        B3     ...
25       36 months      9.91       483.38     B        B1     ...
26       36 months     14.27       514.64     C        C2     ...
27       60 months     16.77       123.65     D        D2     ...
28       36 months     11.71       132.31     B        B3     ...
29       36 months     11.71       281.15     B        B3     ...
...            ...       ...          ...   ...       ...     ...
887349   36 months      6.99       617.46     A        A3     ...
887350   60 months     13.66       237.86     C        C3     ...
887351   36 months     15.99       147.64     D        D2     ...
887352   36 months     11.99       498.15     B        B5     ...
887353   60 months     11.44       329.44     B        B4     ...
887354   36 months     17.86       216.50     D        D5     ...
887355   36 months      8.19       846.88     A        A5     ...
887356   60 months     15.59       554.32     D        D1     ...
887357   60 months     17.86       473.44     D        D5     ...
887358   60 months     15.99       607.82     D        D2     ...
887359   60 months     15.59       602.52     D        D1     ...
887360   60 months      8.67       545.87     B        B1     ...
887361   36 months      6.03       639.15     A        A1     ...
887362   36 months      8.19       251.40     A        A5     ...
887363   36 months      9.49       384.34     B        B2     ...
887364   36 months      6.03       327.95     A        A1     ...
887365   36 months     14.31       240.30     C        C4     ...
887366   36 months     16.49       220.37     D        D3     ...
887367   36 months      6.49       306.45     A        A2     ...
887368   60 months     14.99       312.77     C        C5     ...
887369   36 months      8.67       126.59     B        B1     ...
887370   36 months      9.49       240.22     B        B2     ...
887371   36 months     19.24       399.04     E        E2     ...
887372   36 months     11.99       398.52     B        B5     ...
887373   36 months     15.59       404.61     D        D1     ...
887374   36 months     11.99       332.10     B        B5     ...
887375   36 months     11.99       797.03     B        B5     ...
887376   60 months     15.99       316.07     D        D2     ...
887377   60 months     19.99       317.86     E        E3     ...
887378   36 months     11.99       664.20     B        B5     ...

       total_bal_il il_util open_rv_12m  open_rv_24m max_bal_bc all_util  \
0               NaN     NaN         NaN          NaN        NaN      NaN
1               NaN     NaN         NaN          NaN        NaN      NaN
2               NaN     NaN         NaN          NaN        NaN      NaN
3               NaN     NaN         NaN          NaN        NaN      NaN
4               NaN     NaN         NaN          NaN        NaN      NaN
5               NaN     NaN         NaN          NaN        NaN      NaN
6               NaN     NaN         NaN          NaN        NaN      NaN
7               NaN     NaN         NaN          NaN        NaN      NaN
8               NaN     NaN         NaN          NaN        NaN      NaN
9               NaN     NaN         NaN          NaN        NaN      NaN
10              NaN     NaN         NaN          NaN        NaN      NaN
11              NaN     NaN         NaN          NaN        NaN      NaN
12              NaN     NaN         NaN          NaN        NaN      NaN
13              NaN     NaN         NaN          NaN        NaN      NaN
14              NaN     NaN         NaN          NaN        NaN      NaN
15              NaN     NaN         NaN          NaN        NaN      NaN
16              NaN     NaN         NaN          NaN        NaN      NaN
17              NaN     NaN         NaN          NaN        NaN      NaN
18              NaN     NaN         NaN          NaN        NaN      NaN
19              NaN     NaN         NaN          NaN        NaN      NaN
20              NaN     NaN         NaN          NaN        NaN      NaN
21              NaN     NaN         NaN          NaN        NaN      NaN
22              NaN     NaN         NaN          NaN        NaN      NaN
23              NaN     NaN         NaN          NaN        NaN      NaN
24              NaN     NaN         NaN          NaN        NaN      NaN
25              NaN     NaN         NaN          NaN        NaN      NaN
26              NaN     NaN         NaN          NaN        NaN      NaN
27              NaN     NaN         NaN          NaN        NaN      NaN
28              NaN     NaN         NaN          NaN        NaN      NaN
29              NaN     NaN         NaN          NaN        NaN      NaN
...             ...     ...         ...          ...        ...      ...
887349          NaN     NaN         NaN          NaN        NaN      NaN
887350          NaN     NaN         NaN          NaN        NaN      NaN
887351          NaN     NaN         NaN          NaN        NaN      NaN
887352          NaN     NaN         NaN          NaN        NaN      NaN
887353          NaN     NaN         NaN          NaN        NaN      NaN
887354          NaN     NaN         NaN          NaN        NaN      NaN
887355          NaN     NaN         NaN          NaN        NaN      NaN
887356          NaN     NaN         NaN          NaN        NaN      NaN
887357          NaN     NaN         NaN          NaN        NaN      NaN
887358          NaN     NaN         NaN          NaN        NaN      NaN
887359          NaN     NaN         NaN          NaN        NaN      NaN
887360          NaN     NaN         NaN          NaN        NaN      NaN
887361          NaN     NaN         NaN          NaN        NaN      NaN
887362          NaN     NaN         NaN          NaN        NaN      NaN
887363          NaN     NaN         NaN          NaN        NaN      NaN
887364          NaN     NaN         NaN          NaN        NaN      NaN
887365          NaN     NaN         NaN          NaN        NaN      NaN
887366          NaN     NaN         NaN          NaN        NaN      NaN
887367          NaN     NaN         NaN          NaN        NaN      NaN
887368          NaN     NaN         NaN          NaN        NaN      NaN
887369          NaN     NaN         NaN          NaN        NaN      NaN
887370          NaN     NaN         NaN          NaN        NaN      NaN
887371          NaN     NaN         NaN          NaN        NaN      NaN
887372          NaN     NaN         NaN          NaN        NaN      NaN
887373          NaN     NaN         NaN          NaN        NaN      NaN
887374          NaN     NaN         NaN          NaN        NaN      NaN
887375          NaN     NaN         NaN          NaN        NaN      NaN
887376          NaN     NaN         NaN          NaN        NaN      NaN
887377          NaN     NaN         NaN          NaN        NaN      NaN
887378          NaN     NaN         NaN          NaN        NaN      NaN

       total_rev_hi_lim inq_fi total_cu_tl inq_last_12m
0                   NaN    NaN         NaN          NaN
1                   NaN    NaN         NaN          NaN
2                   NaN    NaN         NaN          NaN
3                   NaN    NaN         NaN          NaN
4                   NaN    NaN         NaN          NaN
5                   NaN    NaN         NaN          NaN
6                   NaN    NaN         NaN          NaN
7                   NaN    NaN         NaN          NaN
8                   NaN    NaN         NaN          NaN
9                   NaN    NaN         NaN          NaN
10                  NaN    NaN         NaN          NaN
11                  NaN    NaN         NaN          NaN
12                  NaN    NaN         NaN          NaN
13                  NaN    NaN         NaN          NaN
14                  NaN    NaN         NaN          NaN
15                  NaN    NaN         NaN          NaN
16                  NaN    NaN         NaN          NaN
17                  NaN    NaN         NaN          NaN
18                  NaN    NaN         NaN          NaN
19                  NaN    NaN         NaN          NaN
20                  NaN    NaN         NaN          NaN
21                  NaN    NaN         NaN          NaN
22                  NaN    NaN         NaN          NaN
23                  NaN    NaN         NaN          NaN
24                  NaN    NaN         NaN          NaN
25                  NaN    NaN         NaN          NaN
26                  NaN    NaN         NaN          NaN
27                  NaN    NaN         NaN          NaN
28                  NaN    NaN         NaN          NaN
29                  NaN    NaN         NaN          NaN
...                 ...    ...         ...          ...
887349          39700.0    NaN         NaN          NaN
887350          22000.0    NaN         NaN          NaN
887351          20400.0    NaN         NaN          NaN
887352           9700.0    NaN         NaN          NaN
887353          26100.0    NaN         NaN          NaN
887354           8500.0    NaN         NaN          NaN
887355         129100.0    NaN         NaN          NaN
887356          65600.0    NaN         NaN          NaN
887357          10200.0    NaN         NaN          NaN
887358          18700.0    NaN         NaN          NaN
887359          24400.0    NaN         NaN          NaN
887360         118600.0    NaN         NaN          NaN
887361          76300.0    NaN         NaN          NaN
887362           7300.0    NaN         NaN          NaN
887363          11900.0    NaN         NaN          NaN
887364          41700.0    NaN         NaN          NaN
887365           9900.0    NaN         NaN          NaN
887366           1800.0    NaN         NaN          NaN
887367          30300.0    NaN         NaN          NaN
887368          20700.0    NaN         NaN          NaN
887369          30100.0    NaN         NaN          NaN
887370          14500.0    NaN         NaN          NaN
887371          16800.0    NaN         NaN          NaN
887372          30300.0    NaN         NaN          NaN
887373          28100.0    NaN         NaN          NaN
887374          17100.0    NaN         NaN          NaN
887375          10200.0    NaN         NaN          NaN
887376          18000.0    NaN         NaN          NaN
887377          27000.0    NaN         NaN          NaN
887378          41700.0    NaN         NaN          NaN

[887379 rows x 74 columns]

In [4]:
# this is way of selecting column matrix (required column)
print(loans.iloc[:,2])

0          5000.0
1          2500.0
2          2400.0
3         10000.0
4          3000.0
5          5000.0
6          7000.0
7          3000.0
8          5600.0
9          5375.0
10         6500.0
11        12000.0
12         9000.0
13         3000.0
14        10000.0
15         1000.0
16        10000.0
17         3600.0
18         6000.0
19         9200.0
20        20250.0
21        21000.0
22        10000.0
23        10000.0
24         6000.0
25        15000.0
26        15000.0
27         5000.0
28         4000.0
29         8500.0
           ...
887349    20000.0
887350    10300.0
887351     4200.0
887352    15000.0
887353    15000.0
887354     6000.0
887355    26950.0
887356    23000.0
887357    18700.0
887358    25000.0
887359    25000.0
887360    26500.0
887361    21000.0
887362     8000.0
887363    12000.0
887364    10775.0
887365     7000.0
887366     6225.0
887367    10000.0
887368    13150.0
887369     4000.0
887370     7500.0
887371    10850.0
887372    12000.0
887373    11575.0
887374    10000.0
887375    24000.0
887376    13000.0
887377    12000.0
887378    20000.0
Name: loan_amnt, Length: 887379, dtype: float64

In [5]:
loans.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [6]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
id                             887379 non-null int64
member_id                      887379 non-null int64
loan_amnt                      887379 non-null float64
funded_amnt                    887379 non-null float64
funded_amnt_inv                887379 non-null float64
term                           887379 non-null object
int_rate                       887379 non-null float64
installment                    887379 non-null float64
grade                          887379 non-null object
sub_grade                      887379 non-null object
emp_title                      835917 non-null object
emp_length                     842554 non-null object
home_ownership                 887379 non-null object
annual_inc                     887375 non-null float64
verification_status            887379 non-null object
issue_d                        887379 non-null object
loan_status                    887379 non-null object
pymnt_plan                     887379 non-null object
url                            887379 non-null object
desc                           126028 non-null object
purpose                        887379 non-null object
title                          887227 non-null object
zip_code                       887379 non-null object
addr_state                     887379 non-null object
dti                            887379 non-null float64
delinq_2yrs                    887350 non-null float64
earliest_cr_line               887350 non-null object
inq_last_6mths                 887350 non-null float64
mths_since_last_delinq         433067 non-null float64
mths_since_last_record         137053 non-null float64
open_acc                       887350 non-null float64
pub_rec                        887350 non-null float64
revol_bal                      887379 non-null float64
revol_util                     886877 non-null float64
total_acc                      887350 non-null float64
initial_list_status            887379 non-null object
out_prncp                      887379 non-null float64
out_prncp_inv                  887379 non-null float64
total_pymnt                    887379 non-null float64
total_pymnt_inv                887379 non-null float64
total_rec_prncp                887379 non-null float64
total_rec_int                  887379 non-null float64
total_rec_late_fee             887379 non-null float64
recoveries                     887379 non-null float64
collection_recovery_fee        887379 non-null float64
last_pymnt_d                   869720 non-null object
last_pymnt_amnt                887379 non-null float64
next_pymnt_d                   634408 non-null object
last_credit_pull_d             887326 non-null object
collections_12_mths_ex_med     887234 non-null float64
mths_since_last_major_derog    221703 non-null float64
policy_code                    887379 non-null float64
application_type               887379 non-null object
annual_inc_joint               511 non-null float64
dti_joint                      509 non-null float64
verification_status_joint      511 non-null object
acc_now_delinq                 887350 non-null float64
tot_coll_amt                   817103 non-null float64
tot_cur_bal                    817103 non-null float64
open_acc_6m                    21372 non-null float64
open_il_6m                     21372 non-null float64
open_il_12m                    21372 non-null float64
open_il_24m                    21372 non-null float64
mths_since_rcnt_il             20810 non-null float64
total_bal_il                   21372 non-null float64
il_util                        18617 non-null float64
open_rv_12m                    21372 non-null float64
open_rv_24m                    21372 non-null float64
max_bal_bc                     21372 non-null float64
all_util                       21372 non-null float64
total_rev_hi_lim               817103 non-null float64
inq_fi                         21372 non-null float64
total_cu_tl                    21372 non-null float64
inq_last_12m                   21372 non-null float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB

In [7]:
loans['total_cu_tl'].value_counts()

0.0     11478
1.0      3467
2.0      1992
3.0      1257
4.0       911
5.0       616
6.0       425
7.0       313
8.0       239
9.0       157
10.0      124
11.0       86
12.0       73
13.0       57
14.0       44
15.0       34
16.0       24
17.0       21
18.0       15
21.0        8
20.0        7
19.0        5
24.0        5
22.0        4
25.0        2
32.0        1
27.0        1
30.0        1
28.0        1
23.0        1
35.0        1
33.0        1
29.0        1
Name: total_cu_tl, dtype: int64

In [8]:
loans['loan_status'].value_counts()

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [9]:
# replace some columns names and drop some of them 

loans = loans.rename(columns={"loan_amnt": "loan_amount", "funded_amnt": "funded_amount", "funded_amnt_inv": "investor_funds",
                       "int_rate": "interest_rate", "annual_inc": "annual_income"})

# Drop irrelevant columns
loans.drop(['id', 'member_id', 'emp_title', 'url', 'desc', 'zip_code', 'title'], axis=1, inplace=True)

In [10]:
# Determining the loans that are bad from loan_status column

bad_loan = ["Charged Off", "Default", "Does not meet the credit policy. Status:Charged Off", "In Grace Period", 
            "Late (16-30 days)", "Late (31-120 days)"]

In [11]:
loans = loans[:20000]

In [12]:

loans['loan_condition'] = np.nan

def loan_condition(status):
    if status in bad_loan:
        return 'Bad Loan'
    else:
        return 'Good Loan'

In [13]:
loans['loan_condition'] = loans['loan_status'].apply(loan_condition)

In [14]:
loans['loan_condition'].value_counts()

Good Loan    16952
Bad Loan      3048
Name: loan_condition, dtype: int64

In [15]:
loans

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,loan_condition
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad Loan
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad Loan
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad Loan
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad Loan
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad Loan
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad Loan
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad Loan
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad Loan
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad Loan
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,6500.0,6500.0,6250.000000,36 months,11.11,213.15,B,B5,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19971,14875.0,14875.0,14875.000000,60 months,15.65,358.98,D,D4,8 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19972,25000.0,25000.0,24675.000000,36 months,11.11,819.78,B,B5,3 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19973,20000.0,20000.0,20000.000000,60 months,16.02,486.58,D,D5,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19974,15000.0,15000.0,15000.000000,60 months,16.40,367.97,E,E1,3 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19975,1200.0,1200.0,1200.000000,36 months,7.29,37.22,A,A4,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19976,16000.0,16000.0,15675.000000,36 months,10.74,521.86,B,B4,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19977,18000.0,18000.0,18000.000000,60 months,16.77,445.13,E,E2,9 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad Loan
19978,8400.0,8400.0,8400.000000,60 months,10.37,180.01,B,B3,1 year,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19979,5000.0,5000.0,5000.000000,36 months,10.37,162.21,B,B3,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19980,12000.0,12000.0,12000.000000,60 months,10.37,257.16,B,B3,1 year,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19981,6500.0,6500.0,6475.000000,36 months,7.66,202.67,A,A5,< 1 year,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19982,13600.0,13600.0,13600.000000,36 months,7.29,421.74,A,A4,7 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19983,20000.0,20000.0,19675.000000,36 months,10.37,648.83,B,B3,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19984,10750.0,10750.0,10700.000000,36 months,11.11,352.51,B,B5,10+ years,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad Loan
19985,9600.0,9600.0,9600.000000,36 months,11.11,314.80,B,B5,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19986,15000.0,15000.0,14875.000000,60 months,16.40,367.97,E,E1,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19987,6000.0,6000.0,5900.000000,60 months,16.77,148.38,E,E2,8 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19988,2000.0,2000.0,2000.000000,60 months,12.68,45.18,C,C1,NaN,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad Loan
19989,4000.0,4000.0,3900.000000,60 months,16.02,97.32,D,D5,4 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19990,17000.0,17000.0,16975.000000,60 months,12.68,384.03,C,C1,7 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19991,10000.0,10000.0,10000.000000,36 months,9.63,320.94,B,B1,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19992,13300.0,13300.0,13225.000000,36 months,7.66,414.70,A,A5,2 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19993,14400.0,14400.0,14350.000000,36 months,7.66,448.99,A,A5,10+ years,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19994,8500.0,8500.0,8500.000000,36 months,10.00,274.28,B,B2,4 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19995,16000.0,16000.0,15725.000000,36 months,13.06,539.57,C,C2,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19996,14400.0,14400.0,14375.000000,36 months,6.92,444.11,A,A3,6 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19997,9000.0,9000.0,8875.000000,60 months,20.48,240.86,G,G2,2 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19998,9600.0,9600.0,9600.000000,60 months,14.91,227.94,D,D2,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan
19999,9050.0,9050.0,9025.000000,36 months,7.29,280.64,A,A4,2 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good Loan

# here with  one hot encoding techinque is implemented using get_dummies()

In [16]:
df = pd.DataFrame({'country': ['russia', 'germany', 'australia','korea','germany']})

pd.get_dummies(df,prefix=['country'], drop_first=True)

df1 = pd.concat([loans,pd.get_dummies(loans['term'], prefix='term')],axis=1)
print(df1)

       loan_amount  funded_amount  investor_funds        term  interest_rate  \
0           5000.0         5000.0     4975.000000   36 months          10.65
1           2500.0         2500.0     2500.000000   60 months          15.27
2           2400.0         2400.0     2400.000000   36 months          15.96
3          10000.0        10000.0    10000.000000   36 months          13.49
4           3000.0         3000.0     3000.000000   60 months          12.69
5           5000.0         5000.0     5000.000000   36 months           7.90
6           7000.0         7000.0     7000.000000   60 months          15.96
7           3000.0         3000.0     3000.000000   36 months          18.64
8           5600.0         5600.0     5600.000000   60 months          21.28
9           5375.0         5375.0     5350.000000   60 months          12.69
10          6500.0         6500.0     6500.000000   60 months          14.65
11         12000.0        12000.0    12000.000000   36 months          12.69
12          9000.0         9000.0     9000.000000   36 months          13.49
13          3000.0         3000.0     3000.000000   36 months           9.91
14         10000.0        10000.0    10000.000000   36 months          10.65
15          1000.0         1000.0     1000.000000   36 months          16.29
16         10000.0        10000.0    10000.000000   36 months          15.27
17          3600.0         3600.0     3600.000000   36 months           6.03
18          6000.0         6000.0     6000.000000   36 months          11.71
19          9200.0         9200.0     9200.000000   36 months           6.03
20         20250.0        20250.0    19142.161077   60 months          15.27
21         21000.0        21000.0    21000.000000   36 months          12.42
22         10000.0        10000.0    10000.000000   36 months          11.71
23         10000.0        10000.0    10000.000000   36 months          11.71
24          6000.0         6000.0     6000.000000   36 months          11.71
25         15000.0        15000.0    15000.000000   36 months           9.91
26         15000.0        15000.0     8725.000000   36 months          14.27
27          5000.0         5000.0     5000.000000   60 months          16.77
28          4000.0         4000.0     4000.000000   36 months          11.71
29          8500.0         8500.0     8500.000000   36 months          11.71
...            ...            ...             ...         ...            ...
19970       6500.0         6500.0     6250.000000   36 months          11.11
19971      14875.0        14875.0    14875.000000   60 months          15.65
19972      25000.0        25000.0    24675.000000   36 months          11.11
19973      20000.0        20000.0    20000.000000   60 months          16.02
19974      15000.0        15000.0    15000.000000   60 months          16.40
19975       1200.0         1200.0     1200.000000   36 months           7.29
19976      16000.0        16000.0    15675.000000   36 months          10.74
19977      18000.0        18000.0    18000.000000   60 months          16.77
19978       8400.0         8400.0     8400.000000   60 months          10.37
19979       5000.0         5000.0     5000.000000   36 months          10.37
19980      12000.0        12000.0    12000.000000   60 months          10.37
19981       6500.0         6500.0     6475.000000   36 months           7.66
19982      13600.0        13600.0    13600.000000   36 months           7.29
19983      20000.0        20000.0    19675.000000   36 months          10.37
19984      10750.0        10750.0    10700.000000   36 months          11.11
19985       9600.0         9600.0     9600.000000   36 months          11.11
19986      15000.0        15000.0    14875.000000   60 months          16.40
19987       6000.0         6000.0     5900.000000   60 months          16.77
19988       2000.0         2000.0     2000.000000   60 months          12.68
19989       4000.0         4000.0     3900.000000   60 months          16.02
19990      17000.0        17000.0    16975.000000   60 months          12.68
19991      10000.0        10000.0    10000.000000   36 months           9.63
19992      13300.0        13300.0    13225.000000   36 months           7.66
19993      14400.0        14400.0    14350.000000   36 months           7.66
19994       8500.0         8500.0     8500.000000   36 months          10.00
19995      16000.0        16000.0    15725.000000   36 months          13.06
19996      14400.0        14400.0    14375.000000   36 months           6.92
19997       9000.0         9000.0     8875.000000   60 months          20.48
19998       9600.0         9600.0     9600.000000   60 months          14.91
19999       9050.0         9050.0     9025.000000   36 months           7.29

       installment grade sub_grade emp_length home_ownership       ...        \
0           162.87     B        B2  10+ years           RENT       ...
1            59.83     C        C4   < 1 year           RENT       ...
2            84.33     C        C5  10+ years           RENT       ...
3           339.31     C        C1  10+ years           RENT       ...
4            67.79     B        B5     1 year           RENT       ...
5           156.46     A        A4    3 years           RENT       ...
6           170.08     C        C5    8 years           RENT       ...
7           109.43     E        E1    9 years           RENT       ...
8           152.39     F        F2    4 years            OWN       ...
9           121.45     B        B5   < 1 year           RENT       ...
10          153.45     C        C3    5 years            OWN       ...
11          402.54     B        B5  10+ years            OWN       ...
12          305.38     C        C1   < 1 year           RENT       ...
13           96.68     B        B1    3 years           RENT       ...
14          325.74     B        B2    3 years           RENT       ...
15           35.31     D        D1   < 1 year           RENT       ...
16          347.98     C        C4    4 years           RENT       ...
17          109.57     A        A1  10+ years       MORTGAGE       ...
18          198.46     B        B3     1 year       MORTGAGE       ...
19          280.01     A        A1    6 years           RENT       ...
20          484.63     C        C4    3 years           RENT       ...
21          701.73     B        B4  10+ years           RENT       ...
22          330.76     B        B3  10+ years            OWN       ...
23          330.76     B        B3    5 years           RENT       ...
24          198.46     B        B3     1 year           RENT       ...
25          483.38     B        B1    2 years       MORTGAGE       ...
26          514.64     C        C2    9 years           RENT       ...
27          123.65     D        D2    2 years           RENT       ...
28          132.31     B        B3  10+ years       MORTGAGE       ...
29          281.15     B        B3   < 1 year           RENT       ...
...            ...   ...       ...        ...            ...       ...
19970       213.15     B        B5  10+ years       MORTGAGE       ...
19971       358.98     D        D4    8 years           RENT       ...
19972       819.78     B        B5    3 years       MORTGAGE       ...
19973       486.58     D        D5  10+ years       MORTGAGE       ...
19974       367.97     E        E1    3 years       MORTGAGE       ...
19975        37.22     A        A4  10+ years       MORTGAGE       ...
19976       521.86     B        B4  10+ years       MORTGAGE       ...
19977       445.13     E        E2    9 years       MORTGAGE       ...
19978       180.01     B        B3     1 year           RENT       ...
19979       162.21     B        B3  10+ years           RENT       ...
19980       257.16     B        B3     1 year           RENT       ...
19981       202.67     A        A5   < 1 year           RENT       ...
19982       421.74     A        A4    7 years       MORTGAGE       ...
19983       648.83     B        B3  10+ years       MORTGAGE       ...
19984       352.51     B        B5  10+ years            OWN       ...
19985       314.80     B        B5  10+ years       MORTGAGE       ...
19986       367.97     E        E1  10+ years       MORTGAGE       ...
19987       148.38     E        E2    8 years           RENT       ...
19988        45.18     C        C1        NaN       MORTGAGE       ...
19989        97.32     D        D5    4 years       MORTGAGE       ...
19990       384.03     C        C1    7 years           RENT       ...
19991       320.94     B        B1  10+ years       MORTGAGE       ...
19992       414.70     A        A5    2 years           RENT       ...
19993       448.99     A        A5  10+ years            OWN       ...
19994       274.28     B        B2    4 years           RENT       ...
19995       539.57     C        C2  10+ years       MORTGAGE       ...
19996       444.11     A        A3    6 years       MORTGAGE       ...
19997       240.86     G        G2    2 years           RENT       ...
19998       227.94     D        D2  10+ years           RENT       ...
19999       280.64     A        A4    2 years           RENT       ...

       open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl  \
0              NaN        NaN      NaN              NaN    NaN         NaN
1              NaN        NaN      NaN              NaN    NaN         NaN
2              NaN        NaN      NaN              NaN    NaN         NaN
3              NaN        NaN      NaN              NaN    NaN         NaN
4              NaN        NaN      NaN              NaN    NaN         NaN
5              NaN        NaN      NaN              NaN    NaN         NaN
6              NaN        NaN      NaN              NaN    NaN         NaN
7              NaN        NaN      NaN              NaN    NaN         NaN
8              NaN        NaN      NaN              NaN    NaN         NaN
9              NaN        NaN      NaN              NaN    NaN         NaN
10             NaN        NaN      NaN              NaN    NaN         NaN
11             NaN        NaN      NaN              NaN    NaN         NaN
12             NaN        NaN      NaN              NaN    NaN         NaN
13             NaN        NaN      NaN              NaN    NaN         NaN
14             NaN        NaN      NaN              NaN    NaN         NaN
15             NaN        NaN      NaN              NaN    NaN         NaN
16             NaN        NaN      NaN              NaN    NaN         NaN
17             NaN        NaN      NaN              NaN    NaN         NaN
18             NaN        NaN      NaN              NaN    NaN         NaN
19             NaN        NaN      NaN              NaN    NaN         NaN
20             NaN        NaN      NaN              NaN    NaN         NaN
21             NaN        NaN      NaN              NaN    NaN         NaN
22             NaN        NaN      NaN              NaN    NaN         NaN
23             NaN        NaN      NaN              NaN    NaN         NaN
24             NaN        NaN      NaN              NaN    NaN         NaN
25             NaN        NaN      NaN              NaN    NaN         NaN
26             NaN        NaN      NaN              NaN    NaN         NaN
27             NaN        NaN      NaN              NaN    NaN         NaN
28             NaN        NaN      NaN              NaN    NaN         NaN
29             NaN        NaN      NaN              NaN    NaN         NaN
...            ...        ...      ...              ...    ...         ...
19970          NaN        NaN      NaN              NaN    NaN         NaN
19971          NaN        NaN      NaN              NaN    NaN         NaN
19972          NaN        NaN      NaN              NaN    NaN         NaN
19973          NaN        NaN      NaN              NaN    NaN         NaN
19974          NaN        NaN      NaN              NaN    NaN         NaN
19975          NaN        NaN      NaN              NaN    NaN         NaN
19976          NaN        NaN      NaN              NaN    NaN         NaN
19977          NaN        NaN      NaN              NaN    NaN         NaN
19978          NaN        NaN      NaN              NaN    NaN         NaN
19979          NaN        NaN      NaN              NaN    NaN         NaN
19980          NaN        NaN      NaN              NaN    NaN         NaN
19981          NaN        NaN      NaN              NaN    NaN         NaN
19982          NaN        NaN      NaN              NaN    NaN         NaN
19983          NaN        NaN      NaN              NaN    NaN         NaN
19984          NaN        NaN      NaN              NaN    NaN         NaN
19985          NaN        NaN      NaN              NaN    NaN         NaN
19986          NaN        NaN      NaN              NaN    NaN         NaN
19987          NaN        NaN      NaN              NaN    NaN         NaN
19988          NaN        NaN      NaN              NaN    NaN         NaN
19989          NaN        NaN      NaN              NaN    NaN         NaN
19990          NaN        NaN      NaN              NaN    NaN         NaN
19991          NaN        NaN      NaN              NaN    NaN         NaN
19992          NaN        NaN      NaN              NaN    NaN         NaN
19993          NaN        NaN      NaN              NaN    NaN         NaN
19994          NaN        NaN      NaN              NaN    NaN         NaN
19995          NaN        NaN      NaN              NaN    NaN         NaN
19996          NaN        NaN      NaN              NaN    NaN         NaN
19997          NaN        NaN      NaN              NaN    NaN         NaN
19998          NaN        NaN      NaN              NaN    NaN         NaN
19999          NaN        NaN      NaN              NaN    NaN         NaN

      inq_last_12m  loan_condition  term_ 36 months term_ 60 months
0              NaN       Good Loan                1               0
1              NaN        Bad Loan                0               1
2              NaN       Good Loan                1               0
3              NaN       Good Loan                1               0
4              NaN       Good Loan                0               1
5              NaN       Good Loan                1               0
6              NaN       Good Loan                0               1
7              NaN       Good Loan                1               0
8              NaN        Bad Loan                0               1
9              NaN        Bad Loan                0               1
10             NaN       Good Loan                0               1
11             NaN       Good Loan                1               0
12             NaN        Bad Loan                1               0
13             NaN       Good Loan                1               0
14             NaN        Bad Loan                1               0
15             NaN       Good Loan                1               0
16             NaN       Good Loan                1               0
17             NaN       Good Loan                1               0
18             NaN       Good Loan                1               0
19             NaN       Good Loan                1               0
20             NaN       Good Loan                0               1
21             NaN        Bad Loan                1               0
22             NaN       Good Loan                1               0
23             NaN       Good Loan                1               0
24             NaN        Bad Loan                1               0
25             NaN       Good Loan                1               0
26             NaN        Bad Loan                1               0
27             NaN        Bad Loan                0               1
28             NaN       Good Loan                1               0
29             NaN       Good Loan                1               0
...            ...             ...              ...             ...
19970          NaN       Good Loan                1               0
19971          NaN       Good Loan                0               1
19972          NaN       Good Loan                1               0
19973          NaN       Good Loan                0               1
19974          NaN       Good Loan                0               1
19975          NaN       Good Loan                1               0
19976          NaN       Good Loan                1               0
19977          NaN        Bad Loan                0               1
19978          NaN       Good Loan                0               1
19979          NaN       Good Loan                1               0
19980          NaN       Good Loan                0               1
19981          NaN       Good Loan                1               0
19982          NaN       Good Loan                1               0
19983          NaN       Good Loan                1               0
19984          NaN        Bad Loan                1               0
19985          NaN       Good Loan                1               0
19986          NaN       Good Loan                0               1
19987          NaN       Good Loan                0               1
19988          NaN        Bad Loan                0               1
19989          NaN       Good Loan                0               1
19990          NaN       Good Loan                0               1
19991          NaN       Good Loan                1               0
19992          NaN       Good Loan                1               0
19993          NaN       Good Loan                1               0
19994          NaN       Good Loan                1               0
19995          NaN       Good Loan                1               0
19996          NaN       Good Loan                1               0
19997          NaN       Good Loan                0               1
19998          NaN       Good Loan                0               1
19999          NaN       Good Loan                1               0

[20000 rows x 70 columns]

In [17]:
# one hot encoding of term column 

pd.get_dummies(loans['term'] ,prefix=['term'])

       ['term']_ 36 months  ['term']_ 60 months
0                        1                    0
1                        0                    1
2                        1                    0
3                        1                    0
4                        0                    1
5                        1                    0
6                        0                    1
7                        1                    0
8                        0                    1
9                        0                    1
10                       0                    1
11                       1                    0
12                       1                    0
13                       1                    0
14                       1                    0
15                       1                    0
16                       1                    0
17                       1                    0
18                       1                    0
19                       1                    0
20                       0                    1
21                       1                    0
22                       1                    0
23                       1                    0
24                       1                    0
25                       1                    0
26                       1                    0
27                       0                    1
28                       1                    0
29                       1                    0
...                    ...                  ...
19970                    1                    0
19971                    0                    1
19972                    1                    0
19973                    0                    1
19974                    0                    1
19975                    1                    0
19976                    1                    0
19977                    0                    1
19978                    0                    1
19979                    1                    0
19980                    0                    1
19981                    1                    0
19982                    1                    0
19983                    1                    0
19984                    1                    0
19985                    1                    0
19986                    0                    1
19987                    0                    1
19988                    0                    1
19989                    0                    1
19990                    0                    1
19991                    1                    0
19992                    1                    0
19993                    1                    0
19994                    1                    0
19995                    1                    0
19996                    1                    0
19997                    0                    1
19998                    0                    1
19999                    1                    0

[20000 rows x 2 columns]

In [18]:
loans.iloc[:,:10]

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT
...,...,...,...,...,...,...,...,...,...,...
19970,6500.0,6500.0,6250.000000,36 months,11.11,213.15,B,B5,10+ years,MORTGAGE
19971,14875.0,14875.0,14875.000000,60 months,15.65,358.98,D,D4,8 years,RENT
19972,25000.0,25000.0,24675.000000,36 months,11.11,819.78,B,B5,3 years,MORTGAGE
19973,20000.0,20000.0,20000.000000,60 months,16.02,486.58,D,D5,10+ years,MORTGAGE
19974,15000.0,15000.0,15000.000000,60 months,16.40,367.97,E,E1,3 years,MORTGAGE
19975,1200.0,1200.0,1200.000000,36 months,7.29,37.22,A,A4,10+ years,MORTGAGE
19976,16000.0,16000.0,15675.000000,36 months,10.74,521.86,B,B4,10+ years,MORTGAGE
19977,18000.0,18000.0,18000.000000,60 months,16.77,445.13,E,E2,9 years,MORTGAGE
19978,8400.0,8400.0,8400.000000,60 months,10.37,180.01,B,B3,1 year,RENT
19979,5000.0,5000.0,5000.000000,36 months,10.37,162.21,B,B3,10+ years,RENT
19980,12000.0,12000.0,12000.000000,60 months,10.37,257.16,B,B3,1 year,RENT
19981,6500.0,6500.0,6475.000000,36 months,7.66,202.67,A,A5,< 1 year,RENT
19982,13600.0,13600.0,13600.000000,36 months,7.29,421.74,A,A4,7 years,MORTGAGE
19983,20000.0,20000.0,19675.000000,36 months,10.37,648.83,B,B3,10+ years,MORTGAGE
19984,10750.0,10750.0,10700.000000,36 months,11.11,352.51,B,B5,10+ years,OWN
19985,9600.0,9600.0,9600.000000,36 months,11.11,314.80,B,B5,10+ years,MORTGAGE
19986,15000.0,15000.0,14875.000000,60 months,16.40,367.97,E,E1,10+ years,MORTGAGE
19987,6000.0,6000.0,5900.000000,60 months,16.77,148.38,E,E2,8 years,RENT
19988,2000.0,2000.0,2000.000000,60 months,12.68,45.18,C,C1,NaN,MORTGAGE
19989,4000.0,4000.0,3900.000000,60 months,16.02,97.32,D,D5,4 years,MORTGAGE
19990,17000.0,17000.0,16975.000000,60 months,12.68,384.03,C,C1,7 years,RENT
19991,10000.0,10000.0,10000.000000,36 months,9.63,320.94,B,B1,10+ years,MORTGAGE
19992,13300.0,13300.0,13225.000000,36 months,7.66,414.70,A,A5,2 years,RENT
19993,14400.0,14400.0,14350.000000,36 months,7.66,448.99,A,A5,10+ years,OWN
19994,8500.0,8500.0,8500.000000,36 months,10.00,274.28,B,B2,4 years,RENT
19995,16000.0,16000.0,15725.000000,36 months,13.06,539.57,C,C2,10+ years,MORTGAGE
19996,14400.0,14400.0,14375.000000,36 months,6.92,444.11,A,A3,6 years,MORTGAGE
19997,9000.0,9000.0,8875.000000,60 months,20.48,240.86,G,G2,2 years,RENT
19998,9600.0,9600.0,9600.000000,60 months,14.91,227.94,D,D2,10+ years,RENT
19999,9050.0,9050.0,9025.000000,36 months,7.29,280.64,A,A4,2 years,RENT

In [19]:
features = ['term' ,'grade' , 'emp_length' ,'home_ownership']
for feature in features:
    loans = pd.concat([loans,pd.get_dummies(loans[feature], prefix=feature)],axis=1)
loans

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,...,emp_length_5 years,emp_length_6 years,emp_length_7 years,emp_length_8 years,emp_length_9 years,emp_length_< 1 year,home_ownership_MORTGAGE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT,...,0,0,0,0,0,0,0,0,0,1
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT,...,0,0,0,0,0,1,0,0,0,1
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT,...,0,0,0,0,0,0,0,0,0,1
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT,...,0,0,0,0,0,0,0,0,0,1
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT,...,0,0,0,0,0,0,0,0,0,1
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT,...,0,0,0,0,0,0,0,0,0,1
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT,...,0,0,0,1,0,0,0,0,0,1
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT,...,0,0,0,0,1,0,0,0,0,1
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN,...,0,0,0,0,0,0,0,0,1,0
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT,...,0,0,0,0,0,1,0,0,0,1
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN,...,1,0,0,0,0,0,0,0,1,0
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN,...,0,0,0,0,0,0,0,0,1,0
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT,...,0,0,0,0,0,1,0,0,0,1
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT,...,0,0,0,0,0,0,0,0,0,1
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT,...,0,0,0,0,0,0,0,0,0,1
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT,...,0,0,0,0,0,1,0,0,0,1
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT,...,0,0,0,0,0,0,0,0,0,1
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT,...,0,1,0,0,0,0,0,0,0,1
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT,...,0,0,0,0,0,0,0,0,0,1
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT,...,0,0,0,0,0,0,0,0,0,1
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN,...,0,0,0,0,0,0,0,0,1,0
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT,...,1,0,0,0,0,0,0,0,0,1
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT,...,0,0,0,0,0,0,0,0,0,1
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT,...,0,0,0,0,1,0,0,0,0,1
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT,...,0,0,0,0,0,0,0,0,0,1
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,6500.0,6500.0,6250.000000,36 months,11.11,213.15,B,B5,10+ years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
19971,14875.0,14875.0,14875.000000,60 months,15.65,358.98,D,D4,8 years,RENT,...,0,0,0,1,0,0,0,0,0,1
19972,25000.0,25000.0,24675.000000,36 months,11.11,819.78,B,B5,3 years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
19973,20000.0,20000.0,20000.000000,60 months,16.02,486.58,D,D5,10+ years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
19974,15000.0,15000.0,15000.000000,60 months,16.40,367.97,E,E1,3 years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
19975,1200.0,1200.0,1200.000000,36 months,7.29,37.22,A,A4,10+ years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
19976,16000.0,16000.0,15675.000000,36 months,10.74,521.86,B,B4,10+ years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
19977,18000.0,18000.0,18000.000000,60 months,16.77,445.13,E,E2,9 years,MORTGAGE,...,0,0,0,0,1,0,1,0,0,0
19978,8400.0,8400.0,8400.000000,60 months,10.37,180.01,B,B3,1 year,RENT,...,0,0,0,0,0,0,0,0,0,1
19979,5000.0,5000.0,5000.000000,36 months,10.37,162.21,B,B3,10+ years,RENT,...,0,0,0,0,0,0,0,0,0,1
19980,12000.0,12000.0,12000.000000,60 months,10.37,257.16,B,B3,1 year,RENT,...,0,0,0,0,0,0,0,0,0,1
19981,6500.0,6500.0,6475.000000,36 months,7.66,202.67,A,A5,< 1 year,RENT,...,0,0,0,0,0,1,0,0,0,1
19982,13600.0,13600.0,13600.000000,36 months,7.29,421.74,A,A4,7 years,MORTGAGE,...,0,0,1,0,0,0,1,0,0,0
19983,20000.0,20000.0,19675.000000,36 months,10.37,648.83,B,B3,10+ years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
19984,10750.0,10750.0,10700.000000,36 months,11.11,352.51,B,B5,10+ years,OWN,...,0,0,0,0,0,0,0,0,1,0
19985,9600.0,9600.0,9600.000000,36 months,11.11,314.80,B,B5,10+ years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
19986,15000.0,15000.0,14875.000000,60 months,16.40,367.97,E,E1,10+ years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
19987,6000.0,6000.0,5900.000000,60 months,16.77,148.38,E,E2,8 years,RENT,...,0,0,0,1,0,0,0,0,0,1
19988,2000.0,2000.0,2000.000000,60 months,12.68,45.18,C,C1,NaN,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
19989,4000.0,4000.0,3900.000000,60 months,16.02,97.32,D,D5,4 years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
19990,17000.0,17000.0,16975.000000,60 months,12.68,384.03,C,C1,7 years,RENT,...,0,0,1,0,0,0,0,0,0,1
19991,10000.0,10000.0,10000.000000,36 months,9.63,320.94,B,B1,10+ years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
19992,13300.0,13300.0,13225.000000,36 months,7.66,414.70,A,A5,2 years,RENT,...,0,0,0,0,0,0,0,0,0,1
19993,14400.0,14400.0,14350.000000,36 months,7.66,448.99,A,A5,10+ years,OWN,...,0,0,0,0,0,0,0,0,1,0
19994,8500.0,8500.0,8500.000000,36 months,10.00,274.28,B,B2,4 years,RENT,...,0,0,0,0,0,0,0,0,0,1
19995,16000.0,16000.0,15725.000000,36 months,13.06,539.57,C,C2,10+ years,MORTGAGE,...,0,0,0,0,0,0,1,0,0,0
19996,14400.0,14400.0,14375.000000,36 months,6.92,444.11,A,A3,6 years,MORTGAGE,...,0,1,0,0,0,0,1,0,0,0
19997,9000.0,9000.0,8875.000000,60 months,20.48,240.86,G,G2,2 years,RENT,...,0,0,0,0,0,0,0,0,0,1
19998,9600.0,9600.0,9600.000000,60 months,14.91,227.94,D,D2,10+ years,RENT,...,0,0,0,0,0,0,0,0,0,1
19999,9050.0,9050.0,9025.000000,36 months,7.29,280.64,A,A4,2 years,RENT,...,0,0,0,0,0,0,0,0,0,1

In [20]:
loans['addr_state'].unique()

# Make a list with each of the regions by state.

west = ['CA', 'OR', 'UT','WA', 'CO', 'NV', 'AK', 'MT', 'HI', 'WY', 'ID']
south_west = ['AZ', 'TX', 'NM', 'OK']
south_east = ['GA', 'NC', 'VA', 'FL', 'KY', 'SC', 'LA', 'AL', 'WV', 'DC', 'AR', 'DE', 'MS', 'TN' ]
mid_west = ['IL', 'MO', 'MN', 'OH', 'WI', 'KS', 'MI', 'SD', 'IA', 'NE', 'IN', 'ND']
north_east = ['CT', 'NY', 'PA', 'NJ', 'RI','MA', 'MD', 'VT', 'NH', 'ME']

In [21]:

loans['region'] = np.nan

def finding_regions(state):
    if state in west:
        return 'West'
    elif state in south_west:
        return 'SouthWest'
    elif state in south_east:
        return 'SouthEast'
    elif state in mid_west:
        return 'MidWest'
    elif state in north_east:
        return 'NorthEast'

In [22]:
loans['region'] = loans['addr_state'].apply(finding_regions)

In [23]:
loans['region'].value_counts()

West         5202
NorthEast    5163
SouthEast    4687
MidWest      2878
SouthWest    2070
Name: region, dtype: int64

In [24]:
# Let's create categories for annual_income since most of the bad loans are located below 100k

loans['income_category'] = np.nan
lst = [loans]

for col in lst:
    col.loc[col['annual_income'] <= 100000, 'income_category'] = 'Low'
    col.loc[(col['annual_income'] > 100000) & (col['annual_income'] <= 200000), 'income_category'] = 'Medium'
    col.loc[col['annual_income'] > 200000, 'income_category'] = 'High'

In [25]:
print( loans['income_category'] ,loans['income_category'].value_counts()  )

0           Low
1           Low
2           Low
3           Low
4           Low
5           Low
6           Low
7           Low
8           Low
9           Low
10          Low
11          Low
12          Low
13          Low
14          Low
15          Low
16          Low
17       Medium
18          Low
19          Low
20          Low
21       Medium
22          Low
23          Low
24          Low
25          Low
26          Low
27          Low
28       Medium
29          Low
          ...
19970       Low
19971       Low
19972    Medium
19973    Medium
19974    Medium
19975       Low
19976      High
19977       Low
19978       Low
19979       Low
19980    Medium
19981       Low
19982    Medium
19983    Medium
19984       Low
19985       Low
19986       Low
19987       Low
19988       Low
19989       Low
19990       Low
19991       Low
19992       Low
19993       Low
19994       Low
19995       Low
19996       Low
19997       Low
19998       Low
19999       Low
Name: income_category, Length: 20000, dtype: object Low       17004
Medium     2697
High        299
Name: income_category, dtype: int64

In [26]:
loans['interest_rate'].describe()
# Average interest is 13.26% Anything above this will be considered of high risk let's see if this is true.
loans['interest_payments'] = np.nan
lst = [loans]

for col in lst:
    col.loc[col['interest_rate'] <= 13.23, 'interest_payments'] = 'Low'
    col.loc[col['interest_rate'] > 13.23, 'interest_payments'] = 'High'
    
loans.head()

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,...,emp_length_8 years,emp_length_9 years,emp_length_< 1 year,home_ownership_MORTGAGE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,region,income_category,interest_payments
0,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,10+ years,RENT,...,0,0,0,0,0,0,1,SouthWest,Low,Low
1,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,< 1 year,RENT,...,0,0,1,0,0,0,1,SouthEast,Low,High
2,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,10+ years,RENT,...,0,0,0,0,0,0,1,MidWest,Low,High
3,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,10+ years,RENT,...,0,0,0,0,0,0,1,West,Low,High
4,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,1 year,RENT,...,0,0,0,0,0,0,1,West,Low,Low

In [27]:
loans['interest_payments'].value_counts()

Low     12174
High     7826
Name: interest_payments, dtype: int64

In [29]:
feature_1 = ['region' , 'income_category' , 'interest_payments']
features =  features + feature_1
features

['term',
 'grade',
 'emp_length',
 'home_ownership',
 'region',
 'income_category',
 'interest_payments']

In [30]:
for feature in feature_1:
    loans = pd.concat([loans , pd.get_dummies(loans[feature], prefix=feature)] , axis=1)
loans

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,...,region_MidWest,region_NorthEast,region_SouthEast,region_SouthWest,region_West,income_category_High,income_category_Low,income_category_Medium,interest_payments_High,interest_payments_Low
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT,...,0,0,0,1,0,0,1,0,0,1
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT,...,0,0,1,0,0,0,1,0,1,0
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT,...,1,0,0,0,0,0,1,0,1,0
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT,...,0,0,0,0,1,0,1,0,1,0
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT,...,0,0,0,0,1,0,1,0,0,1
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT,...,0,0,0,1,0,0,1,0,0,1
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT,...,0,0,1,0,0,0,1,0,1,0
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT,...,0,0,0,0,1,0,1,0,1,0
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN,...,0,0,0,0,1,0,1,0,1,0
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT,...,0,0,0,1,0,0,1,0,0,1
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN,...,0,0,0,1,0,0,1,0,1,0
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN,...,0,0,0,0,1,0,1,0,0,1
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT,...,0,0,1,0,0,0,1,0,1,0
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT,...,1,0,0,0,0,0,1,0,0,1
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT,...,0,0,0,0,1,0,1,0,0,1
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT,...,1,0,0,0,0,0,1,0,1,0
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT,...,0,0,0,0,1,0,1,0,1,0
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE,...,0,1,0,0,0,0,0,1,0,1
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE,...,0,0,0,0,1,0,1,0,0,1
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT,...,0,0,0,0,1,0,1,0,0,1
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT,...,0,0,0,1,0,0,1,0,1,0
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT,...,0,0,1,0,0,0,0,1,0,1
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN,...,0,0,0,1,0,0,1,0,0,1
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT,...,0,0,0,0,1,0,1,0,0,1
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT,...,0,0,0,0,1,0,1,0,0,1
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE,...,1,0,0,0,0,0,1,0,0,1
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT,...,0,1,0,0,0,0,1,0,1,0
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT,...,0,1,0,0,0,0,1,0,1,0
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE,...,0,0,1,0,0,0,0,1,0,1
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,6500.0,6500.0,6250.000000,36 months,11.11,213.15,B,B5,10+ years,MORTGAGE,...,0,1,0,0,0,0,1,0,0,1
19971,14875.0,14875.0,14875.000000,60 months,15.65,358.98,D,D4,8 years,RENT,...,0,0,1,0,0,0,1,0,1,0
19972,25000.0,25000.0,24675.000000,36 months,11.11,819.78,B,B5,3 years,MORTGAGE,...,0,0,1,0,0,0,0,1,0,1
19973,20000.0,20000.0,20000.000000,60 months,16.02,486.58,D,D5,10+ years,MORTGAGE,...,0,0,0,0,1,0,0,1,1,0
19974,15000.0,15000.0,15000.000000,60 months,16.40,367.97,E,E1,3 years,MORTGAGE,...,0,0,0,1,0,0,0,1,1,0
19975,1200.0,1200.0,1200.000000,36 months,7.29,37.22,A,A4,10+ years,MORTGAGE,...,1,0,0,0,0,0,1,0,0,1
19976,16000.0,16000.0,15675.000000,36 months,10.74,521.86,B,B4,10+ years,MORTGAGE,...,0,0,0,0,1,1,0,0,0,1
19977,18000.0,18000.0,18000.000000,60 months,16.77,445.13,E,E2,9 years,MORTGAGE,...,1,0,0,0,0,0,1,0,1,0
19978,8400.0,8400.0,8400.000000,60 months,10.37,180.01,B,B3,1 year,RENT,...,0,1,0,0,0,0,1,0,0,1
19979,5000.0,5000.0,5000.000000,36 months,10.37,162.21,B,B3,10+ years,RENT,...,0,0,0,1,0,0,1,0,0,1
19980,12000.0,12000.0,12000.000000,60 months,10.37,257.16,B,B3,1 year,RENT,...,0,0,0,0,1,0,0,1,0,1
19981,6500.0,6500.0,6475.000000,36 months,7.66,202.67,A,A5,< 1 year,RENT,...,0,0,0,0,1,0,1,0,0,1
19982,13600.0,13600.0,13600.000000,36 months,7.29,421.74,A,A4,7 years,MORTGAGE,...,0,1,0,0,0,0,0,1,0,1
19983,20000.0,20000.0,19675.000000,36 months,10.37,648.83,B,B3,10+ years,MORTGAGE,...,0,0,0,0,1,0,0,1,0,1
19984,10750.0,10750.0,10700.000000,36 months,11.11,352.51,B,B5,10+ years,OWN,...,1,0,0,0,0,0,1,0,0,1
19985,9600.0,9600.0,9600.000000,36 months,11.11,314.80,B,B5,10+ years,MORTGAGE,...,0,1,0,0,0,0,1,0,0,1
19986,15000.0,15000.0,14875.000000,60 months,16.40,367.97,E,E1,10+ years,MORTGAGE,...,0,1,0,0,0,0,1,0,1,0
19987,6000.0,6000.0,5900.000000,60 months,16.77,148.38,E,E2,8 years,RENT,...,0,1,0,0,0,0,1,0,1,0
19988,2000.0,2000.0,2000.000000,60 months,12.68,45.18,C,C1,NaN,MORTGAGE,...,0,0,0,0,1,0,1,0,0,1
19989,4000.0,4000.0,3900.000000,60 months,16.02,97.32,D,D5,4 years,MORTGAGE,...,0,0,0,1,0,0,1,0,1,0
19990,17000.0,17000.0,16975.000000,60 months,12.68,384.03,C,C1,7 years,RENT,...,0,0,0,0,1,0,1,0,0,1
19991,10000.0,10000.0,10000.000000,36 months,9.63,320.94,B,B1,10+ years,MORTGAGE,...,1,0,0,0,0,0,1,0,0,1
19992,13300.0,13300.0,13225.000000,36 months,7.66,414.70,A,A5,2 years,RENT,...,0,0,1,0,0,0,1,0,0,1
19993,14400.0,14400.0,14350.000000,36 months,7.66,448.99,A,A5,10+ years,OWN,...,0,1,0,0,0,0,1,0,0,1
19994,8500.0,8500.0,8500.000000,36 months,10.00,274.28,B,B2,4 years,RENT,...,0,0,1,0,0,0,1,0,0,1
19995,16000.0,16000.0,15725.000000,36 months,13.06,539.57,C,C2,10+ years,MORTGAGE,...,0,0,1,0,0,0,1,0,0,1
19996,14400.0,14400.0,14375.000000,36 months,6.92,444.11,A,A3,6 years,MORTGAGE,...,0,0,0,0,1,0,1,0,0,1
19997,9000.0,9000.0,8875.000000,60 months,20.48,240.86,G,G2,2 years,RENT,...,0,0,0,0,1,0,1,0,1,0
19998,9600.0,9600.0,9600.000000,60 months,14.91,227.94,D,D2,10+ years,RENT,...,0,0,0,0,1,0,1,0,1,0
19999,9050.0,9050.0,9025.000000,36 months,7.29,280.64,A,A4,2 years,RENT,...,0,0,0,1,0,0,1,0,0,1

In [31]:
loans['loan_amount'].value_counts()

12000.0    1291
10000.0    1175
6000.0      920
5000.0      877
15000.0     849
20000.0     756
8000.0      753
35000.0     685
4000.0      495
3000.0      482
7000.0      461
25000.0     457
16000.0     440
30000.0     380
14000.0     366
18000.0     341
9000.0      305
24000.0     255
2000.0      250
4800.0      219
7200.0      192
13000.0     177
9600.0      174
7500.0      172
2500.0      166
21000.0     162
3600.0      160
3500.0      152
28000.0     149
11000.0     148
           ...
26025.0       1
18275.0       1
10025.0       1
19300.0       1
18875.0       1
14050.0       1
17900.0       1
8275.0        1
16350.0       1
19925.0       1
30100.0       1
24975.0       1
3550.0        1
7675.0        1
13625.0       1
18600.0       1
10925.0       1
22875.0       1
23425.0       1
15025.0       1
8025.0        1
2075.0        1
9850.0        1
22900.0       1
28250.0       1
34200.0       1
21700.0       1
16775.0       1
29550.0       1
34525.0       1
Name: loan_amount, Length: 819, dtype: int64

In [32]:
loans['loan_amount_range'] = np.nan
lst = [loans]

for col in lst:
    col.loc[col['loan_amount'] <= 10000, 'loan_amount_range'] = 'Low'
    col.loc[(col['loan_amount'] > 10000) & (col['loan_amount'] <= 20000), 'loan_amount_range'] = 'Medium'
    col.loc[col['loan_amount'] > 20000, 'loan_amount_range'] = 'High'

In [33]:
loans = pd.concat([loans , pd.get_dummies(loans['loan_amount_range'] , prefix = ['loan_amount_range'])] ,axis =1)
#loans = pd.concat([loans , pd.get_dummies(loans[feature], prefix=feature)] , axis=1)

In [34]:
loans

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,...,region_West,income_category_High,income_category_Low,income_category_Medium,interest_payments_High,interest_payments_Low,loan_amount_range,['loan_amount_range']_High,['loan_amount_range']_Low,['loan_amount_range']_Medium
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT,...,0,0,1,0,0,1,Low,0,1,0
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT,...,0,0,1,0,1,0,Low,0,1,0
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT,...,0,0,1,0,1,0,Low,0,1,0
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT,...,1,0,1,0,1,0,Low,0,1,0
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT,...,1,0,1,0,0,1,Low,0,1,0
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT,...,0,0,1,0,0,1,Low,0,1,0
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT,...,0,0,1,0,1,0,Low,0,1,0
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT,...,1,0,1,0,1,0,Low,0,1,0
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN,...,1,0,1,0,1,0,Low,0,1,0
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT,...,0,0,1,0,0,1,Low,0,1,0
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN,...,0,0,1,0,1,0,Low,0,1,0
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN,...,1,0,1,0,0,1,Medium,0,0,1
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT,...,0,0,1,0,1,0,Low,0,1,0
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT,...,0,0,1,0,0,1,Low,0,1,0
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT,...,1,0,1,0,0,1,Low,0,1,0
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT,...,0,0,1,0,1,0,Low,0,1,0
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT,...,1,0,1,0,1,0,Low,0,1,0
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE,...,0,0,0,1,0,1,Low,0,1,0
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE,...,1,0,1,0,0,1,Low,0,1,0
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT,...,1,0,1,0,0,1,Low,0,1,0
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT,...,0,0,1,0,1,0,High,1,0,0
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT,...,0,0,0,1,0,1,High,1,0,0
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN,...,0,0,1,0,0,1,Low,0,1,0
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT,...,1,0,1,0,0,1,Low,0,1,0
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT,...,1,0,1,0,0,1,Low,0,1,0
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE,...,0,0,1,0,0,1,Medium,0,0,1
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT,...,0,0,1,0,1,0,Medium,0,0,1
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT,...,0,0,1,0,1,0,Low,0,1,0
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE,...,0,0,0,1,0,1,Low,0,1,0
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT,...,0,0,1,0,0,1,Low,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,6500.0,6500.0,6250.000000,36 months,11.11,213.15,B,B5,10+ years,MORTGAGE,...,0,0,1,0,0,1,Low,0,1,0
19971,14875.0,14875.0,14875.000000,60 months,15.65,358.98,D,D4,8 years,RENT,...,0,0,1,0,1,0,Medium,0,0,1
19972,25000.0,25000.0,24675.000000,36 months,11.11,819.78,B,B5,3 years,MORTGAGE,...,0,0,0,1,0,1,High,1,0,0
19973,20000.0,20000.0,20000.000000,60 months,16.02,486.58,D,D5,10+ years,MORTGAGE,...,1,0,0,1,1,0,Medium,0,0,1
19974,15000.0,15000.0,15000.000000,60 months,16.40,367.97,E,E1,3 years,MORTGAGE,...,0,0,0,1,1,0,Medium,0,0,1
19975,1200.0,1200.0,1200.000000,36 months,7.29,37.22,A,A4,10+ years,MORTGAGE,...,0,0,1,0,0,1,Low,0,1,0
19976,16000.0,16000.0,15675.000000,36 months,10.74,521.86,B,B4,10+ years,MORTGAGE,...,1,1,0,0,0,1,Medium,0,0,1
19977,18000.0,18000.0,18000.000000,60 months,16.77,445.13,E,E2,9 years,MORTGAGE,...,0,0,1,0,1,0,Medium,0,0,1
19978,8400.0,8400.0,8400.000000,60 months,10.37,180.01,B,B3,1 year,RENT,...,0,0,1,0,0,1,Low,0,1,0
19979,5000.0,5000.0,5000.000000,36 months,10.37,162.21,B,B3,10+ years,RENT,...,0,0,1,0,0,1,Low,0,1,0
19980,12000.0,12000.0,12000.000000,60 months,10.37,257.16,B,B3,1 year,RENT,...,1,0,0,1,0,1,Medium,0,0,1
19981,6500.0,6500.0,6475.000000,36 months,7.66,202.67,A,A5,< 1 year,RENT,...,1,0,1,0,0,1,Low,0,1,0
19982,13600.0,13600.0,13600.000000,36 months,7.29,421.74,A,A4,7 years,MORTGAGE,...,0,0,0,1,0,1,Medium,0,0,1
19983,20000.0,20000.0,19675.000000,36 months,10.37,648.83,B,B3,10+ years,MORTGAGE,...,1,0,0,1,0,1,Medium,0,0,1
19984,10750.0,10750.0,10700.000000,36 months,11.11,352.51,B,B5,10+ years,OWN,...,0,0,1,0,0,1,Medium,0,0,1
19985,9600.0,9600.0,9600.000000,36 months,11.11,314.80,B,B5,10+ years,MORTGAGE,...,0,0,1,0,0,1,Low,0,1,0
19986,15000.0,15000.0,14875.000000,60 months,16.40,367.97,E,E1,10+ years,MORTGAGE,...,0,0,1,0,1,0,Medium,0,0,1
19987,6000.0,6000.0,5900.000000,60 months,16.77,148.38,E,E2,8 years,RENT,...,0,0,1,0,1,0,Low,0,1,0
19988,2000.0,2000.0,2000.000000,60 months,12.68,45.18,C,C1,NaN,MORTGAGE,...,1,0,1,0,0,1,Low,0,1,0
19989,4000.0,4000.0,3900.000000,60 months,16.02,97.32,D,D5,4 years,MORTGAGE,...,0,0,1,0,1,0,Low,0,1,0
19990,17000.0,17000.0,16975.000000,60 months,12.68,384.03,C,C1,7 years,RENT,...,1,0,1,0,0,1,Medium,0,0,1
19991,10000.0,10000.0,10000.000000,36 months,9.63,320.94,B,B1,10+ years,MORTGAGE,...,0,0,1,0,0,1,Low,0,1,0
19992,13300.0,13300.0,13225.000000,36 months,7.66,414.70,A,A5,2 years,RENT,...,0,0,1,0,0,1,Medium,0,0,1
19993,14400.0,14400.0,14350.000000,36 months,7.66,448.99,A,A5,10+ years,OWN,...,0,0,1,0,0,1,Medium,0,0,1
19994,8500.0,8500.0,8500.000000,36 months,10.00,274.28,B,B2,4 years,RENT,...,0,0,1,0,0,1,Low,0,1,0
19995,16000.0,16000.0,15725.000000,36 months,13.06,539.57,C,C2,10+ years,MORTGAGE,...,0,0,1,0,0,1,Medium,0,0,1
19996,14400.0,14400.0,14375.000000,36 months,6.92,444.11,A,A3,6 years,MORTGAGE,...,1,0,1,0,0,1,Medium,0,0,1
19997,9000.0,9000.0,8875.000000,60 months,20.48,240.86,G,G2,2 years,RENT,...,1,0,1,0,1,0,Low,0,1,0
19998,9600.0,9600.0,9600.000000,60 months,14.91,227.94,D,D2,10+ years,RENT,...,1,0,1,0,1,0,Low,0,1,0
19999,9050.0,9050.0,9025.000000,36 months,7.29,280.64,A,A4,2 years,RENT,...,0,0,1,0,0,1,Low,0,1,0

Here, we see that we have some feature columns that have to do with grade of the loan, annual income, home ownership status, etc. Let's take a look at the distribution of loan grades in the dataset.

In [35]:
# Copy Dataframe
complete_df = loans.copy()


# Handling Missing Numeric Values

# Transform Missing Values for numeric dataframe
# Nevertheless check what these variables mean tomorrow in the morning.
for col in ('dti_joint', 'annual_inc_joint', 'il_util', 'mths_since_rcnt_il', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
           'open_il_24m', 'inq_last_12m', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl',
           'mths_since_last_record', 'mths_since_last_major_derog', 'mths_since_last_delinq', 'total_bal_il', 'tot_coll_amt',
           'tot_cur_bal', 'total_rev_hi_lim', 'revol_util', 'collections_12_mths_ex_med', 'open_acc', 'inq_last_6mths',
           'verification_status_joint', 'acc_now_delinq'):
    complete_df[col] = complete_df[col].fillna(0)

In [36]:
# # Get the mode of next payment date and last payment date and the last date credit amount was pulled   
complete_df["next_pymnt_d"] = complete_df.groupby("region")["next_pymnt_d"].transform(lambda x: x.fillna(x.mode))
complete_df["last_pymnt_d"] = complete_df.groupby("region")["last_pymnt_d"].transform(lambda x: x.fillna(x.mode))
complete_df["last_credit_pull_d"] = complete_df.groupby("region")["last_credit_pull_d"].transform(lambda x: x.fillna(x.mode))
complete_df["earliest_cr_line"] = complete_df.groupby("region")["earliest_cr_line"].transform(lambda x: x.fillna(x.mode))

In [37]:
# # Get the mode on the number of accounts in which the client is delinquent
complete_df["pub_rec"] = complete_df.groupby("region")["pub_rec"].transform(lambda x: x.fillna(x.median()))

# # Get the mean of the annual income depending in the region the client is located.
complete_df["annual_income"] = complete_df.groupby("region")["annual_income"].transform(lambda x: x.fillna(x.mean()))

# Get the mode of the  total number of credit lines the borrower has 
complete_df["total_acc"] = complete_df.groupby("region")["total_acc"].transform(lambda x: x.fillna(x.median()))

# Mode of credit delinquencies in the past two years.
complete_df["delinq_2yrs"] = complete_df.groupby("region")["delinq_2yrs"].transform(lambda x: x.fillna(x.mean()))

In [38]:
# convert loan_condition to loan_condition_int means (good loan = 1 bad loan = -1)

complete_df['loan_condition_int'] = complete_df['loan_condition'].apply(lambda x: 1 if x=='Good Loan' else -1)

In [41]:
complete_df = complete_df.drop(features ,axis =1)

In [45]:
complete_df = complete_df.iloc[:,64:]
complete_df

,term_ 36 months,term_ 60 months,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,emp_length_1 year,...,income_category_High,income_category_Low,income_category_Medium,interest_payments_High,interest_payments_Low,loan_amount_range,['loan_amount_range']_High,['loan_amount_range']_Low,['loan_amount_range']_Medium,loan_condition_int
0,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1
1,0,1,0,0,1,0,0,0,0,0,...,0,1,0,1,0,Low,0,1,0,-1
2,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,Low,0,1,0,1
3,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,Low,0,1,0,1
4,0,1,0,1,0,0,0,0,0,1,...,0,1,0,0,1,Low,0,1,0,1
5,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1
6,0,1,0,0,1,0,0,0,0,0,...,0,1,0,1,0,Low,0,1,0,1
7,1,0,0,0,0,0,1,0,0,0,...,0,1,0,1,0,Low,0,1,0,1
8,0,1,0,0,0,0,0,1,0,0,...,0,1,0,1,0,Low,0,1,0,-1
9,0,1,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,-1
10,0,1,0,0,1,0,0,0,0,0,...,0,1,0,1,0,Low,0,1,0,1
11,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Medium,0,0,1,1
12,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,Low,0,1,0,-1
13,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1
14,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,-1
15,1,0,0,0,0,1,0,0,0,0,...,0,1,0,1,0,Low,0,1,0,1
16,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,Low,0,1,0,1
17,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,Low,0,1,0,1
18,1,0,0,1,0,0,0,0,0,1,...,0,1,0,0,1,Low,0,1,0,1
19,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1
20,0,1,0,0,1,0,0,0,0,0,...,0,1,0,1,0,High,1,0,0,1
21,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,High,1,0,0,-1
22,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1
23,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1
24,1,0,0,1,0,0,0,0,0,1,...,0,1,0,0,1,Low,0,1,0,-1
25,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Medium,0,0,1,1
26,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,Medium,0,0,1,-1
27,0,1,0,0,0,1,0,0,0,0,...,0,1,0,1,0,Low,0,1,0,-1
28,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,Low,0,1,0,1
29,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1
19971,0,1,0,0,0,1,0,0,0,0,...,0,1,0,1,0,Medium,0,0,1,1
19972,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,High,1,0,0,1
19973,0,1,0,0,0,1,0,0,0,0,...,0,0,1,1,0,Medium,0,0,1,1
19974,0,1,0,0,0,0,1,0,0,0,...,0,0,1,1,0,Medium,0,0,1,1
19975,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1
19976,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,Medium,0,0,1,1
19977,0,1,0,0,0,0,1,0,0,0,...,0,1,0,1,0,Medium,0,0,1,-1
19978,0,1,0,1,0,0,0,0,0,1,...,0,1,0,0,1,Low,0,1,0,1
19979,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1
19980,0,1,0,1,0,0,0,0,0,1,...,0,0,1,0,1,Medium,0,0,1,1
19981,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1
19982,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,Medium,0,0,1,1
19983,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,Medium,0,0,1,1
19984,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Medium,0,0,1,-1
19985,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1
19986,0,1,0,0,0,0,1,0,0,0,...,0,1,0,1,0,Medium,0,0,1,1
19987,0,1,0,0,0,0,1,0,0,0,...,0,1,0,1,0,Low,0,1,0,1
19988,0,1,0,0,1,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,-1
19989,0,1,0,0,0,1,0,0,0,0,...,0,1,0,1,0,Low,0,1,0,1
19990,0,1,0,0,1,0,0,0,0,0,...,0,1,0,0,1,Medium,0,0,1,1
19991,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1
19992,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,Medium,0,0,1,1
19993,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,Medium,0,0,1,1
19994,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1
19995,1,0,0,0,1,0,0,0,0,0,...,0,1,0,0,1,Medium,0,0,1,1
19996,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,Medium,0,0,1,1
19997,0,1,0,0,0,0,0,0,1,0,...,0,1,0,1,0,Low,0,1,0,1
19998,0,1,0,0,0,1,0,0,0,0,...,0,1,0,1,0,Low,0,1,0,1
19999,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,Low,0,1,0,1

In [110]:
# Drop these variables before scaling but don't drop these when we perform feature engineering on missing values.
# Columns to delete or fix: earliest_cr_line, last_pymnt_d, next_pymnt_d, last_credit_pull_d, verification_status_joint

# ---->>>> Fix the problems shown during scaling with the columns above.

complete_df.drop(['income_category', 'region',  'emp_length', 'loan_condition',
                 'earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 
                 'verification_status_joint', 'emp_length_int', 'total_rec_prncp', 'funded_amount', 'investor_funds', 
                 'sub_grade', 'loan_status', 'interest_payments', 
                 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
               'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
               'collection_recovery_fee', 'last_pymnt_amnt',
               'collections_12_mths_ex_med', 'mths_since_last_major_derog',
               'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
               'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
               'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
               'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
               'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'], axis=1, inplace=True)

KeyError: "['income_category' 'region' 'emp_length' 'loan_condition'\n 'earliest_cr_line' 'last_pymnt_d' 'next_pymnt_d' 'last_credit_pull_d'\n 'verification_status_joint' 'emp_length_int' 'total_rec_prncp'\n 'funded_amount' 'investor_funds' 'sub_grade' 'loan_status'\n 'interest_payments' 'initial_list_status' 'out_prncp' 'out_prncp_inv'\n 'total_pymnt' 'total_pymnt_inv' 'total_rec_int' 'total_rec_late_fee'\n 'recoveries' 'collection_recovery_fee' 'last_pymnt_amnt'\n 'collections_12_mths_ex_med' 'mths_since_last_major_derog' 'policy_code'\n 'application_type' 'annual_inc_joint' 'dti_joint' 'acc_now_delinq'\n 'tot_coll_amt' 'tot_cur_bal' 'open_acc_6m' 'open_il_6m' 'open_il_12m'\n 'open_il_24m' 'mths_since_rcnt_il' 'total_bal_il' 'il_util' 'open_rv_12m'\n 'open_rv_24m' 'max_bal_bc' 'all_util' 'total_rev_hi_lim' 'inq_fi'\n 'total_cu_tl' 'inq_last_12m'] not found in axis"

In [46]:
complete_df.columns

Index(['term_ 36 months', 'term_ 60 months', 'grade_A', 'grade_B', 'grade_C',
       'grade_D', 'grade_E', 'grade_F', 'grade_G', 'emp_length_1 year',
       'emp_length_10+ years', 'emp_length_2 years', 'emp_length_3 years',
       'emp_length_4 years', 'emp_length_5 years', 'emp_length_6 years',
       'emp_length_7 years', 'emp_length_8 years', 'emp_length_9 years',
       'emp_length_< 1 year', 'home_ownership_MORTGAGE',
       'home_ownership_OTHER', 'home_ownership_OWN', 'home_ownership_RENT',
       'region_MidWest', 'region_NorthEast', 'region_SouthEast',
       'region_SouthWest', 'region_West', 'income_category_High',
       'income_category_Low', 'income_category_Medium',
       'interest_payments_High', 'interest_payments_Low', 'loan_amount_range',
       '['loan_amount_range']_High', '['loan_amount_range']_Low',
       '['loan_amount_range']_Medium', 'loan_condition_int'],
      dtype='object')

In [47]:
complete_df.isnull().sum().max() # Maximum number of nulls.

0

We can see that over half of the loan grades are assigned values `B` or `C`. Each loan is assigned one of these grades, along with a more finely discretized feature called `sub_grade` (feel free to explore that feature column as well!). These values depend on the loan application and credit report, and determine the interest rate of the loan. More information can be found [here](https://www.lendingclub.com/public/rates-and-fees.action).

Now, let's look at a different feature.

In [48]:
complete_df['loan_condition_int'].value_counts()

 1    16952
-1     3048
Name: loan_condition_int, dtype: int64

 # some other code

This feature describes whether the loanee is mortaging, renting, or owns a home. We can see that a small percentage of the loanees own a home.

## Exploring the target column

The target column (label column) of the dataset that we are interested in is called `bad_loans`. In this column **1** means a risky (bad) loan **0** means a safe  loan.

In order to make this more intuitive and consistent with the lectures, we reassign the target to be:
* **+1** as a safe  loan, 
* **-1** as a risky (bad) loan. 

We put this in a new column called `safe_loans`.

In [49]:
complete_df['loan_condition_int'].value_counts()

 1    16952
-1     3048
Name: loan_condition_int, dtype: int64

Now, let us explore the distribution of the column `safe_loans`. This gives us a sense of how many safe and risky loans are present in the dataset.

In [13]:
#loans['safe_loans'].show(view = 'Categorical')

You should have:
* Around 81% safe loans
* Around 19% risky loans

It looks like most of these loans are safe loans (thankfully). But this does make our problem of identifying risky loans challenging.

## Features for the classification algorithm

In this assignment, we will be using a subset of features (categorical and numeric). The features we will be using are **described in the code comments** below. If you are a finance geek, the [LendingClub](https://www.lendingclub.com/) website has a lot more details about these features.

In [16]:
features = ['grade',                     # grade of the loan
            'sub_grade',                 # sub-grade of the loan
            'short_emp',                 # one year or less of employment
            'emp_length_num',            # number of years of employment
            'home_ownership',            # home_ownership status: own, mortgage or rent
            'dti',                       # debt to income ratio
            'purpose',                   # the purpose of the loan
            'term',                      # the term of the loan
            'last_delinq_none',          # has borrower had a delinquincy
            'last_major_derog_none',     # has borrower had 90 day or worse rating
            'revol_util',                # percent of available credit being used
            'total_rec_late_fee',        # total late fees received to day
           ]

target = 'safe_loans'                   # prediction target (y) (+1 means safe, -1 is risky)

# Extract the feature columns and target column
loans = loans[features + [target]]

In [19]:
#here only given features are extracted form data 
#loans

## Sample data to balance classes

As we explored above, our data is disproportionally full of safe loans.  Let's create two datasets: one with just the safe loans (`safe_loans_raw`) and one with just the risky loans (`risky_loans_raw`).

In [20]:
#target ='safe_loans' from above 
safe_loans_raw = loans[loans[target] == +1]
risky_loans_raw = loans[loans[target] == -1]
print "Number of safe loans  : %s" % len(safe_loans_raw)
print "Number of risky loans : %s" % len(risky_loans_raw)

Number of safe loans  : 99457
Number of risky loans : 23150

In [25]:
len(safe_loans_raw)/float(len(loans['safe_loans']))

0.8111853319957262

Now, write some code to compute below the percentage of safe and risky loans in the dataset and validate these numbers against what was given using `.show` earlier in the assignment:

In [26]:
print "Percentage of safe loans  :", len(safe_loans_raw)/float(len(loans['safe_loans']))

print "Percentage of risky loans :", len(risky_loans_raw)/float(len(loans['safe_loans']))

Percentage of safe loans  : 0.811185331996
Percentage of risky loans : 0.188814668004

One way to combat class imbalance is to undersample the larger class until the class distribution is approximately half and half. Here, we will undersample the larger class (safe loans) in order to balance out our dataset. This means we are throwing away many data points. We used `seed=1` so everyone gets the same results.

In [47]:
# Since there are fewer risky loans than safe loans, find the ratio of the sizes
# and use that percentage to undersample the safe loans.
percentage = len(risky_loans_raw)/float(len(safe_loans_raw))

# here safe_loans are extracted using sample % and adding to loans_data
#(i.e % is 0.23% which is used to get 0.23% of safe_loans is taken and rest is added to risky as loans_data)
risky_loans = risky_loans_raw
safe_loans = safe_loans_raw.sample(percentage, seed=1)

# Append the risky_loans with the downsampled version of safe_loans
loans_data = risky_loans.append(safe_loans)

In [48]:
#here safe was 99100 after sample (percentge 0,23) only 0.23 is taken from safe and
#it added to risky as loans_data ie 23000+23100 =46508
print "Percentage of safe loans                 :", len(safe_loans) / float(len(loans_data))
print "Percentage of risky loans                :", len(risky_loans) / float(len(loans_data))
print "Total number of loans in our new dataset :", len(loans_data)

Percentage of safe loans                 : 0.502236174422
Percentage of risky loans                : 0.497763825578
Total number of loans in our new dataset : 46508

**Note:** There are many approaches for dealing with imbalanced data, including some where we modify the learning algorithm. These approaches are beyond the scope of this course, but some of them are reviewed in this [paper](http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=5128907&url=http%3A%2F%2Fieeexplore.ieee.org%2Fiel5%2F69%2F5173046%2F05128907.pdf%3Farnumber%3D5128907 ). For this assignment, we use the simplest possible approach, where we subsample the overly represented class to get a more balanced dataset. In general, and especially when the data is highly imbalanced, we recommend using more advanced methods.

# after data engineering complete_df is new dataset which is further               going for process under

In [56]:
complete_df = complete_df.drop(['loan_amount_range'] , axis =1)
complete_df

,term_ 36 months,term_ 60 months,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,emp_length_1 year,...,region_West,income_category_High,income_category_Low,income_category_Medium,interest_payments_High,interest_payments_Low,['loan_amount_range']_High,['loan_amount_range']_Low,['loan_amount_range']_Medium,loan_condition_int
0,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
1,0,1,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,-1
2,1,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,1
3,1,0,0,0,1,0,0,0,0,0,...,1,0,1,0,1,0,0,1,0,1
4,0,1,0,1,0,0,0,0,0,1,...,1,0,1,0,0,1,0,1,0,1
5,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
6,0,1,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,1
7,1,0,0,0,0,0,1,0,0,0,...,1,0,1,0,1,0,0,1,0,1
8,0,1,0,0,0,0,0,1,0,0,...,1,0,1,0,1,0,0,1,0,-1
9,0,1,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,-1
10,0,1,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,1
11,1,0,0,1,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,1,1
12,1,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,-1
13,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
14,1,0,0,1,0,0,0,0,0,0,...,1,0,1,0,0,1,0,1,0,-1
15,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,1,0,1
16,1,0,0,0,1,0,0,0,0,0,...,1,0,1,0,1,0,0,1,0,1
17,1,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,1
18,1,0,0,1,0,0,0,0,0,1,...,1,0,1,0,0,1,0,1,0,1
19,1,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,1,0,1
20,0,1,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,1,0,0,1
21,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,0,-1
22,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
23,1,0,0,1,0,0,0,0,0,0,...,1,0,1,0,0,1,0,1,0,1
24,1,0,0,1,0,0,0,0,0,1,...,1,0,1,0,0,1,0,1,0,-1
25,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,1
26,1,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,-1
27,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,1,0,-1
28,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,1
29,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
19971,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,1,1
19972,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,0,1
19973,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,1,0,0,0,1,1
19974,0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,1,0,0,0,1,1
19975,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
19976,1,0,0,1,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,1,1
19977,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,1,-1
19978,0,1,0,1,0,0,0,0,0,1,...,0,0,1,0,0,1,0,1,0,1
19979,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
19980,0,1,0,1,0,0,0,0,0,1,...,1,0,0,1,0,1,0,0,1,1
19981,1,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,1,0,1
19982,1,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,1
19983,1,0,0,1,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,1,1
19984,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,-1
19985,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
19986,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,1,1
19987,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,1,0,1
19988,0,1,0,0,1,0,0,0,0,0,...,1,0,1,0,0,1,0,1,0,-1
19989,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,1,0,1
19990,0,1,0,0,1,0,0,0,0,0,...,1,0,1,0,0,1,0,0,1,1
19991,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
19992,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,1
19993,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,1
19994,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
19995,1,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,1
19996,1,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,1,1
19997,0,1,0,0,0,0,0,0,1,0,...,1,0,1,0,1,0,0,1,0,1
19998,0,1,0,0,0,1,0,0,0,0,...,1,0,1,0,1,0,0,1,0,1
19999,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1

In [57]:

features = complete_df.columns

In [58]:
x = complete_df.drop(['loan_condition_int'] ,axis =1)
y = complete_df['loan_condition_int']
print(x.shape ,y.shape)

(20000, 37) (20000,)

## Split data into training and validation sets

We split the data into training and validation sets using an 80/20 split and specifying `seed=1` so everyone gets the same results.

**Note**: In previous assignments, we have called this a **train-test split**. However, the portion of data that we don't train on will be used to help **select model parameters** (this is known as model selection). Thus, this portion of data should be called a **validation set**. Recall that examining performance of various potential models (i.e. models with different parameters) should be on validation set, while evaluation of the final selected model should always be on test data. Typically, we would also save a portion of the data (a real test set) to test our final model on or use cross-validation on the training set to select our final model. But for the learning purposes of this assignment, we won't do that.

In [59]:
from sklearn.model_selection import train_test_split

x_train, x_validation,y_train ,y_validation = train_test_split(x,y ,test_size =.2, random_state=10)

# Use decision tree to build a classifier

Now, let's use the built-in GraphLab Create decision tree learner to create a loan prediction model on the training data. (In the next assignment, you will implement your own decision tree learning algorithm.)  Our feature columns and target column have already been decided above. Use `validation_set=None` to get the same results as everyone else.

In [62]:
from sklearn.tree import DecisionTreeClassifier
decision_tree_model = DecisionTreeClassifier()

In [63]:
decision_tree_model.fit(x_train ,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [64]:
y_pred = decision_tree_model.predict(x_validation)
y_pred

array([-1,  1,  1, ..., -1,  1,  1], dtype=int64)

In [67]:
from sklearn.metrics import accuracy_score , confusion_matrix , f1_score , roc_auc_score
valid_acc = accuracy_score(y_validation ,y_pred)
valid_confusion_matrix = confusion_matrix(y_validation ,y_pred)
valid_f1_score = f1_score(y_validation ,y_pred)
valid_roc_auc_score = roc_auc_score(y_validation ,y_pred)
print('valid_acc ::' , valid_acc)
print('valid_confusion_matrix ::' ,valid_confusion_matrix)

print('valid_f1_score ::' , valid_f1_score)
print('valid_roc_auc_score ::' ,valid_roc_auc_score)

valid_acc :: 0.7845
valid_confusion_matrix :: [[  91  560]
 [ 302 3047]]
valid_f1_score :: 0.8760782058654398
valid_roc_auc_score :: 0.5248043871224599

## Visualizing a learned model

As noted in the [documentation](https://dato.com/products/create/docs/generated/graphlab.boosted_trees_classifier.create.html#graphlab.boosted_trees_classifier.create), typically the max depth of the tree is capped at 6. However, such a tree can be hard to visualize graphically.  Here, we instead learn a smaller model with **max depth of 2** to gain some intuition by visualizing the learned tree.

In [73]:
decision_tree_model_depth = DecisionTreeClassifier(max_depth=10)
decision_tree_model_depth.fit(x_train,y_train)
y_pred_depth = decision_tree_model_depth.predict(x_validation)
y_pred_depth

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In the view that is provided by GraphLab Create, you can see each node, and each split at each node. This visualization is great for considering what happens when this model predicts the target of a new data point. 

**Note:** To better understand this visual:
* The root node is represented using pink. 
* Intermediate nodes are in green. 
* Leaf nodes in blue and orange.

In [74]:
valid_acc_depth = accuracy_score(y_validation ,y_pred_depth)
valid_confusion_matrix_depth = confusion_matrix(y_validation ,y_pred_depth)
valid_f1_score_depth = f1_score(y_validation ,y_pred_depth)
valid_roc_auc_score_depth = roc_auc_score(y_validation ,y_pred_depth)
print('valid_acc_depth ::' , valid_acc_depth)
print('valid_confusion_matrix_depth ::' ,valid_confusion_matrix_depth)

print('valid_f1_score_depth ::' , valid_f1_score_depth)
print('valid_roc_auc_score_depth ::' ,valid_roc_auc_score_depth)

valid_acc_depth :: 0.83225
valid_confusion_matrix_depth :: [[  20  631]
 [  40 3309]]
valid_f1_score_depth :: 0.9079434764713952
valid_roc_auc_score_depth :: 0.5093890511829425

# Making predictions

Let's consider two positive and two negative examples **from the validation set** and see what the model predicts. We will do the following:
* Predict whether or not a loan is safe.
* Predict the probability that a loan is safe.

In [75]:
y_pred_1 = decision_tree_model.predict(x_train)

train_acc = accuracy_score(y_train ,y_pred_1)
train_confusion_matrix = confusion_matrix(y_train ,y_pred_1)
train_f1_score = f1_score(y_train ,y_pred_1)
train_roc_auc_score = roc_auc_score(y_train ,y_pred_1)
print('train_acc ::' , train_acc)
print('train_confusion_matrix ::' ,train_confusion_matrix)

print('train_f1_score ::' , train_f1_score)
print('train_roc_auc_score ::' ,train_roc_auc_score)

train_acc :: 0.8859375
train_confusion_matrix :: [[ 1026  1371]
 [  454 13149]]
train_f1_score :: 0.9351064964619705
train_roc_auc_score :: 0.6973300264969527

In [76]:
y_pred_depth_1 = decision_tree_model_depth.predict(x_train)


train_acc_depth = accuracy_score(y_train ,y_pred_depth_1)
train_confusion_matrix_depth = confusion_matrix(y_train ,y_pred_depth_1)
train_f1_score_depth = f1_score(y_train ,y_pred_depth_1)
train_roc_auc_score_depth = roc_auc_score(y_train ,y_pred_depth_1)
print('train_acc_depth ::' , train_acc_depth)
print('train_confusion_matrix_depth ::' ,train_confusion_matrix_depth)

print('train_f1_score_depth ::' , train_f1_score_depth)
print('train_roc_auc_score_depth ::' ,train_roc_auc_score_depth)

train_acc_depth :: 0.8570625
train_confusion_matrix_depth :: [[  195  2202]
 [   85 13518]]
train_f1_score_depth :: 0.9220066159669883
train_roc_auc_score_depth :: 0.5375515339922164

## Explore label predictions

Now, we will use our model  to predict whether or not a loan is likely to default. For each row in the **sample_validation_data**, use the **decision_tree_model** to predict whether or not the loan is classified as a **safe loan**. 

**Hint:** Be sure to use the `.predict()` method.

In [85]:
x_validation_data = x_validation[:4]
y_validation_data = y_validation[:4]
x_validation_data

,term_ 36 months,term_ 60 months,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,emp_length_1 year,...,region_SouthWest,region_West,income_category_High,income_category_Low,income_category_Medium,interest_payments_High,interest_payments_Low,['loan_amount_range']_High,['loan_amount_range']_Low,['loan_amount_range']_Medium
19778,0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,1,0
4376,1,0,1,0,0,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,1
10188,1,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,1,0,0
9887,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0

In [86]:
print(y_validation_data)

19778    1
4376     1
10188    1
9887     1
Name: loan_condition_int, dtype: int64

In [88]:
#check predict values are correct with validation_data 
print (decision_tree_model.predict_proba(x_validation_data) )
print (y_validation_data )

[[0.6        0.4       ]
 [0.09090909 0.90909091]
 [0.2        0.8       ]
 [0.         1.        ]]
19778    1
4376     1
10188    1
9887     1
Name: loan_condition_int, dtype: int64

**Quiz Question:** What percentage of the predictions on `sample_validation_data` did `decision_tree_model` get correct?

## Explore probability predictions

For each row in the **sample_validation_data**, what is the probability (according **decision_tree_model**) of a loan being classified as **safe**? 


**Hint:** Set `output_type='probability'` to make **probability** predictions using **decision_tree_model** on `sample_validation_data`:

In [56]:
probability_predictions = decision_tree_model.predict(sample_validation_data, output_type='probability')
probability_predictions

External memory mode: 1 batches

dtype: float
Rows: 4
[0.5473231077194214, 0.48868122696876526, 0.45579513907432556, 0.5458507537841797]

**Quiz Question:** Which loan has the highest probability of being classified as a **safe loan**?

**Checkpoint:** Can you verify that for all the predictions with `probability >= 0.5`, the model predicted the label **+1**?

### Tricky predictions!

Now, we will explore something pretty interesting. For each row in the **sample_validation_data**, what is the probability (according to **small_model**) of a loan being classified as **safe**?

**Hint:** Set `output_type='probability'` to make **probability** predictions using **small_model** on `sample_validation_data`:

In [57]:
print small_model.predict(sample_validation_data, output_type='probability')

External memory mode: 1 batches

[0.5242817997932434, 0.47226759791374207, 0.47226759791374207, 0.5797497630119324]

**Quiz Question:** Notice that the probability preditions are the **exact same** for the 2nd and 3rd loans. Why would this happen?

## Visualize the prediction on a tree


Note that you should be able to look at the small tree, traverse it yourself, and visualize the prediction being made. Consider the following point in the **sample_validation_data**

In [95]:
from sklearn import tree
from sklearn.tree import export_graphviz 

dot_data = tree.export_graphviz(decision_tree_model , out_file=None, 
                                feature_names=x_train.columns,  
                                class_names=y_train,  
                                filled=True, rounded=True,  
                                special_characters=True)  
graph = graphviz.Source(dot_data)  
graph

TypeError: must be str, not numpy.int64

In [58]:
sample_validation_data[1]

{'dti': 16.85,
 'emp_length_num': 10L,
 'grade': 'D',
 'home_ownership': 'RENT',
 'last_delinq_none': 1L,
 'last_major_derog_none': 1L,
 'purpose': 'debt_consolidation',
 'revol_util': 96.4,
 'safe_loans': 1L,
 'short_emp': 0L,
 'sub_grade': 'D1',
 'term': ' 36 months',
 'total_rec_late_fee': 0.0}

Let's visualize the small tree here to do the traversing for this data point.

In [59]:
small_model.show(view="Tree")

**Note:** In the tree visualization above, the values at the leaf nodes are not class predictions but scores (a slightly advanced concept that is out of the scope of this course). You can read more about this [here](https://homes.cs.washington.edu/~tqchen/pdf/BoostedTree.pdf).  If the score is $\geq$ 0, the class +1 is predicted.  Otherwise, if the score < 0, we predict class -1.


**Quiz Question:** Based on the visualized tree, what prediction would you make for this data point?

Now, let's verify your prediction by examining the prediction made using GraphLab Create.  Use the `.predict` function on `small_model`.

In [60]:
small_model.predict(sample_validation_data[1])

dtype: int
Rows: 1
[-1L]

# Evaluating accuracy of the decision tree model

Recall that the accuracy is defined as follows:
$$
\mbox{accuracy} = \frac{\mbox{# correctly classified examples}}{\mbox{# total examples}}
$$

Let us start by evaluating the accuracy of the `small_model` and `decision_tree_model` on the training data

In [61]:
print small_model.evaluate(train_data)['accuracy']
print decision_tree_model.evaluate(train_data)['accuracy']

External memory mode: 1 batches

0.613421448528

External memory mode: 1 batches

0.639641091769

**Checkpoint:** You should see that the **small_model** performs worse than the **decision_tree_model** on the training data.


Now, let us evaluate the accuracy of the **small_model** and **decision_tree_model** on the entire **validation_data**, not just the subsample considered above.

In [65]:
print small_model.evaluate(sample_validation_data)['accuracy']
print decision_tree_model.evaluate(sample_validation_data)['accuracy']

External memory mode: 1 batches

0.5

External memory mode: 1 batches

0.5

**Quiz Question:** What is the accuracy of `decision_tree_model` on the validation set, rounded to the nearest .01?

## Evaluating accuracy of a complex decision tree model

Here, we will train a large decision tree with `max_depth=10`. This will allow the learned tree to become very deep, and result in a very complex model. Recall that in lecture, we prefer simpler models with similar predictive power. This will be an example of a more complicated model which has similar predictive power, i.e. something we don't want.

In [66]:
big_model = graphlab.decision_tree_classifier.create(train_data, validation_set=None,
                   target = target, features = features, max_depth = 10)

External memory mode: 1 batches

Decision tree classifier:

--------------------------------------------------------

Number of examples          : 37224

Number of classes           : 2

Number of feature columns   : 12

Number of unpacked features : 12

Create disk column page 1/1

+-----------+--------------+-------------------+-------------------+

| Iteration | Elapsed Time | Training-accuracy | Training-log_loss |

+-----------+--------------+-------------------+-------------------+

| 1         | 0.895000     | 0.665189          | 0.653466          |

+-----------+--------------+-------------------+-------------------+

Now, let us evaluate **big_model** on the training set and validation set.

In [67]:
print big_model.evaluate(train_data)['accuracy']
print big_model.evaluate(validation_data)['accuracy']

External memory mode: 1 batches

0.665189125296

External memory mode: 1 batches

0.620853080569

**Checkpoint:** We should see that **big_model** has even better performance on the training set than **decision_tree_model** did on the training set.

**Quiz Question:** How does the performance of **big_model** on the validation set compare to **decision_tree_model** on the validation set? Is this a sign of overfitting?

### Quantifying the cost of mistakes

Every mistake the model makes costs money. In this section, we will try and quantify the cost of each mistake made by the model.

Assume the following:

* **False negatives**: Loans that were actually safe but were predicted to be risky. This results in an oppurtunity cost of losing a loan that would have otherwise been accepted. 
* **False positives**: Loans that were actually risky but were predicted to be safe. These are much more expensive because it results in a risky loan being given. 
* **Correct predictions**: All correct predictions don't typically incur any cost.


Let's write code that can compute the cost of mistakes made by the model. Complete the following 4 steps:
1. First, let us compute the predictions made by the model.
1. Second, compute the number of false positives.
2. Third, compute the number of false negatives.
3. Finally, compute the cost of mistakes made by the model by adding up the costs of true positives and false positives.

First, let us make predictions on `validation_data` using the `decision_tree_model`:

In [69]:
predictions = decision_tree_model.predict(validation_data)
predictions

External memory mode: 1 batches

dtype: int
Rows: 9284
[-1L, 1L, -1L, -1L, 1L, -1L, 1L, 1L, -1L, -1L, -1L, 1L, 1L, -1L, 1L, 1L, 1L, -1L, -1L, -1L, 1L, 1L, -1L, -1L, -1L, 1L, 1L, -1L, 1L, -1L, -1L, -1L, -1L, 1L, 1L, -1L, 1L, -1L, 1L, -1L, 1L, 1L, 1L, 1L, 1L, -1L, 1L, -1L, 1L, 1L, -1L, -1L, -1L, -1L, -1L, 1L, 1L, 1L, -1L, -1L, 1L, -1L, -1L, -1L, 1L, 1L, -1L, -1L, -1L, -1L, -1L, 1L, -1L, 1L, -1L, -1L, -1L, 1L, -1L, -1L, -1L, -1L, 1L, 1L, -1L, 1L, 1L, -1L, -1L, 1L, -1L, 1L, -1L, -1L, -1L, 1L, -1L, -1L, -1L, -1L, ... ]

**False positives** are predictions where the model predicts +1 but the true label is -1. Complete the following code block for the number of false positives:

In [70]:
#here predictions are checked with true values of safe_loans and got total how many are there like that
true_labels = validation_data['safe_loans']
false_positives = sum((predictions == +1) & (true_labels == -1))
false_positives

1666L

**False negatives** are predictions where the model predicts -1 but the true label is +1. Complete the following code block for the number of false negatives:

In [71]:
false_negatives = sum((predictions == -1) & (true_labels == +1))
false_negatives

1729L

**Quiz Question:** Let us assume that each mistake costs money:
* Assume a cost of \$10,000 per false negative.
* Assume a cost of \$20,000 per false positive.

What is the total cost of mistakes made by `decision_tree_model` on `validation_data`?

In [72]:
total_cost = 10000 * false_negatives + 20000 * false_positives
total_cost

50610000L