## Implementing binary decision trees

The goal of this notebook is to implement your own binary decision tree classifier. You will:
    
* Use SFrames to do some feature engineering.
* Transform categorical variables into binary variables.
* Write a function to compute the number of misclassified examples in an intermediate node.
* Write a function to find the best feature to split on.
* Build a binary decision tree from scratch.
* Make predictions using the decision tree.
* Evaluate the accuracy of the decision tree.
* Visualize the decision at the root node.

**Important Note**: In this assignment, we will focus on building decision trees where the data contain **only binary (0 or 1) features**. This allows us to avoid dealing with:
* Multiple intermediate nodes in a split
* The thresholding issues of real-valued features.

This assignment **may be challenging**, so brace yourself :)

Make sure you have the latest version of GraphLab Create.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

 # here data engineering is done means features are converted into sub_columns as (0 &1 )

# Load the lending club dataset

In [4]:
loans = pd.read_csv('loan.csv')

We will be using the same [LendingClub](https://www.lendingclub.com/) dataset as in the previous assignment.

In [5]:
loans

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1075269,1311441,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1069639,1304742,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1072053,1288686,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1071795,1306957,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1071570,1306721,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1070078,1305201,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1069908,1305008,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1064687,1298717,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1069866,1304956,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1069057,1303503,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1069759,1304871,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1065775,1299699,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1069971,1304884,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1062474,1294539,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1069742,1304855,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1069740,1284848,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1039153,1269083,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1069710,1304821,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1069700,1304810,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1069559,1304634,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1069697,1273773,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1069800,1304679,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1069657,1304764,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1069799,1304678,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1047704,1278806,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,36691397,39434133,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,39700.0,NaN,NaN,NaN
887350,36500819,39232937,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,22000.0,NaN,NaN,NaN
887351,36743377,39486112,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,20400.0,NaN,NaN,NaN
887352,36231083,38942474,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,9700.0,NaN,NaN,NaN
887353,36371802,39103231,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,26100.0,NaN,NaN,NaN
887354,36250801,38962184,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,8500.0,NaN,NaN,NaN
887355,36331554,39042967,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,129100.0,NaN,NaN,NaN
887356,36460697,39182359,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,65600.0,NaN,NaN,NaN
887357,35773415,38468842,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN
887358,36440728,39152101,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,18700.0,NaN,NaN,NaN
887359,35591131,38288343,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,24400.0,NaN,NaN,NaN
887360,36361815,39093260,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,118600.0,NaN,NaN,NaN
887361,36201871,38913321,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,76300.0,NaN,NaN,NaN
887362,36381756,39013193,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,7300.0,NaN,NaN,NaN
887363,36231724,38943173,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,11900.0,NaN,NaN,NaN
887364,36231718,38943165,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN
887365,36381704,39013139,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,9900.0,NaN,NaN,NaN
887366,36241316,38952731,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,1800.0,NaN,NaN,NaN
887367,36301729,39023153,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,30300.0,NaN,NaN,NaN
887368,36250208,38961532,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,20700.0,NaN,NaN,NaN
887369,36421485,39142898,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,30100.0,NaN,NaN,NaN
887370,35094480,37777829,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,14500.0,NaN,NaN,NaN
887371,36260758,38972123,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,16800.0,NaN,NaN,NaN
887372,36330911,39042282,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,30300.0,NaN,NaN,NaN
887373,36221446,38932858,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,28100.0,NaN,NaN,NaN
887374,36371250,39102635,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,17100.0,NaN,NaN,NaN
887375,36441262,39152692,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN
887376,36271333,38982739,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN
887377,36490806,39222577,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,...,NaN,NaN,NaN,NaN,NaN,NaN,27000.0,NaN,NaN,NaN
887378,36271262,38982659,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN

In [6]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
id                             887379 non-null int64
member_id                      887379 non-null int64
loan_amnt                      887379 non-null float64
funded_amnt                    887379 non-null float64
funded_amnt_inv                887379 non-null float64
term                           887379 non-null object
int_rate                       887379 non-null float64
installment                    887379 non-null float64
grade                          887379 non-null object
sub_grade                      887379 non-null object
emp_title                      835917 non-null object
emp_length                     842554 non-null object
home_ownership                 887379 non-null object
annual_inc                     887375 non-null float64
verification_status            887379 non-null object
issue_d                        887379 non-null object
loan_status                    887379 non-null object
pymnt_plan                     887379 non-null object
url                            887379 non-null object
desc                           126028 non-null object
purpose                        887379 non-null object
title                          887227 non-null object
zip_code                       887379 non-null object
addr_state                     887379 non-null object
dti                            887379 non-null float64
delinq_2yrs                    887350 non-null float64
earliest_cr_line               887350 non-null object
inq_last_6mths                 887350 non-null float64
mths_since_last_delinq         433067 non-null float64
mths_since_last_record         137053 non-null float64
open_acc                       887350 non-null float64
pub_rec                        887350 non-null float64
revol_bal                      887379 non-null float64
revol_util                     886877 non-null float64
total_acc                      887350 non-null float64
initial_list_status            887379 non-null object
out_prncp                      887379 non-null float64
out_prncp_inv                  887379 non-null float64
total_pymnt                    887379 non-null float64
total_pymnt_inv                887379 non-null float64
total_rec_prncp                887379 non-null float64
total_rec_int                  887379 non-null float64
total_rec_late_fee             887379 non-null float64
recoveries                     887379 non-null float64
collection_recovery_fee        887379 non-null float64
last_pymnt_d                   869720 non-null object
last_pymnt_amnt                887379 non-null float64
next_pymnt_d                   634408 non-null object
last_credit_pull_d             887326 non-null object
collections_12_mths_ex_med     887234 non-null float64
mths_since_last_major_derog    221703 non-null float64
policy_code                    887379 non-null float64
application_type               887379 non-null object
annual_inc_joint               511 non-null float64
dti_joint                      509 non-null float64
verification_status_joint      511 non-null object
acc_now_delinq                 887350 non-null float64
tot_coll_amt                   817103 non-null float64
tot_cur_bal                    817103 non-null float64
open_acc_6m                    21372 non-null float64
open_il_6m                     21372 non-null float64
open_il_12m                    21372 non-null float64
open_il_24m                    21372 non-null float64
mths_since_rcnt_il             20810 non-null float64
total_bal_il                   21372 non-null float64
il_util                        18617 non-null float64
open_rv_12m                    21372 non-null float64
open_rv_24m                    21372 non-null float64
max_bal_bc                     21372 non-null float64
all_util                       21372 non-null float64
total_rev_hi_lim               817103 non-null float64
inq_fi                         21372 non-null float64
total_cu_tl                    21372 non-null float64
inq_last_12m                   21372 non-null float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB

In [11]:
loans['verification_status'].value_counts() # its just about status of loan so no need as a  column which effects data

Source Verified    329558
Verified           291071
Not Verified       266750
Name: verification_status, dtype: int64

In [12]:
loans['loan_status'].value_counts()

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [13]:
# replace some columns names and drop some of them 

loans = loans.rename(columns={"loan_amnt": "loan_amount", "funded_amnt": "funded_amount", "funded_amnt_inv": "investor_funds",
                       "int_rate": "interest_rate", "annual_inc": "annual_income"})

# Drop irrelevant columns
loans.drop(['id', 'member_id', 'emp_title', 'url', 'desc', 'zip_code', 'title'], axis=1, inplace=True)

In [21]:
# removed the columns which are not usefull from 18 to all 
loans = loans.iloc[: , :17]
loans

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_income,verification_status,issue_d,loan_status,pymnt_plan,purpose,addr_state
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.00,Verified,Dec-2011,Fully Paid,n,credit_card,AZ
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.00,Source Verified,Dec-2011,Charged Off,n,car,GA
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.00,Not Verified,Dec-2011,Fully Paid,n,small_business,IL
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.00,Source Verified,Dec-2011,Fully Paid,n,other,CA
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT,80000.00,Source Verified,Dec-2011,Current,n,other,OR
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT,36000.00,Source Verified,Dec-2011,Fully Paid,n,wedding,AZ
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT,47004.00,Not Verified,Dec-2011,Current,n,debt_consolidation,NC
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT,48000.00,Source Verified,Dec-2011,Fully Paid,n,car,CA
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN,40000.00,Source Verified,Dec-2011,Charged Off,n,small_business,CA
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT,15000.00,Verified,Dec-2011,Charged Off,n,other,TX
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN,72000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,AZ
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN,75000.00,Source Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT,30000.00,Source Verified,Dec-2011,Charged Off,n,debt_consolidation,VA
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT,15000.00,Source Verified,Dec-2011,Fully Paid,n,credit_card,IL
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT,100000.00,Source Verified,Dec-2011,Charged Off,n,other,CA
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT,28000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,MO
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT,42000.00,Not Verified,Dec-2011,Fully Paid,n,home_improvement,CA
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE,110000.00,Not Verified,Dec-2011,Fully Paid,n,major_purchase,CT
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE,84000.00,Verified,Dec-2011,Fully Paid,n,medical,UT
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT,77385.19,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT,43370.00,Verified,Dec-2011,Fully Paid,n,debt_consolidation,TX
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT,105000.00,Verified,Dec-2011,Charged Off,n,debt_consolidation,FL
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN,50000.00,Source Verified,Dec-2011,Fully Paid,n,credit_card,TX
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT,50000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT,76000.00,Not Verified,Dec-2011,Charged Off,n,major_purchase,CA
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE,92000.00,Verified,Dec-2011,Fully Paid,n,credit_card,IL
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT,60000.00,Not Verified,Dec-2011,Charged Off,n,debt_consolidation,NY
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT,50004.00,Not Verified,Dec-2011,Charged Off,n,other,PA
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE,106000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,FL
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT,25000.00,Source Verified,Dec-2011,Fully Paid,n,credit_card,MN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,2 years,MORTGAGE,72000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,FL
887350,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,10+ years,RENT,93600.00,Source Verified,Jan-2015,Current,n,debt_consolidation,CA
887351,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,10+ years,MORTGAGE,48000.00,Verified,Jan-2015,Charged Off,n,medical,CO
887352,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,< 1 year,RENT,70000.00,Verified,Jan-2015,Current,n,debt_consolidation,MD
887353,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,4 years,RENT,57000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,FL
887354,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,10+ years,MORTGAGE,90000.00,Verified,Jan-2015,Current,n,debt_consolidation,GA
887355,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,NaN,RENT,54000.00,Verified,Jan-2015,Current,n,debt_consolidation,UT
887356,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,10+ years,MORTGAGE,50000.00,Source Verified,Jan-2015,Current,n,credit_card,MT
887357,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,10+ years,RENT,52000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,KY
887358,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,3 years,RENT,103000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,NC
887359,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,NaN,OWN,55000.00,Not Verified,Jan-2015,Current,n,debt_consolidation,MN
887360,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,10+ years,MORTGAGE,92000.00,Verified,Jan-2015,Current,n,debt_consolidation,NY
887361,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,10+ years,MORTGAGE,65000.00,Source Verified,Jan-2015,Current,n,credit_card,MA
887362,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,9 years,MORTGAGE,50000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,NM
887363,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,4 years,RENT,40000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,NV
887364,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,< 1 year,RENT,54000.00,Not Verified,Jan-2015,Fully Paid,n,debt_consolidation,FL
887365,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,10+ years,RENT,57000.00,Verified,Jan-2015,Current,n,debt_consolidation,IN
887366,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,2 years,RENT,27000.00,Source Verified,Jan-2015,Fully Paid,n,debt_consolidation,FL
887367,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,1 year,RENT,75000.00,Verified,Jan-2015,Current,n,debt_consolidation,FL
887368,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,8 years,MORTGAGE,30000.00,Verified,Jan-2015,Current,n,major_purchase,NC
887369,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,10+ years,MORTGAGE,50000.00,Verified,Jan-2015,Fully Paid,n,car,CA
887370,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,8 years,RENT,40000.00,Verified,Jan-2015,Current,n,debt_consolidation,WI
887371,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,NaN,OWN,32000.00,Verified,Jan-2015,Charged Off,n,debt_consolidation,OH
887372,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,< 1 year,MORTGAGE,63000.00,Verified,Jan-2015,Current,n,credit_card,OH
887373,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,10+ years,RENT,25400.00,Verified,Jan-2015,Current,n,credit_card,TX
887374,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,8 years,RENT,31000.00,Verified,Jan-2015,Current,n,debt_consolidation,CA
887375,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,10+ years,MORTGAGE,79000.00,Verified,Jan-2015,Current,n,home_improvement,NJ
887376,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,5 years,RENT,35000.00,Verified,Jan-2015,Current,n,debt_consolidation,TN
887377,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,1 year,RENT,64400.00,Source Verified,Jan-2015,Current,n,debt_consolidation,MA
887378,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,10+ years,RENT,100000.00,Verified,Jan-2015,Current,n,credit_card,FL

# change loan_status to good_loan or bad_loan for further process

In [23]:
# consider current and fully paid are good loan and others bad loan
Good_loan = ['Current' , 'Fully Paid']  # directly change good to 1 else  -1 

loans['loan_condition'] = np.nan

def loan_condition(status):
    if status in Good_loan :
        return 1
    else:
        return -1

In [25]:
loans['loan_condition'] = loans['loan_status'].apply(loan_condition)
loans

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_income,verification_status,issue_d,loan_status,pymnt_plan,purpose,addr_state,loan_condition
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.00,Verified,Dec-2011,Fully Paid,n,credit_card,AZ,1
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.00,Source Verified,Dec-2011,Charged Off,n,car,GA,-1
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.00,Not Verified,Dec-2011,Fully Paid,n,small_business,IL,1
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.00,Source Verified,Dec-2011,Fully Paid,n,other,CA,1
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT,80000.00,Source Verified,Dec-2011,Current,n,other,OR,1
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT,36000.00,Source Verified,Dec-2011,Fully Paid,n,wedding,AZ,1
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT,47004.00,Not Verified,Dec-2011,Current,n,debt_consolidation,NC,1
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT,48000.00,Source Verified,Dec-2011,Fully Paid,n,car,CA,1
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN,40000.00,Source Verified,Dec-2011,Charged Off,n,small_business,CA,-1
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT,15000.00,Verified,Dec-2011,Charged Off,n,other,TX,-1
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN,72000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,AZ,1
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN,75000.00,Source Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA,1
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT,30000.00,Source Verified,Dec-2011,Charged Off,n,debt_consolidation,VA,-1
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT,15000.00,Source Verified,Dec-2011,Fully Paid,n,credit_card,IL,1
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT,100000.00,Source Verified,Dec-2011,Charged Off,n,other,CA,-1
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT,28000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,MO,1
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT,42000.00,Not Verified,Dec-2011,Fully Paid,n,home_improvement,CA,1
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE,110000.00,Not Verified,Dec-2011,Fully Paid,n,major_purchase,CT,1
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE,84000.00,Verified,Dec-2011,Fully Paid,n,medical,UT,1
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT,77385.19,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA,1
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT,43370.00,Verified,Dec-2011,Fully Paid,n,debt_consolidation,TX,1
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT,105000.00,Verified,Dec-2011,Charged Off,n,debt_consolidation,FL,-1
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN,50000.00,Source Verified,Dec-2011,Fully Paid,n,credit_card,TX,1
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT,50000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA,1
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT,76000.00,Not Verified,Dec-2011,Charged Off,n,major_purchase,CA,-1
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE,92000.00,Verified,Dec-2011,Fully Paid,n,credit_card,IL,1
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT,60000.00,Not Verified,Dec-2011,Charged Off,n,debt_consolidation,NY,-1
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT,50004.00,Not Verified,Dec-2011,Charged Off,n,other,PA,-1
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE,106000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,FL,1
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT,25000.00,Source Verified,Dec-2011,Fully Paid,n,credit_card,MN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,2 years,MORTGAGE,72000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,FL,1
887350,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,10+ years,RENT,93600.00,Source Verified,Jan-2015,Current,n,debt_consolidation,CA,1
887351,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,10+ years,MORTGAGE,48000.00,Verified,Jan-2015,Charged Off,n,medical,CO,-1
887352,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,< 1 year,RENT,70000.00,Verified,Jan-2015,Current,n,debt_consolidation,MD,1
887353,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,4 years,RENT,57000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,FL,1
887354,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,10+ years,MORTGAGE,90000.00,Verified,Jan-2015,Current,n,debt_consolidation,GA,1
887355,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,NaN,RENT,54000.00,Verified,Jan-2015,Current,n,debt_consolidation,UT,1
887356,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,10+ years,MORTGAGE,50000.00,Source Verified,Jan-2015,Current,n,credit_card,MT,1
887357,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,10+ years,RENT,52000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,KY,1
887358,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,3 years,RENT,103000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,NC,1
887359,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,NaN,OWN,55000.00,Not Verified,Jan-2015,Current,n,debt_consolidation,MN,1
887360,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,10+ years,MORTGAGE,92000.00,Verified,Jan-2015,Current,n,debt_consolidation,NY,1
887361,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,10+ years,MORTGAGE,65000.00,Source Verified,Jan-2015,Current,n,credit_card,MA,1
887362,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,9 years,MORTGAGE,50000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,NM,1
887363,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,4 years,RENT,40000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,NV,1
887364,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,< 1 year,RENT,54000.00,Not Verified,Jan-2015,Fully Paid,n,debt_consolidation,FL,1
887365,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,10+ years,RENT,57000.00,Verified,Jan-2015,Current,n,debt_consolidation,IN,1
887366,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,2 years,RENT,27000.00,Source Verified,Jan-2015,Fully Paid,n,debt_consolidation,FL,1
887367,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,1 year,RENT,75000.00,Verified,Jan-2015,Current,n,debt_consolidation,FL,1
887368,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,8 years,MORTGAGE,30000.00,Verified,Jan-2015,Current,n,major_purchase,NC,1
887369,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,10+ years,MORTGAGE,50000.00,Verified,Jan-2015,Fully Paid,n,car,CA,1
887370,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,8 years,RENT,40000.00,Verified,Jan-2015,Current,n,debt_consolidation,WI,1
887371,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,NaN,OWN,32000.00,Verified,Jan-2015,Charged Off,n,debt_consolidation,OH,-1
887372,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,< 1 year,MORTGAGE,63000.00,Verified,Jan-2015,Current,n,credit_card,OH,1
887373,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,10+ years,RENT,25400.00,Verified,Jan-2015,Current,n,credit_card,TX,1
887374,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,8 years,RENT,31000.00,Verified,Jan-2015,Current,n,debt_consolidation,CA,1
887375,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,10+ years,MORTGAGE,79000.00,Verified,Jan-2015,Current,n,home_improvement,NJ,1
887376,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,5 years,RENT,35000.00,Verified,Jan-2015,Current,n,debt_consolidation,TN,1
887377,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,1 year,RENT,64400.00,Source Verified,Jan-2015,Current,n,debt_consolidation,MA,1
887378,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,10+ years,RENT,100000.00,Verified,Jan-2015,Current,n,credit_card,FL,1

In [26]:
loans['loan_condition'] .value_counts()

 1    809502
-1     77877
Name: loan_condition, dtype: int64

# now addr _state is changed to areas like west to east .. and then convert them into sub columns as adr.east ,adr.west .. as (1,0)

In [30]:
loans['addr_state'].value_counts().head(10)

CA    129517
NY     74086
TX     71138
FL     60935
IL     35476
NJ     33256
PA     31393
OH     29631
GA     29085
VA     26255
Name: addr_state, dtype: int64

In [31]:
loans['addr_state'].unique()

# Make a list with each of the regions by state.

west = ['CA', 'OR', 'UT','WA', 'CO', 'NV', 'AK', 'MT', 'HI', 'WY', 'ID']
south_west = ['AZ', 'TX', 'NM', 'OK']
south_east = ['GA', 'NC', 'VA', 'FL', 'KY', 'SC', 'LA', 'AL', 'WV', 'DC', 'AR', 'DE', 'MS', 'TN' ]
mid_west = ['IL', 'MO', 'MN', 'OH', 'WI', 'KS', 'MI', 'SD', 'IA', 'NE', 'IN', 'ND']
north_east = ['CT', 'NY', 'PA', 'NJ', 'RI','MA', 'MD', 'VT', 'NH', 'ME']

In [32]:
# get the respected places into region so get region column 
loans['region'] = np.nan

def finding_regions(state):
    if state in west :
        return 'west'
    elif state in south_west :
        return 'SouthWest'
    elif state in south_east :
        return 'SouthEast'
    elif state in mid_west :
        return 'MidWest'
    elif state in north_east :
        return 'NorthEast'

In [33]:
loans['region'] = loans['addr_state'].apply(finding_regions)
loans['region'].value_counts()

SouthEast    214646
west         208731
NorthEast    204399
MidWest      155029
SouthWest    104574
Name: region, dtype: int64

In [41]:
loans

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_income,verification_status,issue_d,loan_status,pymnt_plan,purpose,addr_state,loan_condition,region
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.00,Verified,Dec-2011,Fully Paid,n,credit_card,AZ,1,SouthWest
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.00,Source Verified,Dec-2011,Charged Off,n,car,GA,-1,SouthEast
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.00,Not Verified,Dec-2011,Fully Paid,n,small_business,IL,1,MidWest
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.00,Source Verified,Dec-2011,Fully Paid,n,other,CA,1,west
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT,80000.00,Source Verified,Dec-2011,Current,n,other,OR,1,west
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT,36000.00,Source Verified,Dec-2011,Fully Paid,n,wedding,AZ,1,SouthWest
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT,47004.00,Not Verified,Dec-2011,Current,n,debt_consolidation,NC,1,SouthEast
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT,48000.00,Source Verified,Dec-2011,Fully Paid,n,car,CA,1,west
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN,40000.00,Source Verified,Dec-2011,Charged Off,n,small_business,CA,-1,west
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT,15000.00,Verified,Dec-2011,Charged Off,n,other,TX,-1,SouthWest
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN,72000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,AZ,1,SouthWest
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN,75000.00,Source Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA,1,west
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT,30000.00,Source Verified,Dec-2011,Charged Off,n,debt_consolidation,VA,-1,SouthEast
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT,15000.00,Source Verified,Dec-2011,Fully Paid,n,credit_card,IL,1,MidWest
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT,100000.00,Source Verified,Dec-2011,Charged Off,n,other,CA,-1,west
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT,28000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,MO,1,MidWest
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT,42000.00,Not Verified,Dec-2011,Fully Paid,n,home_improvement,CA,1,west
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE,110000.00,Not Verified,Dec-2011,Fully Paid,n,major_purchase,CT,1,NorthEast
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE,84000.00,Verified,Dec-2011,Fully Paid,n,medical,UT,1,west
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT,77385.19,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA,1,west
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT,43370.00,Verified,Dec-2011,Fully Paid,n,debt_consolidation,TX,1,SouthWest
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT,105000.00,Verified,Dec-2011,Charged Off,n,debt_consolidation,FL,-1,SouthEast
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN,50000.00,Source Verified,Dec-2011,Fully Paid,n,credit_card,TX,1,SouthWest
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT,50000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA,1,west
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT,76000.00,Not Verified,Dec-2011,Charged Off,n,major_purchase,CA,-1,west
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE,92000.00,Verified,Dec-2011,Fully Paid,n,credit_card,IL,1,MidWest
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT,60000.00,Not Verified,Dec-2011,Charged Off,n,debt_consolidation,NY,-1,NorthEast
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT,50004.00,Not Verified,Dec-2011,Charged Off,n,other,PA,-1,NorthEast
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE,106000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,FL,1,SouthEast
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT,25000.00,Source Verified,Dec-2011,Fully Paid,n,credit_card,MN,1,MidWest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,2 years,MORTGAGE,72000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,FL,1,SouthEast
887350,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,10+ years,RENT,93600.00,Source Verified,Jan-2015,Current,n,debt_consolidation,CA,1,west
887351,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,10+ years,MORTGAGE,48000.00,Verified,Jan-2015,Charged Off,n,medical,CO,-1,west
887352,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,< 1 year,RENT,70000.00,Verified,Jan-2015,Current,n,debt_consolidation,MD,1,NorthEast
887353,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,4 years,RENT,57000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,FL,1,SouthEast
887354,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,10+ years,MORTGAGE,90000.00,Verified,Jan-2015,Current,n,debt_consolidation,GA,1,SouthEast
887355,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,NaN,RENT,54000.00,Verified,Jan-2015,Current,n,debt_consolidation,UT,1,west
887356,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,10+ years,MORTGAGE,50000.00,Source Verified,Jan-2015,Current,n,credit_card,MT,1,west
887357,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,10+ years,RENT,52000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,KY,1,SouthEast
887358,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,3 years,RENT,103000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,NC,1,SouthEast
887359,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,NaN,OWN,55000.00,Not Verified,Jan-2015,Current,n,debt_consolidation,MN,1,MidWest
887360,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,10+ years,MORTGAGE,92000.00,Verified,Jan-2015,Current,n,debt_consolidation,NY,1,NorthEast
887361,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,10+ years,MORTGAGE,65000.00,Source Verified,Jan-2015,Current,n,credit_card,MA,1,NorthEast
887362,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,9 years,MORTGAGE,50000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,NM,1,SouthWest
887363,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,4 years,RENT,40000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,NV,1,west
887364,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,< 1 year,RENT,54000.00,Not Verified,Jan-2015,Fully Paid,n,debt_consolidation,FL,1,SouthEast
887365,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,10+ years,RENT,57000.00,Verified,Jan-2015,Current,n,debt_consolidation,IN,1,MidWest
887366,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,2 years,RENT,27000.00,Source Verified,Jan-2015,Fully Paid,n,debt_consolidation,FL,1,SouthEast
887367,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,1 year,RENT,75000.00,Verified,Jan-2015,Current,n,debt_consolidation,FL,1,SouthEast
887368,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,8 years,MORTGAGE,30000.00,Verified,Jan-2015,Current,n,major_purchase,NC,1,SouthEast
887369,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,10+ years,MORTGAGE,50000.00,Verified,Jan-2015,Fully Paid,n,car,CA,1,west
887370,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,8 years,RENT,40000.00,Verified,Jan-2015,Current,n,debt_consolidation,WI,1,MidWest
887371,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,NaN,OWN,32000.00,Verified,Jan-2015,Charged Off,n,debt_consolidation,OH,-1,MidWest
887372,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,< 1 year,MORTGAGE,63000.00,Verified,Jan-2015,Current,n,credit_card,OH,1,MidWest
887373,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,10+ years,RENT,25400.00,Verified,Jan-2015,Current,n,credit_card,TX,1,SouthWest
887374,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,8 years,RENT,31000.00,Verified,Jan-2015,Current,n,debt_consolidation,CA,1,west
887375,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,10+ years,MORTGAGE,79000.00,Verified,Jan-2015,Current,n,home_improvement,NJ,1,NorthEast
887376,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,5 years,RENT,35000.00,Verified,Jan-2015,Current,n,debt_consolidation,TN,1,SouthEast
887377,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,1 year,RENT,64400.00,Source Verified,Jan-2015,Current,n,debt_consolidation,MA,1,NorthEast
887378,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,10+ years,RENT,100000.00,Verified,Jan-2015,Current,n,credit_card,FL,1,SouthEast

# now check for purpose which is the loan taken

In [42]:
loans['purpose'].value_counts()

debt_consolidation    524215
credit_card           206182
home_improvement       51829
other                  42894
major_purchase         17277
small_business         10377
car                     8863
medical                 8540
moving                  5414
vacation                4736
house                   3707
wedding                 2347
renewable_energy         575
educational              423
Name: purpose, dtype: int64

 # now the purpose of the loan is divided into two segments like whether the loan is taken for Bussiness_purpose or Personal_purpose

In [43]:
# consider small_business and renewable_energy and educational are taken as bussiness_purpose and others personal_purpose 

Bussiness = ['small_business' , 'renewable_energy' , 'educational' , 'debt_consolidation']

loans['loan_purpose'] = np.nan

def finding_purpose(purpose) :
    if purpose in Bussiness :
        return 'Bussiness'
    else :
        return 'Personal'

In [44]:
loans['loan_purpose'] = loans['purpose'].apply(finding_purpose)
loans['loan_purpose'].value_counts()

Bussiness    535590
Personal     351789
Name: loan_purpose, dtype: int64

In [45]:
loans

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_income,verification_status,issue_d,loan_status,pymnt_plan,purpose,addr_state,loan_condition,region,loan_purpose
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.00,Verified,Dec-2011,Fully Paid,n,credit_card,AZ,1,SouthWest,Personal
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.00,Source Verified,Dec-2011,Charged Off,n,car,GA,-1,SouthEast,Personal
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.00,Not Verified,Dec-2011,Fully Paid,n,small_business,IL,1,MidWest,Bussiness
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.00,Source Verified,Dec-2011,Fully Paid,n,other,CA,1,west,Personal
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT,80000.00,Source Verified,Dec-2011,Current,n,other,OR,1,west,Personal
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT,36000.00,Source Verified,Dec-2011,Fully Paid,n,wedding,AZ,1,SouthWest,Personal
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT,47004.00,Not Verified,Dec-2011,Current,n,debt_consolidation,NC,1,SouthEast,Bussiness
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT,48000.00,Source Verified,Dec-2011,Fully Paid,n,car,CA,1,west,Personal
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN,40000.00,Source Verified,Dec-2011,Charged Off,n,small_business,CA,-1,west,Bussiness
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT,15000.00,Verified,Dec-2011,Charged Off,n,other,TX,-1,SouthWest,Personal
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN,72000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,AZ,1,SouthWest,Bussiness
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN,75000.00,Source Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA,1,west,Bussiness
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT,30000.00,Source Verified,Dec-2011,Charged Off,n,debt_consolidation,VA,-1,SouthEast,Bussiness
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT,15000.00,Source Verified,Dec-2011,Fully Paid,n,credit_card,IL,1,MidWest,Personal
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT,100000.00,Source Verified,Dec-2011,Charged Off,n,other,CA,-1,west,Personal
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT,28000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,MO,1,MidWest,Bussiness
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT,42000.00,Not Verified,Dec-2011,Fully Paid,n,home_improvement,CA,1,west,Personal
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE,110000.00,Not Verified,Dec-2011,Fully Paid,n,major_purchase,CT,1,NorthEast,Personal
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE,84000.00,Verified,Dec-2011,Fully Paid,n,medical,UT,1,west,Personal
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT,77385.19,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA,1,west,Bussiness
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT,43370.00,Verified,Dec-2011,Fully Paid,n,debt_consolidation,TX,1,SouthWest,Bussiness
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT,105000.00,Verified,Dec-2011,Charged Off,n,debt_consolidation,FL,-1,SouthEast,Bussiness
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN,50000.00,Source Verified,Dec-2011,Fully Paid,n,credit_card,TX,1,SouthWest,Personal
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT,50000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA,1,west,Bussiness
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT,76000.00,Not Verified,Dec-2011,Charged Off,n,major_purchase,CA,-1,west,Personal
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE,92000.00,Verified,Dec-2011,Fully Paid,n,credit_card,IL,1,MidWest,Personal
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT,60000.00,Not Verified,Dec-2011,Charged Off,n,debt_consolidation,NY,-1,NorthEast,Bussiness
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT,50004.00,Not Verified,Dec-2011,Charged Off,n,other,PA,-1,NorthEast,Personal
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE,106000.00,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,FL,1,SouthEast,Bussiness
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT,25000.00,Source Verified,Dec-2011,Fully Paid,n,credit_card,MN,1,MidWest,Personal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,2 years,MORTGAGE,72000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,FL,1,SouthEast,Bussiness
887350,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,10+ years,RENT,93600.00,Source Verified,Jan-2015,Current,n,debt_consolidation,CA,1,west,Bussiness
887351,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,10+ years,MORTGAGE,48000.00,Verified,Jan-2015,Charged Off,n,medical,CO,-1,west,Personal
887352,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,< 1 year,RENT,70000.00,Verified,Jan-2015,Current,n,debt_consolidation,MD,1,NorthEast,Bussiness
887353,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,4 years,RENT,57000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,FL,1,SouthEast,Bussiness
887354,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,10+ years,MORTGAGE,90000.00,Verified,Jan-2015,Current,n,debt_consolidation,GA,1,SouthEast,Bussiness
887355,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,NaN,RENT,54000.00,Verified,Jan-2015,Current,n,debt_consolidation,UT,1,west,Bussiness
887356,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,10+ years,MORTGAGE,50000.00,Source Verified,Jan-2015,Current,n,credit_card,MT,1,west,Personal
887357,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,10+ years,RENT,52000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,KY,1,SouthEast,Bussiness
887358,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,3 years,RENT,103000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,NC,1,SouthEast,Bussiness
887359,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,NaN,OWN,55000.00,Not Verified,Jan-2015,Current,n,debt_consolidation,MN,1,MidWest,Bussiness
887360,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,10+ years,MORTGAGE,92000.00,Verified,Jan-2015,Current,n,debt_consolidation,NY,1,NorthEast,Bussiness
887361,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,10+ years,MORTGAGE,65000.00,Source Verified,Jan-2015,Current,n,credit_card,MA,1,NorthEast,Personal
887362,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,9 years,MORTGAGE,50000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,NM,1,SouthWest,Bussiness
887363,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,4 years,RENT,40000.00,Source Verified,Jan-2015,Current,n,debt_consolidation,NV,1,west,Bussiness
887364,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,< 1 year,RENT,54000.00,Not Verified,Jan-2015,Fully Paid,n,debt_consolidation,FL,1,SouthEast,Bussiness
887365,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,10+ years,RENT,57000.00,Verified,Jan-2015,Current,n,debt_consolidation,IN,1,MidWest,Bussiness
887366,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,2 years,RENT,27000.00,Source Verified,Jan-2015,Fully Paid,n,debt_consolidation,FL,1,SouthEast,Bussiness
887367,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,1 year,RENT,75000.00,Verified,Jan-2015,Current,n,debt_consolidation,FL,1,SouthEast,Bussiness
887368,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,8 years,MORTGAGE,30000.00,Verified,Jan-2015,Current,n,major_purchase,NC,1,SouthEast,Personal
887369,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,10+ years,MORTGAGE,50000.00,Verified,Jan-2015,Fully Paid,n,car,CA,1,west,Personal
887370,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,8 years,RENT,40000.00,Verified,Jan-2015,Current,n,debt_consolidation,WI,1,MidWest,Bussiness
887371,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,NaN,OWN,32000.00,Verified,Jan-2015,Charged Off,n,debt_consolidation,OH,-1,MidWest,Bussiness
887372,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,< 1 year,MORTGAGE,63000.00,Verified,Jan-2015,Current,n,credit_card,OH,1,MidWest,Personal
887373,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,10+ years,RENT,25400.00,Verified,Jan-2015,Current,n,credit_card,TX,1,SouthWest,Personal
887374,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,8 years,RENT,31000.00,Verified,Jan-2015,Current,n,debt_consolidation,CA,1,west,Bussiness
887375,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,10+ years,MORTGAGE,79000.00,Verified,Jan-2015,Current,n,home_improvement,NJ,1,NorthEast,Personal
887376,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,5 years,RENT,35000.00,Verified,Jan-2015,Current,n,debt_consolidation,TN,1,SouthEast,Bussiness
887377,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,1 year,RENT,64400.00,Source Verified,Jan-2015,Current,n,debt_consolidation,MA,1,NorthEast,Bussiness
887378,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,10+ years,RENT,100000.00,Verified,Jan-2015,Current,n,credit_card,FL,1,SouthEast,Personal

# now for annual_income  
# Let's create categories for annual_income since most of the bad loans are located below 100k

In [47]:
loans['annual_income'].value_counts()

60000.00     34281
50000.00     30575
65000.00     25498
70000.00     24121
40000.00     23943
80000.00     22729
45000.00     22699
75000.00     22435
55000.00     20755
90000.00     17159
100000.00    17131
85000.00     15648
35000.00     14868
30000.00     13764
120000.00    13202
52000.00     12174
42000.00     11705
48000.00     11330
110000.00    11090
72000.00      9656
95000.00      9274
150000.00     8136
62000.00      7770
36000.00      7700
38000.00      7208
125000.00     7006
32000.00      6774
54000.00      6627
58000.00      6621
56000.00      6557
             ...
65032.00         1
65033.00         1
65035.00         1
65037.00         1
26260.00         1
65039.00         1
49275.22         1
65041.00         1
65045.00         1
101081.00        1
25270.00         1
25269.00         1
65052.00         1
15964.00         1
36895.02         1
65056.00         1
82999.92         1
73330.67         1
65062.00         1
101073.00        1
65065.00         1
101069.00        1
43700.80         1
101067.00        1
234976.98        1
399996.00        1
65075.00         1
101059.00        1
65083.00         1
66203.00         1
Name: annual_income, Length: 49384, dtype: int64

In [66]:
def income_category(amount):
    if amount <= 50000 :
        return 'Low'
    elif (amount >=50000) & (amount <=200000) :
        return 'Medium'
    else :
        return 'High'
    
loans['income_category'] = loans['annual_income'].apply(income_category)
loans

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,...,verification_status,issue_d,loan_status,pymnt_plan,purpose,addr_state,loan_condition,region,loan_purpose,income_category
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT,...,Verified,Dec-2011,Fully Paid,n,credit_card,AZ,1,SouthWest,Personal,Low
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT,...,Source Verified,Dec-2011,Charged Off,n,car,GA,-1,SouthEast,Personal,Low
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT,...,Not Verified,Dec-2011,Fully Paid,n,small_business,IL,1,MidWest,Bussiness,Low
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT,...,Source Verified,Dec-2011,Fully Paid,n,other,CA,1,west,Personal,Low
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT,...,Source Verified,Dec-2011,Current,n,other,OR,1,west,Personal,Medium
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT,...,Source Verified,Dec-2011,Fully Paid,n,wedding,AZ,1,SouthWest,Personal,Low
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT,...,Not Verified,Dec-2011,Current,n,debt_consolidation,NC,1,SouthEast,Bussiness,Low
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT,...,Source Verified,Dec-2011,Fully Paid,n,car,CA,1,west,Personal,Low
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN,...,Source Verified,Dec-2011,Charged Off,n,small_business,CA,-1,west,Bussiness,Low
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT,...,Verified,Dec-2011,Charged Off,n,other,TX,-1,SouthWest,Personal,Low
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN,...,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,AZ,1,SouthWest,Bussiness,Medium
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN,...,Source Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA,1,west,Bussiness,Medium
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT,...,Source Verified,Dec-2011,Charged Off,n,debt_consolidation,VA,-1,SouthEast,Bussiness,Low
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT,...,Source Verified,Dec-2011,Fully Paid,n,credit_card,IL,1,MidWest,Personal,Low
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT,...,Source Verified,Dec-2011,Charged Off,n,other,CA,-1,west,Personal,Medium
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT,...,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,MO,1,MidWest,Bussiness,Low
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT,...,Not Verified,Dec-2011,Fully Paid,n,home_improvement,CA,1,west,Personal,Low
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE,...,Not Verified,Dec-2011,Fully Paid,n,major_purchase,CT,1,NorthEast,Personal,Medium
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE,...,Verified,Dec-2011,Fully Paid,n,medical,UT,1,west,Personal,Medium
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT,...,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA,1,west,Bussiness,Medium
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT,...,Verified,Dec-2011,Fully Paid,n,debt_consolidation,TX,1,SouthWest,Bussiness,Low
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT,...,Verified,Dec-2011,Charged Off,n,debt_consolidation,FL,-1,SouthEast,Bussiness,Medium
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN,...,Source Verified,Dec-2011,Fully Paid,n,credit_card,TX,1,SouthWest,Personal,Low
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT,...,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,CA,1,west,Bussiness,Low
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT,...,Not Verified,Dec-2011,Charged Off,n,major_purchase,CA,-1,west,Personal,Medium
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE,...,Verified,Dec-2011,Fully Paid,n,credit_card,IL,1,MidWest,Personal,Medium
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT,...,Not Verified,Dec-2011,Charged Off,n,debt_consolidation,NY,-1,NorthEast,Bussiness,Medium
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT,...,Not Verified,Dec-2011,Charged Off,n,other,PA,-1,NorthEast,Personal,Medium
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE,...,Not Verified,Dec-2011,Fully Paid,n,debt_consolidation,FL,1,SouthEast,Bussiness,Medium
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT,...,Source Verified,Dec-2011,Fully Paid,n,credit_card,MN,1,MidWest,Personal,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,2 years,MORTGAGE,...,Source Verified,Jan-2015,Current,n,debt_consolidation,FL,1,SouthEast,Bussiness,Medium
887350,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,10+ years,RENT,...,Source Verified,Jan-2015,Current,n,debt_consolidation,CA,1,west,Bussiness,Medium
887351,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,10+ years,MORTGAGE,...,Verified,Jan-2015,Charged Off,n,medical,CO,-1,west,Personal,Low
887352,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,< 1 year,RENT,...,Verified,Jan-2015,Current,n,debt_consolidation,MD,1,NorthEast,Bussiness,Medium
887353,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,4 years,RENT,...,Source Verified,Jan-2015,Current,n,debt_consolidation,FL,1,SouthEast,Bussiness,Medium
887354,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,10+ years,MORTGAGE,...,Verified,Jan-2015,Current,n,debt_consolidation,GA,1,SouthEast,Bussiness,Medium
887355,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,NaN,RENT,...,Verified,Jan-2015,Current,n,debt_consolidation,UT,1,west,Bussiness,Medium
887356,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,10+ years,MORTGAGE,...,Source Verified,Jan-2015,Current,n,credit_card,MT,1,west,Personal,Low
887357,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,10+ years,RENT,...,Source Verified,Jan-2015,Current,n,debt_consolidation,KY,1,SouthEast,Bussiness,Medium
887358,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,3 years,RENT,...,Source Verified,Jan-2015,Current,n,debt_consolidation,NC,1,SouthEast,Bussiness,Medium
887359,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,NaN,OWN,...,Not Verified,Jan-2015,Current,n,debt_consolidation,MN,1,MidWest,Bussiness,Medium
887360,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,10+ years,MORTGAGE,...,Verified,Jan-2015,Current,n,debt_consolidation,NY,1,NorthEast,Bussiness,Medium
887361,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,10+ years,MORTGAGE,...,Source Verified,Jan-2015,Current,n,credit_card,MA,1,NorthEast,Personal,Medium
887362,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,9 years,MORTGAGE,...,Source Verified,Jan-2015,Current,n,debt_consolidation,NM,1,SouthWest,Bussiness,Low
887363,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,4 years,RENT,...,Source Verified,Jan-2015,Current,n,debt_consolidation,NV,1,west,Bussiness,Low
887364,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,< 1 year,RENT,...,Not Verified,Jan-2015,Fully Paid,n,debt_consolidation,FL,1,SouthEast,Bussiness,Medium
887365,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,10+ years,RENT,...,Verified,Jan-2015,Current,n,debt_consolidation,IN,1,MidWest,Bussiness,Medium
887366,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,2 years,RENT,...,Source Verified,Jan-2015,Fully Paid,n,debt_consolidation,FL,1,SouthEast,Bussiness,Low
887367,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,1 year,RENT,...,Verified,Jan-2015,Current,n,debt_consolidation,FL,1,SouthEast,Bussiness,Medium
887368,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,8 years,MORTGAGE,...,Verified,Jan-2015,Current,n,major_purchase,NC,1,SouthEast,Personal,Low
887369,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,10+ years,MORTGAGE,...,Verified,Jan-2015,Fully Paid,n,car,CA,1,west,Personal,Low
887370,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,8 years,RENT,...,Verified,Jan-2015,Current,n,debt_consolidation,WI,1,MidWest,Bussiness,Low
887371,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,NaN,OWN,...,Verified,Jan-2015,Charged Off,n,debt_consolidation,OH,-1,MidWest,Bussiness,Low
887372,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,< 1 year,MORTGAGE,...,Verified,Jan-2015,Current,n,credit_card,OH,1,MidWest,Personal,Medium
887373,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,10+ years,RENT,...,Verified,Jan-2015,Current,n,credit_card,TX,1,SouthWest,Personal,Low
887374,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,8 years,RENT,...,Verified,Jan-2015,Current,n,debt_consolidation,CA,1,west,Bussiness,Low
887375,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,10+ years,MORTGAGE,...,Verified,Jan-2015,Current,n,home_improvement,NJ,1,NorthEast,Personal,Medium
887376,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,5 years,RENT,...,Verified,Jan-2015,Current,n,debt_consolidation,TN,1,SouthEast,Bussiness,Low
887377,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,1 year,RENT,...,Source Verified,Jan-2015,Current,n,debt_consolidation,MA,1,NorthEast,Bussiness,Medium
887378,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,10+ years,RENT,...,Verified,Jan-2015,Current,n,credit_card,FL,1,SouthEast,Personal,Medium

In [67]:
loans['income_category'].value_counts()

Medium    579454
Low       291135
High       16790
Name: income_category, dtype: int64

In [74]:
loans.iloc[ :,:12]

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_income,verification_status
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.00,Verified
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.00,Source Verified
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.00,Not Verified
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.00,Source Verified
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT,80000.00,Source Verified
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT,36000.00,Source Verified
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT,47004.00,Not Verified
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT,48000.00,Source Verified
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN,40000.00,Source Verified
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT,15000.00,Verified
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN,72000.00,Not Verified
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN,75000.00,Source Verified
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT,30000.00,Source Verified
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT,15000.00,Source Verified
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT,100000.00,Source Verified
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT,28000.00,Not Verified
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT,42000.00,Not Verified
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE,110000.00,Not Verified
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE,84000.00,Verified
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT,77385.19,Not Verified
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT,43370.00,Verified
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT,105000.00,Verified
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN,50000.00,Source Verified
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT,50000.00,Not Verified
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT,76000.00,Not Verified
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE,92000.00,Verified
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT,60000.00,Not Verified
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT,50004.00,Not Verified
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE,106000.00,Not Verified
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT,25000.00,Source Verified
...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,2 years,MORTGAGE,72000.00,Source Verified
887350,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,10+ years,RENT,93600.00,Source Verified
887351,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,10+ years,MORTGAGE,48000.00,Verified
887352,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,< 1 year,RENT,70000.00,Verified
887353,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,4 years,RENT,57000.00,Source Verified
887354,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,10+ years,MORTGAGE,90000.00,Verified
887355,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,NaN,RENT,54000.00,Verified
887356,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,10+ years,MORTGAGE,50000.00,Source Verified
887357,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,10+ years,RENT,52000.00,Source Verified
887358,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,3 years,RENT,103000.00,Source Verified
887359,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,NaN,OWN,55000.00,Not Verified
887360,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,10+ years,MORTGAGE,92000.00,Verified
887361,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,10+ years,MORTGAGE,65000.00,Source Verified
887362,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,9 years,MORTGAGE,50000.00,Source Verified
887363,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,4 years,RENT,40000.00,Source Verified
887364,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,< 1 year,RENT,54000.00,Not Verified
887365,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,10+ years,RENT,57000.00,Verified
887366,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,2 years,RENT,27000.00,Source Verified
887367,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,1 year,RENT,75000.00,Verified
887368,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,8 years,MORTGAGE,30000.00,Verified
887369,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,10+ years,MORTGAGE,50000.00,Verified
887370,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,8 years,RENT,40000.00,Verified
887371,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,NaN,OWN,32000.00,Verified
887372,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,< 1 year,MORTGAGE,63000.00,Verified
887373,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,10+ years,RENT,25400.00,Verified
887374,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,8 years,RENT,31000.00,Verified
887375,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,10+ years,MORTGAGE,79000.00,Verified
887376,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,5 years,RENT,35000.00,Verified
887377,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,1 year,RENT,64400.00,Source Verified
887378,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,10+ years,RENT,100000.00,Verified

# now consider emp_length feature get it into 3 categories as < 4 as Bad and <7  and  >4 as medium and > 7 as good

In [76]:
loans['emp_length'].value_counts()

10+ years    291569
2 years       78870
< 1 year      70605
3 years       70026
1 year        57095
5 years       55704
4 years       52529
7 years       44594
8 years       43955
6 years       42950
9 years       34657
Name: emp_length, dtype: int64

In [77]:
Good_length = ['10+ years' , '9 years' , '8 years' , '7 years']
Medium_length = ['4 years' , '5 years' , '6 years']

In [78]:
loans['emp_status'] = np.nan

def emp_length(length) :
    if length in Good_length :
        return 'Good'
    elif length in Medium_length :
        return 'Medium'
    else :
        return 'Bad'

In [79]:
loans['emp_status'] = loans['emp_length'].apply(emp_length)
loans['emp_status'].value_counts()

Good      414775
Bad       321421
Medium    151183
Name: emp_status, dtype: int64

In [80]:
loans.iloc[:, :12]

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_income,verification_status
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.00,Verified
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.00,Source Verified
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.00,Not Verified
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.00,Source Verified
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT,80000.00,Source Verified
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT,36000.00,Source Verified
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT,47004.00,Not Verified
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT,48000.00,Source Verified
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN,40000.00,Source Verified
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT,15000.00,Verified
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN,72000.00,Not Verified
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN,75000.00,Source Verified
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT,30000.00,Source Verified
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT,15000.00,Source Verified
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT,100000.00,Source Verified
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT,28000.00,Not Verified
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT,42000.00,Not Verified
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE,110000.00,Not Verified
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE,84000.00,Verified
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT,77385.19,Not Verified
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT,43370.00,Verified
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT,105000.00,Verified
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN,50000.00,Source Verified
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT,50000.00,Not Verified
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT,76000.00,Not Verified
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE,92000.00,Verified
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT,60000.00,Not Verified
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT,50004.00,Not Verified
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE,106000.00,Not Verified
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT,25000.00,Source Verified
...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,2 years,MORTGAGE,72000.00,Source Verified
887350,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,10+ years,RENT,93600.00,Source Verified
887351,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,10+ years,MORTGAGE,48000.00,Verified
887352,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,< 1 year,RENT,70000.00,Verified
887353,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,4 years,RENT,57000.00,Source Verified
887354,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,10+ years,MORTGAGE,90000.00,Verified
887355,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,NaN,RENT,54000.00,Verified
887356,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,10+ years,MORTGAGE,50000.00,Source Verified
887357,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,10+ years,RENT,52000.00,Source Verified
887358,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,3 years,RENT,103000.00,Source Verified
887359,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,NaN,OWN,55000.00,Not Verified
887360,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,10+ years,MORTGAGE,92000.00,Verified
887361,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,10+ years,MORTGAGE,65000.00,Source Verified
887362,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,9 years,MORTGAGE,50000.00,Source Verified
887363,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,4 years,RENT,40000.00,Source Verified
887364,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,< 1 year,RENT,54000.00,Not Verified
887365,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,10+ years,RENT,57000.00,Verified
887366,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,2 years,RENT,27000.00,Source Verified
887367,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,1 year,RENT,75000.00,Verified
887368,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,8 years,MORTGAGE,30000.00,Verified
887369,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,10+ years,MORTGAGE,50000.00,Verified
887370,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,8 years,RENT,40000.00,Verified
887371,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,NaN,OWN,32000.00,Verified
887372,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,< 1 year,MORTGAGE,63000.00,Verified
887373,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,10+ years,RENT,25400.00,Verified
887374,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,8 years,RENT,31000.00,Verified
887375,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,10+ years,MORTGAGE,79000.00,Verified
887376,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,5 years,RENT,35000.00,Verified
887377,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,1 year,RENT,64400.00,Source Verified
887378,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,10+ years,RENT,100000.00,Verified

 # now get interest rate into categories such low and high if interest                      is >13.3  get as high else low

In [92]:
loans['interest_rate'].value_counts().head()

10.99    34624
9.17     25720
15.61    25201
9.99     21553
7.89     20311
Name: interest_rate, dtype: int64

In [93]:
loans['interest_rate'].mean()

13.246739679437987

In [95]:
loans['interest'] = np.nan

def interest_rate(rate):
    if rate > 13.24 :
        return 'High'
    else :
        return 'Low'

In [96]:
loans['interest'] = loans['interest_rate'].apply(interest_rate)
loans['interest'].value_counts()

Low     465372
High    422007
Name: interest, dtype: int64

In [97]:
loans.iloc[:,:12]

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_income,verification_status
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.00,Verified
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.00,Source Verified
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.00,Not Verified
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.00,Source Verified
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT,80000.00,Source Verified
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT,36000.00,Source Verified
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT,47004.00,Not Verified
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT,48000.00,Source Verified
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN,40000.00,Source Verified
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT,15000.00,Verified
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN,72000.00,Not Verified
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN,75000.00,Source Verified
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT,30000.00,Source Verified
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT,15000.00,Source Verified
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT,100000.00,Source Verified
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT,28000.00,Not Verified
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT,42000.00,Not Verified
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE,110000.00,Not Verified
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE,84000.00,Verified
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT,77385.19,Not Verified
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT,43370.00,Verified
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT,105000.00,Verified
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN,50000.00,Source Verified
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT,50000.00,Not Verified
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT,76000.00,Not Verified
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE,92000.00,Verified
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT,60000.00,Not Verified
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT,50004.00,Not Verified
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE,106000.00,Not Verified
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT,25000.00,Source Verified
...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,2 years,MORTGAGE,72000.00,Source Verified
887350,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,10+ years,RENT,93600.00,Source Verified
887351,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,10+ years,MORTGAGE,48000.00,Verified
887352,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,< 1 year,RENT,70000.00,Verified
887353,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,4 years,RENT,57000.00,Source Verified
887354,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,10+ years,MORTGAGE,90000.00,Verified
887355,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,NaN,RENT,54000.00,Verified
887356,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,10+ years,MORTGAGE,50000.00,Source Verified
887357,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,10+ years,RENT,52000.00,Source Verified
887358,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,3 years,RENT,103000.00,Source Verified
887359,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,NaN,OWN,55000.00,Not Verified
887360,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,10+ years,MORTGAGE,92000.00,Verified
887361,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,10+ years,MORTGAGE,65000.00,Source Verified
887362,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,9 years,MORTGAGE,50000.00,Source Verified
887363,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,4 years,RENT,40000.00,Source Verified
887364,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,< 1 year,RENT,54000.00,Not Verified
887365,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,10+ years,RENT,57000.00,Verified
887366,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,2 years,RENT,27000.00,Source Verified
887367,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,1 year,RENT,75000.00,Verified
887368,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,8 years,MORTGAGE,30000.00,Verified
887369,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,10+ years,MORTGAGE,50000.00,Verified
887370,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,8 years,RENT,40000.00,Verified
887371,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,NaN,OWN,32000.00,Verified
887372,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,< 1 year,MORTGAGE,63000.00,Verified
887373,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,10+ years,RENT,25400.00,Verified
887374,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,8 years,RENT,31000.00,Verified
887375,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,10+ years,MORTGAGE,79000.00,Verified
887376,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,5 years,RENT,35000.00,Verified
887377,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,1 year,RENT,64400.00,Source Verified
887378,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,10+ years,RENT,100000.00,Verified

# now get investor funds details into categories as investment_high or low

In [101]:
loans['investor_funds'].value_counts()

10000.000000    56111
12000.000000    44899
15000.000000    41566
20000.000000    40188
35000.000000    29563
8000.000000     25796
5000.000000     25566
6000.000000     24569
16000.000000    20683
25000.000000    20139
18000.000000    19227
24000.000000    19128
30000.000000    14482
7000.000000     13102
28000.000000    12877
14000.000000    11796
21000.000000    10333
9000.000000     10135
4000.000000      9889
3000.000000      9228
13000.000000     6760
11000.000000     6756
9600.000000      6314
7200.000000      6018
14400.000000     5212
17000.000000     5168
2000.000000      4945
7500.000000      4853
22000.000000     4596
4800.000000      4114
                ...
11886.095098        1
13644.503996        1
3949.809998         1
5891.520812         1
6307.966092         1
814.283898          1
31878.539014        1
4987.018686         1
7540.076422         1
8933.600000         1
1549.998789         1
13518.257268        1
7021.989688         1
4249.999890         1
7849.186303         1
29789.890154        1
19309.382004        1
299.670000          1
3724.990259         1
14015.552777        1
5379.180000         1
19798.560310        1
11997.096700        1
21390.859651        1
15021.393748        1
13983.146282        1
20695.598085        1
19139.880000        1
2575.007593         1
12711.330600        1
Name: investor_funds, Length: 9856, dtype: int64

In [102]:
loans['investor_funds'].mean()

14702.46438322972

In [103]:
loans['investment'] = np.nan

def investor_funds(funds):
    if funds >= 15000 :
        return 'High'
    else:
        return 'Low'

In [104]:
loans['investment'] = loans['investor_funds'].apply(investor_funds)
loans['investment'].value_counts()

Low     495377
High    392002
Name: investment, dtype: int64

In [106]:
loans.iloc[:,:12]

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_income,verification_status
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.00,Verified
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.00,Source Verified
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.00,Not Verified
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.00,Source Verified
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT,80000.00,Source Verified
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT,36000.00,Source Verified
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT,47004.00,Not Verified
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT,48000.00,Source Verified
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN,40000.00,Source Verified
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT,15000.00,Verified
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN,72000.00,Not Verified
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN,75000.00,Source Verified
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT,30000.00,Source Verified
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT,15000.00,Source Verified
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT,100000.00,Source Verified
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT,28000.00,Not Verified
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT,42000.00,Not Verified
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE,110000.00,Not Verified
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE,84000.00,Verified
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT,77385.19,Not Verified
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT,43370.00,Verified
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT,105000.00,Verified
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN,50000.00,Source Verified
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT,50000.00,Not Verified
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT,76000.00,Not Verified
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE,92000.00,Verified
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT,60000.00,Not Verified
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT,50004.00,Not Verified
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE,106000.00,Not Verified
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT,25000.00,Source Verified
...,...,...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,2 years,MORTGAGE,72000.00,Source Verified
887350,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,10+ years,RENT,93600.00,Source Verified
887351,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,10+ years,MORTGAGE,48000.00,Verified
887352,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,< 1 year,RENT,70000.00,Verified
887353,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,4 years,RENT,57000.00,Source Verified
887354,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,10+ years,MORTGAGE,90000.00,Verified
887355,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,NaN,RENT,54000.00,Verified
887356,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,10+ years,MORTGAGE,50000.00,Source Verified
887357,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,10+ years,RENT,52000.00,Source Verified
887358,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,3 years,RENT,103000.00,Source Verified
887359,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,NaN,OWN,55000.00,Not Verified
887360,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,10+ years,MORTGAGE,92000.00,Verified
887361,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,10+ years,MORTGAGE,65000.00,Source Verified
887362,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,9 years,MORTGAGE,50000.00,Source Verified
887363,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,4 years,RENT,40000.00,Source Verified
887364,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,< 1 year,RENT,54000.00,Not Verified
887365,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,10+ years,RENT,57000.00,Verified
887366,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,2 years,RENT,27000.00,Source Verified
887367,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,1 year,RENT,75000.00,Verified
887368,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,8 years,MORTGAGE,30000.00,Verified
887369,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,10+ years,MORTGAGE,50000.00,Verified
887370,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,8 years,RENT,40000.00,Verified
887371,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,NaN,OWN,32000.00,Verified
887372,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,< 1 year,MORTGAGE,63000.00,Verified
887373,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,10+ years,RENT,25400.00,Verified
887374,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,8 years,RENT,31000.00,Verified
887375,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,10+ years,MORTGAGE,79000.00,Verified
887376,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,5 years,RENT,35000.00,Verified
887377,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,1 year,RENT,64400.00,Source Verified
887378,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,10+ years,RENT,100000.00,Verified

# loan_amount is get into categories as low medium and high

In [107]:
loans['loan_amount'].mean()

14755.26460508982

In [111]:
loans['loan_amount'].value_counts().head(10)

10000.0    61837
12000.0    50183
15000.0    47210
20000.0    46932
35000.0    36368
8000.0     27870
5000.0     27167
6000.0     26207
25000.0    24125
16000.0    23708
Name: loan_amount, dtype: int64

In [112]:
loans['loan_range'] = np.nan

def loan_amount(amount):
    if amount < 10000 :
        return 'Low'
    elif (amount > 10000) & (amount < 20000) :
        return 'Medium'
    else :
        return 'High'

In [113]:
loans['loan_range'] = loans['loan_amount'].apply(loan_amount)
loans['loan_range'].value_counts()

High      309606
Medium    304030
Low       273743
Name: loan_range, dtype: int64

In [115]:
loans.iloc[:,:10]

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership
0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,RENT
1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,RENT
2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,RENT
3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,RENT
4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,RENT
5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,RENT
6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,RENT
7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,RENT
8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,OWN
9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,RENT
10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,OWN
11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,OWN
12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,RENT
13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,RENT
14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,RENT
15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,RENT
16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,RENT
17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,MORTGAGE
18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,MORTGAGE
19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,RENT
20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,RENT
21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,RENT
22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,OWN
23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,RENT
24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,RENT
25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,MORTGAGE
26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,RENT
27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,RENT
28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,MORTGAGE
29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,RENT
...,...,...,...,...,...,...,...,...,...,...
887349,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,2 years,MORTGAGE
887350,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,10+ years,RENT
887351,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,10+ years,MORTGAGE
887352,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,< 1 year,RENT
887353,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,4 years,RENT
887354,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,10+ years,MORTGAGE
887355,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,NaN,RENT
887356,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,10+ years,MORTGAGE
887357,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,10+ years,RENT
887358,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,3 years,RENT
887359,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,NaN,OWN
887360,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,10+ years,MORTGAGE
887361,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,10+ years,MORTGAGE
887362,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,9 years,MORTGAGE
887363,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,4 years,RENT
887364,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,< 1 year,RENT
887365,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,10+ years,RENT
887366,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,2 years,RENT
887367,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,1 year,RENT
887368,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,8 years,MORTGAGE
887369,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,10+ years,MORTGAGE
887370,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,8 years,RENT
887371,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,NaN,OWN
887372,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,< 1 year,MORTGAGE
887373,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,10+ years,RENT
887374,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,8 years,RENT
887375,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,10+ years,MORTGAGE
887376,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,5 years,RENT
887377,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,1 year,RENT
887378,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,10+ years,RENT

# now get data into one hot encoding of all feaures using get_dummies()

In [117]:
features = ['term', 'grade', 'home_ownership', 
            'region','loan_purpose','income_category',
            'emp_status','interest','investment','loan_range']

In [132]:
for feature in features:
    loans = pd.concat([loans , pd.get_dummies(loans[feature] , prefix = feature)] ,axis =1)

In [133]:
loans.iloc[:,13:25]

,loan_status,pymnt_plan,purpose,addr_state,loan_condition,region,loan_purpose,income_category,emp_status,interest,investment,loan_range
0,Fully Paid,n,credit_card,AZ,1,SouthWest,Personal,Low,Good,Low,Low,Low
1,Charged Off,n,car,GA,-1,SouthEast,Personal,Low,Bad,High,Low,Low
2,Fully Paid,n,small_business,IL,1,MidWest,Bussiness,Low,Good,High,Low,Low
3,Fully Paid,n,other,CA,1,west,Personal,Low,Good,High,Low,High
4,Current,n,other,OR,1,west,Personal,Medium,Bad,Low,Low,Low
5,Fully Paid,n,wedding,AZ,1,SouthWest,Personal,Low,Bad,Low,Low,Low
6,Current,n,debt_consolidation,NC,1,SouthEast,Bussiness,Low,Good,High,Low,Low
7,Fully Paid,n,car,CA,1,west,Personal,Low,Good,High,Low,Low
8,Charged Off,n,small_business,CA,-1,west,Bussiness,Low,Medium,High,Low,Low
9,Charged Off,n,other,TX,-1,SouthWest,Personal,Low,Bad,Low,Low,Low
10,Fully Paid,n,debt_consolidation,AZ,1,SouthWest,Bussiness,Medium,Medium,High,Low,Low
11,Fully Paid,n,debt_consolidation,CA,1,west,Bussiness,Medium,Good,Low,Low,Medium
12,Charged Off,n,debt_consolidation,VA,-1,SouthEast,Bussiness,Low,Bad,High,Low,Low
13,Fully Paid,n,credit_card,IL,1,MidWest,Personal,Low,Bad,Low,Low,Low
14,Charged Off,n,other,CA,-1,west,Personal,Medium,Bad,Low,Low,High
15,Fully Paid,n,debt_consolidation,MO,1,MidWest,Bussiness,Low,Bad,High,Low,Low
16,Fully Paid,n,home_improvement,CA,1,west,Personal,Low,Medium,High,Low,High
17,Fully Paid,n,major_purchase,CT,1,NorthEast,Personal,Medium,Good,Low,Low,Low
18,Fully Paid,n,medical,UT,1,west,Personal,Medium,Bad,Low,Low,Low
19,Fully Paid,n,debt_consolidation,CA,1,west,Bussiness,Medium,Medium,Low,Low,Low
20,Fully Paid,n,debt_consolidation,TX,1,SouthWest,Bussiness,Low,Bad,High,High,High
21,Charged Off,n,debt_consolidation,FL,-1,SouthEast,Bussiness,Medium,Good,Low,High,High
22,Fully Paid,n,credit_card,TX,1,SouthWest,Personal,Low,Good,Low,Low,High
23,Fully Paid,n,debt_consolidation,CA,1,west,Bussiness,Low,Medium,Low,Low,High
24,Charged Off,n,major_purchase,CA,-1,west,Personal,Medium,Bad,Low,Low,Low
25,Fully Paid,n,credit_card,IL,1,MidWest,Personal,Medium,Bad,Low,High,Medium
26,Charged Off,n,debt_consolidation,NY,-1,NorthEast,Bussiness,Medium,Good,High,Low,Medium
27,Charged Off,n,other,PA,-1,NorthEast,Personal,Medium,Bad,High,Low,Low
28,Fully Paid,n,debt_consolidation,FL,1,SouthEast,Bussiness,Medium,Good,Low,Low,Low
29,Fully Paid,n,credit_card,MN,1,MidWest,Personal,Low,Bad,Low,Low,Low
...,...,...,...,...,...,...,...,...,...,...,...,...
887349,Current,n,debt_consolidation,FL,1,SouthEast,Bussiness,Medium,Bad,Low,High,High
887350,Current,n,debt_consolidation,CA,1,west,Bussiness,Medium,Good,High,Low,Medium
887351,Charged Off,n,medical,CO,-1,west,Personal,Low,Good,High,Low,Low
887352,Current,n,debt_consolidation,MD,1,NorthEast,Bussiness,Medium,Bad,Low,High,Medium
887353,Current,n,debt_consolidation,FL,1,SouthEast,Bussiness,Medium,Medium,Low,High,Medium
887354,Current,n,debt_consolidation,GA,1,SouthEast,Bussiness,Medium,Good,High,Low,Low
887355,Current,n,debt_consolidation,UT,1,west,Bussiness,Medium,Bad,Low,High,High
887356,Current,n,credit_card,MT,1,west,Personal,Low,Good,High,High,High
887357,Current,n,debt_consolidation,KY,1,SouthEast,Bussiness,Medium,Good,High,High,Medium
887358,Current,n,debt_consolidation,NC,1,SouthEast,Bussiness,Medium,Bad,High,High,High
887359,Current,n,debt_consolidation,MN,1,MidWest,Bussiness,Medium,Bad,High,High,High
887360,Current,n,debt_consolidation,NY,1,NorthEast,Bussiness,Medium,Good,Low,High,High
887361,Current,n,credit_card,MA,1,NorthEast,Personal,Medium,Good,Low,High,High
887362,Current,n,debt_consolidation,NM,1,SouthWest,Bussiness,Low,Good,Low,Low,Low
887363,Current,n,debt_consolidation,NV,1,west,Bussiness,Low,Medium,Low,Low,Medium
887364,Fully Paid,n,debt_consolidation,FL,1,SouthEast,Bussiness,Medium,Bad,Low,Low,Medium
887365,Current,n,debt_consolidation,IN,1,MidWest,Bussiness,Medium,Good,High,Low,Low
887366,Fully Paid,n,debt_consolidation,FL,1,SouthEast,Bussiness,Low,Bad,High,Low,Low
887367,Current,n,debt_consolidation,FL,1,SouthEast,Bussiness,Medium,Bad,Low,Low,High
887368,Current,n,major_purchase,NC,1,SouthEast,Personal,Low,Good,High,Low,Medium
887369,Fully Paid,n,car,CA,1,west,Personal,Low,Good,Low,Low,Low
887370,Current,n,debt_consolidation,WI,1,MidWest,Bussiness,Low,Good,Low,Low,Low
887371,Charged Off,n,debt_consolidation,OH,-1,MidWest,Bussiness,Low,Bad,High,Low,Medium
887372,Current,n,credit_card,OH,1,MidWest,Personal,Medium,Bad,Low,Low,Medium
887373,Current,n,credit_card,TX,1,SouthWest,Personal,Low,Good,High,Low,Medium
887374,Current,n,debt_consolidation,CA,1,west,Bussiness,Low,Good,Low,Low,High
887375,Current,n,home_improvement,NJ,1,NorthEast,Personal,Medium,Good,Low,High,High
887376,Current,n,debt_consolidation,TN,1,SouthEast,Bussiness,Low,Medium,High,Low,Medium
887377,Current,n,debt_consolidation,MA,1,NorthEast,Bussiness,Medium,Bad,High,Low,Medium
887378,Current,n,credit_card,FL,1,SouthEast,Personal,Medium,Good,Low,High,High

In [134]:
loans.columns

Index(['loan_amount', 'funded_amount', 'investor_funds', 'term',
       'interest_rate', 'installment', 'grade', 'sub_grade', 'emp_length',
       'home_ownership', 'annual_income', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'purpose', 'addr_state', 'loan_condition',
       'region', 'loan_purpose', 'income_category', 'emp_status', 'interest',
       'investment', 'loan_range', 'term_ 36 months', 'term_ 60 months',
       'grade_A', 'grade_B', 'grade_C', 'grade_D', 'grade_E', 'grade_F',
       'grade_G', 'home_ownership_ANY', 'home_ownership_MORTGAGE',
       'home_ownership_NONE', 'home_ownership_OTHER', 'home_ownership_OWN',
       'home_ownership_RENT', 'region_MidWest', 'region_NorthEast',
       'region_SouthEast', 'region_SouthWest', 'region_west',
       'loan_purpose_Bussiness', 'loan_purpose_Personal',
       'income_category_High', 'income_category_Low', 'income_category_Medium',
       'emp_status_Bad', 'emp_status_Good', 'emp_status_Medium',
       'interest_High', 'interest_Low', 'investment_High', 'investment_Low',
       'loan_range_High', 'loan_range_Low', 'loan_range_Medium'],
      dtype='object')

In [135]:
loans['loan_condition_int'] = np.nan
loans['loan_condition_int'] = loans['loan_condition']

In [137]:
loans['loan_condition_int'].value_counts()

 1    809502
-1     77877
Name: loan_condition_int, dtype: int64

In [143]:
loans.to_csv('lending_loans.csv', sep=',')

# from here the actcual process of decision tree classifier model is developed

In [2]:
loans = pd.read_csv('lending_loans.csv')
loans

,Unnamed: 0,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,...,emp_status_Good,emp_status_Medium,interest_High,interest_Low,investment_High,investment_Low,loan_range_High,loan_range_Low,loan_range_Medium,loan_condition_int
0,0,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,10+ years,...,1,0,0,1,0,1,0,1,0,1
1,1,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,< 1 year,...,0,0,1,0,0,1,0,1,0,-1
2,2,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,10+ years,...,1,0,1,0,0,1,0,1,0,1
3,3,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,10+ years,...,1,0,1,0,0,1,1,0,0,1
4,4,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,1 year,...,0,0,0,1,0,1,0,1,0,1
5,5,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,3 years,...,0,0,0,1,0,1,0,1,0,1
6,6,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,8 years,...,1,0,1,0,0,1,0,1,0,1
7,7,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,9 years,...,1,0,1,0,0,1,0,1,0,1
8,8,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,4 years,...,0,1,1,0,0,1,0,1,0,-1
9,9,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,< 1 year,...,0,0,0,1,0,1,0,1,0,-1
10,10,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,5 years,...,0,1,1,0,0,1,0,1,0,1
11,11,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,10+ years,...,1,0,0,1,0,1,0,0,1,1
12,12,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,< 1 year,...,0,0,1,0,0,1,0,1,0,-1
13,13,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,3 years,...,0,0,0,1,0,1,0,1,0,1
14,14,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,3 years,...,0,0,0,1,0,1,1,0,0,-1
15,15,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,< 1 year,...,0,0,1,0,0,1,0,1,0,1
16,16,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,4 years,...,0,1,1,0,0,1,1,0,0,1
17,17,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,10+ years,...,1,0,0,1,0,1,0,1,0,1
18,18,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,...,0,0,0,1,0,1,0,1,0,1
19,19,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,6 years,...,0,1,0,1,0,1,0,1,0,1
20,20,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,3 years,...,0,0,1,0,1,0,1,0,0,1
21,21,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,10+ years,...,1,0,0,1,1,0,1,0,0,-1
22,22,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,10+ years,...,1,0,0,1,0,1,1,0,0,1
23,23,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,5 years,...,0,1,0,1,0,1,1,0,0,1
24,24,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,1 year,...,0,0,0,1,0,1,0,1,0,-1
25,25,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,2 years,...,0,0,0,1,1,0,0,0,1,1
26,26,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,9 years,...,1,0,1,0,0,1,0,0,1,-1
27,27,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,2 years,...,0,0,1,0,0,1,0,1,0,-1
28,28,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,10+ years,...,1,0,0,1,0,1,0,1,0,1
29,29,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,< 1 year,...,0,0,0,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,887349,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,2 years,...,0,0,0,1,1,0,1,0,0,1
887350,887350,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,10+ years,...,1,0,1,0,0,1,0,0,1,1
887351,887351,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,10+ years,...,1,0,1,0,0,1,0,1,0,-1
887352,887352,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,< 1 year,...,0,0,0,1,1,0,0,0,1,1
887353,887353,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,4 years,...,0,1,0,1,1,0,0,0,1,1
887354,887354,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,10+ years,...,1,0,1,0,0,1,0,1,0,1
887355,887355,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,NaN,...,0,0,0,1,1,0,1,0,0,1
887356,887356,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,10+ years,...,1,0,1,0,1,0,1,0,0,1
887357,887357,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,10+ years,...,1,0,1,0,1,0,0,0,1,1
887358,887358,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,3 years,...,0,0,1,0,1,0,1,0,0,1
887359,887359,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,NaN,...,0,0,1,0,1,0,1,0,0,1
887360,887360,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,10+ years,...,1,0,0,1,1,0,1,0,0,1
887361,887361,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,10+ years,...,1,0,0,1,1,0,1,0,0,1
887362,887362,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,9 years,...,1,0,0,1,0,1,0,1,0,1
887363,887363,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,4 years,...,0,1,0,1,0,1,0,0,1,1
887364,887364,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,< 1 year,...,0,0,0,1,0,1,0,0,1,1
887365,887365,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,10+ years,...,1,0,1,0,0,1,0,1,0,1
887366,887366,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,2 years,...,0,0,1,0,0,1,0,1,0,1
887367,887367,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,1 year,...,0,0,0,1,0,1,1,0,0,1
887368,887368,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,8 years,...,1,0,1,0,0,1,0,0,1,1
887369,887369,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,10+ years,...,1,0,0,1,0,1,0,1,0,1
887370,887370,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,8 years,...,1,0,0,1,0,1,0,1,0,1
887371,887371,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,NaN,...,0,0,1,0,0,1,0,0,1,-1
887372,887372,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,< 1 year,...,0,0,0,1,0,1,0,0,1,1
887373,887373,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,10+ years,...,1,0,1,0,0,1,0,0,1,1
887374,887374,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,8 years,...,1,0,0,1,0,1,1,0,0,1
887375,887375,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,10+ years,...,1,0,0,1,1,0,1,0,0,1
887376,887376,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,5 years,...,0,1,1,0,0,1,0,0,1,1
887377,887377,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,1 year,...,0,0,1,0,0,1,0,0,1,1
887378,887378,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,10+ years,...,1,0,0,1,1,0,1,0,0,1

In [3]:
loans.columns

Index(['Unnamed: 0', 'loan_amount', 'funded_amount', 'investor_funds', 'term',
       'interest_rate', 'installment', 'grade', 'sub_grade', 'emp_length',
       'home_ownership', 'annual_income', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'purpose', 'addr_state', 'loan_condition',
       'region', 'loan_purpose', 'income_category', 'emp_status', 'interest',
       'investment', 'loan_range', 'term_ 36 months', 'term_ 60 months',
       'grade_A', 'grade_B', 'grade_C', 'grade_D', 'grade_E', 'grade_F',
       'grade_G', 'home_ownership_ANY', 'home_ownership_MORTGAGE',
       'home_ownership_NONE', 'home_ownership_OTHER', 'home_ownership_OWN',
       'home_ownership_RENT', 'region_MidWest', 'region_NorthEast',
       'region_SouthEast', 'region_SouthWest', 'region_west',
       'loan_purpose_Bussiness', 'loan_purpose_Personal',
       'income_category_High', 'income_category_Low', 'income_category_Medium',
       'emp_status_Bad', 'emp_status_Good', 'emp_status_Medium',
       'interest_High', 'interest_Low', 'investment_High', 'investment_Low',
       'loan_range_High', 'loan_range_Low', 'loan_range_Medium',
       'loan_condition_int'],
      dtype='object')

In [4]:
df =loans.iloc[:,26:61]
df

,term_ 36 months,term_ 60 months,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,home_ownership_ANY,...,emp_status_Bad,emp_status_Good,emp_status_Medium,interest_High,interest_Low,investment_High,investment_Low,loan_range_High,loan_range_Low,loan_range_Medium
0,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
1,0,1,0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
2,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
3,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,1,0,0
4,0,1,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
5,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
6,0,1,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
7,1,0,0,0,0,0,1,0,0,0,...,0,1,0,1,0,0,1,0,1,0
8,0,1,0,0,0,0,0,1,0,0,...,0,0,1,1,0,0,1,0,1,0
9,0,1,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
10,0,1,0,0,1,0,0,0,0,0,...,0,0,1,1,0,0,1,0,1,0
11,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,1
12,1,0,0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
13,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
14,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,1,0,0
15,1,0,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
16,1,0,0,0,1,0,0,0,0,0,...,0,0,1,1,0,0,1,1,0,0
17,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
18,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
19,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,1,0
20,0,1,0,0,1,0,0,0,0,0,...,1,0,0,1,0,1,0,1,0,0
21,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,1,0,1,0,0
22,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,1,0,0
23,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,1,1,0,0
24,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
25,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,1,0,0,0,1
26,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,1
27,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
28,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
29,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,1,0,1,0,0
887350,0,1,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,1
887351,1,0,0,0,0,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
887352,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,1,0,0,0,1
887353,0,1,0,1,0,0,0,0,0,0,...,0,0,1,0,1,1,0,0,0,1
887354,1,0,0,0,0,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
887355,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,1,0,1,0,0
887356,0,1,0,0,0,1,0,0,0,0,...,0,1,0,1,0,1,0,1,0,0
887357,0,1,0,0,0,1,0,0,0,0,...,0,1,0,1,0,1,0,0,0,1
887358,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,1,0,1,0,0
887359,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,1,0,1,0,0
887360,0,1,0,1,0,0,0,0,0,0,...,0,1,0,0,1,1,0,1,0,0
887361,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,1,0,0
887362,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
887363,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,0,1
887364,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,0,1
887365,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
887366,1,0,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
887367,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,1,0,0
887368,0,1,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,1
887369,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
887370,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
887371,1,0,0,0,0,0,1,0,0,0,...,1,0,0,1,0,0,1,0,0,1
887372,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,0,1
887373,1,0,0,0,0,1,0,0,0,0,...,0,1,0,1,0,0,1,0,0,1
887374,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,1,0,0
887375,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,1,0,1,0,0
887376,0,1,0,0,0,1,0,0,0,0,...,0,0,1,1,0,0,1,0,0,1
887377,0,1,0,0,0,0,1,0,0,0,...,1,0,0,1,0,0,1,0,0,1
887378,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,1,0,1,0,0

In [5]:
df

,term_ 36 months,term_ 60 months,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,home_ownership_ANY,...,emp_status_Bad,emp_status_Good,emp_status_Medium,interest_High,interest_Low,investment_High,investment_Low,loan_range_High,loan_range_Low,loan_range_Medium
0,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
1,0,1,0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
2,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
3,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,1,0,0
4,0,1,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
5,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
6,0,1,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
7,1,0,0,0,0,0,1,0,0,0,...,0,1,0,1,0,0,1,0,1,0
8,0,1,0,0,0,0,0,1,0,0,...,0,0,1,1,0,0,1,0,1,0
9,0,1,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
10,0,1,0,0,1,0,0,0,0,0,...,0,0,1,1,0,0,1,0,1,0
11,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,1
12,1,0,0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
13,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
14,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,1,0,0
15,1,0,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
16,1,0,0,0,1,0,0,0,0,0,...,0,0,1,1,0,0,1,1,0,0
17,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
18,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
19,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,1,0
20,0,1,0,0,1,0,0,0,0,0,...,1,0,0,1,0,1,0,1,0,0
21,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,1,0,1,0,0
22,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,1,0,0
23,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,1,1,0,0
24,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
25,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,1,0,0,0,1
26,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,1
27,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
28,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
29,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,1,0,1,0,0
887350,0,1,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,1
887351,1,0,0,0,0,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
887352,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,1,0,0,0,1
887353,0,1,0,1,0,0,0,0,0,0,...,0,0,1,0,1,1,0,0,0,1
887354,1,0,0,0,0,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
887355,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,1,0,1,0,0
887356,0,1,0,0,0,1,0,0,0,0,...,0,1,0,1,0,1,0,1,0,0
887357,0,1,0,0,0,1,0,0,0,0,...,0,1,0,1,0,1,0,0,0,1
887358,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,1,0,1,0,0
887359,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,1,0,1,0,0
887360,0,1,0,1,0,0,0,0,0,0,...,0,1,0,0,1,1,0,1,0,0
887361,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,1,0,0
887362,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
887363,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,0,1
887364,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,0,1
887365,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
887366,1,0,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
887367,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,1,0,0
887368,0,1,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,1
887369,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
887370,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
887371,1,0,0,0,0,0,1,0,0,0,...,1,0,0,1,0,0,1,0,0,1
887372,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,0,1
887373,1,0,0,0,0,1,0,0,0,0,...,0,1,0,1,0,0,1,0,0,1
887374,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,1,0,0
887375,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,1,0,1,0,0
887376,0,1,0,0,0,1,0,0,0,0,...,0,0,1,1,0,0,1,0,0,1
887377,0,1,0,0,0,0,1,0,0,0,...,1,0,0,1,0,0,1,0,0,1
887378,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,1,0,1,0,0

In [6]:
# upto 26 columns remove them because its raw data  rest are converted data as (0  &  1)

loans = loans.iloc[:,26:62]
loans

# here the end of normal process next step is down at data split and further process

Like the previous assignment, we reassign the labels to have +1 for a safe loan, and -1 for a risky (bad) loan.

Unlike the previous assignment where we used several features, in this assignment, we will just be using 4 categorical
features: 

1. grade of the loan 
2. the length of the loan term
3. the home ownership status: own, mortgage, rent
4. number of years of employment.

Since we are building a binary decision tree, we will have to convert these categorical features to a binary representation in a subsequent section using 1-hot encoding.

In [4]:
features = ['grade',              # grade of the loan
            'term',               # the term of the loan
            'home_ownership',     # home_ownership status: own, mortgage or rent
            'emp_length',         # number of years of employment
           ]
target = 'safe_loans'
loans = loans[features + [target]]

Let's explore what the dataset looks like.

In [5]:
s=loans[:10]
s

Columns:
	grade	str
	term	str
	home_ownership	str
	emp_length	str
	safe_loans	int

Rows: 10

Data:
+-------+------------+----------------+------------+------------+
| grade |    term    | home_ownership | emp_length | safe_loans |
+-------+------------+----------------+------------+------------+
|   B   |  36 months |      RENT      | 10+ years  |     1      |
|   C   |  60 months |      RENT      |  < 1 year  |     -1     |
|   C   |  36 months |      RENT      | 10+ years  |     1      |
|   C   |  36 months |      RENT      | 10+ years  |     1      |
|   A   |  36 months |      RENT      |  3 years   |     1      |
|   E   |  36 months |      RENT      |  9 years   |     1      |
|   F   |  60 months |      OWN       |  4 years   |     -1     |
|   B   |  60 months |      RENT      |  < 1 year  |     -1     |
|   C   |  60 months |      OWN       |  5 years   |     1      |
|   B   |  36 months |      OWN       | 10+ years  |     1      |
+-------+------------+----------------+------------+------------+
[10 rows x 5 columns]

## Subsample dataset to make sure classes are balanced

Just as we did in the previous assignment, we will undersample the larger class (safe loans) in order to balance out our dataset. This means we are throwing away many data points. We use `seed=1` so everyone gets the same results.

In [6]:
safe_loans_raw = loans[loans[target] == 1]
risky_loans_raw = loans[loans[target] == -1]

# Since there are less risky loans than safe loans, find the ratio of the sizes
# and use that percentage to undersample the safe loans.
percentage = len(risky_loans_raw)/float(len(safe_loans_raw))
safe_loans = safe_loans_raw.sample(percentage, seed = 1)
risky_loans = risky_loans_raw
loans_data = risky_loans.append(safe_loans)

print "Percentage of safe loans                 :", len(safe_loans) / float(len(loans_data))
print "Percentage of risky loans                :", len(risky_loans) / float(len(loans_data))
print "Total number of loans in our new dataset :", len(loans_data)

Percentage of safe loans                 : 0.502236174422
Percentage of risky loans                : 0.497763825578
Total number of loans in our new dataset : 46508

In [14]:
print(safe_loans, risky_loans[10:], loans_data)

(Columns:
	grade	str
	term	str
	home_ownership	str
	emp_length	str
	safe_loans	int

Rows: 23358

Data:
+-------+------------+----------------+------------+------------+
| grade |    term    | home_ownership | emp_length | safe_loans |
+-------+------------+----------------+------------+------------+
|   B   |  36 months |      OWN       | 10+ years  |     1      |
|   B   |  36 months |    MORTGAGE    |  2 years   |     1      |
|   B   |  36 months |      RENT      |  < 1 year  |     1      |
|   A   |  36 months |    MORTGAGE    |  5 years   |     1      |
|   C   |  36 months |      RENT      |  7 years   |     1      |
|   B   |  36 months |      RENT      | 10+ years  |     1      |
|   B   |  36 months |      RENT      |   1 year   |     1      |
|   A   |  36 months |      RENT      |  5 years   |     1      |
|   B   |  36 months |      RENT      |   1 year   |     1      |
|   B   |  36 months |      RENT      |  2 years   |     1      |
+-------+------------+----------------+------------+------------+
[23358 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns., Columns:
	grade	str
	term	str
	home_ownership	str
	emp_length	str
	safe_loans	int

Rows: 23140

Data:
+-------+------------+----------------+------------+------------+
| grade |    term    | home_ownership | emp_length | safe_loans |
+-------+------------+----------------+------------+------------+
|   B   |  36 months |    MORTGAGE    |  8 years   |     -1     |
|   C   |  36 months |      RENT      |  4 years   |     -1     |
|   E   |  60 months |      RENT      |  7 years   |     -1     |
|   D   |  60 months |      RENT      |  5 years   |     -1     |
|   F   |  60 months |      RENT      |  4 years   |     -1     |
|   D   |  36 months |      RENT      |  5 years   |     -1     |
|   D   |  60 months |    MORTGAGE    |  7 years   |     -1     |
|   B   |  36 months |      RENT      |  2 years   |     -1     |
|   D   |  60 months |      RENT      | 10+ years  |     -1     |
|   D   |  36 months |      RENT      |   1 year   |     -1     |
+-------+------------+----------------+------------+------------+
[23140 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns., Columns:
	grade	str
	term	str
	home_ownership	str
	emp_length	str
	safe_loans	int

Rows: 46508

Data:
+-------+------------+----------------+------------+------------+
| grade |    term    | home_ownership | emp_length | safe_loans |
+-------+------------+----------------+------------+------------+
|   C   |  60 months |      RENT      |  < 1 year  |     -1     |
|   F   |  60 months |      OWN       |  4 years   |     -1     |
|   B   |  60 months |      RENT      |  < 1 year  |     -1     |
|   C   |  36 months |      RENT      |  < 1 year  |     -1     |
|   B   |  36 months |      RENT      |  3 years   |     -1     |
|   B   |  36 months |      RENT      | 10+ years  |     -1     |
|   B   |  36 months |      RENT      |   1 year   |     -1     |
|   C   |  36 months |      RENT      |  9 years   |     -1     |
|   D   |  60 months |      RENT      |  2 years   |     -1     |
|   A   |  36 months |    MORTGAGE    | 10+ years  |     -1     |
+-------+------------+----------------+------------+------------+
[46508 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.)

**Note:** There are many approaches for dealing with imbalanced data, including some where we modify the learning algorithm. These approaches are beyond the scope of this course, but some of them are reviewed in "[Learning from Imbalanced Data](http://www.ele.uri.edu/faculty/he/PDFfiles/ImbalancedLearning.pdf)" by Haibo He and Edwardo A. Garcia, *IEEE Transactions on Knowledge and Data Engineering* **21**(9) (June 26, 2009), p. 12631284. For this assignment, we use the simplest possible approach, where we subsample the overly represented class to get a more balanced dataset. In general, and especially when the data is highly imbalanced, we recommend using more advanced methods.

## Transform categorical data into binary features

In this assignment, we will implement **binary decision trees** (decision trees for binary features, a specific case of categorical variables taking on two values, e.g., true/false). Since all of our features are currently categorical features, we want to turn them into binary features. 

For instance, the **home_ownership** feature represents the home ownership status of the loanee, which is either `own`, `mortgage` or `rent`. For example, if a data point has the feature 
```
   {'home_ownership': 'RENT'}
```
we want to turn this into three features: 
```
 { 
   'home_ownership = OWN'      : 0, 
   'home_ownership = MORTGAGE' : 0, 
   'home_ownership = RENT'     : 1
 }
```

Since this code requires a few Python and GraphLab tricks, feel free to use this block of code as is. Refer to the API documentation for a deeper understanding.

In [13]:
feature='grade'
loans_data_one_hot_encoded = loans_data[feature].apply(lambda x: {x: 1})    
print(loans_data_one_hot_encoded)
#here each column name is taken then its prefixes are used as column names replacing them( grade as grade .a grade.B ,,,)
loans_data_unpacked = loans_data_one_hot_encoded.unpack(column_name_prefix=feature)
print loans_data_unpacked
loans_data_unpacked['grade.A'].fillna(0) #here column A will repace none with 0

[{'C': 1L}, {'F': 1L}, {'B': 1L}, {'C': 1L}, {'B': 1L}, {'B': 1L}, {'B': 1L}, {'C': 1L}, {'D': 1L}, {'A': 1L}, {'B': 1L}, {'C': 1L}, {'E': 1L}, {'D': 1L}, {'F': 1L}, {'D': 1L}, {'D': 1L}, {'B': 1L}, {'D': 1L}, {'D': 1L}, {'B': 1L}, {'E': 1L}, {'C': 1L}, {'A': 1L}, {'B': 1L}, {'B': 1L}, {'C': 1L}, {'C': 1L}, {'A': 1L}, {'C': 1L}, {'D': 1L}, {'F': 1L}, {'B': 1L}, {'D': 1L}, {'D': 1L}, {'B': 1L}, {'C': 1L}, {'B': 1L}, {'D': 1L}, {'C': 1L}, {'B': 1L}, {'D': 1L}, {'B': 1L}, {'B': 1L}, {'B': 1L}, {'B': 1L}, {'A': 1L}, {'C': 1L}, {'B': 1L}, {'A': 1L}, {'D': 1L}, {'B': 1L}, {'D': 1L}, {'E': 1L}, {'E': 1L}, {'C': 1L}, {'B': 1L}, {'B': 1L}, {'B': 1L}, {'A': 1L}, {'B': 1L}, {'B': 1L}, {'A': 1L}, {'B': 1L}, {'A': 1L}, {'B': 1L}, {'B': 1L}, {'A': 1L}, {'E': 1L}, {'C': 1L}, {'C': 1L}, {'C': 1L}, {'B': 1L}, {'D': 1L}, {'B': 1L}, {'D': 1L}, {'D': 1L}, {'A': 1L}, {'C': 1L}, {'A': 1L}, {'E': 1L}, {'C': 1L}, {'B': 1L}, {'C': 1L}, {'B': 1L}, {'E': 1L}, {'A': 1L}, {'C': 1L}, {'E': 1L}, {'D': 1L}, {'D': 1L}, {'B': 1L}, {'C': 1L}, {'A': 1L}, {'A': 1L}, {'D': 1L}, {'B': 1L}, {'D': 1L}, {'A': 1L}, {'D': 1L}, ... ]
+---------+---------+---------+---------+---------+---------+---------+
| grade.A | grade.B | grade.C | grade.D | grade.E | grade.F | grade.G |
+---------+---------+---------+---------+---------+---------+---------+
|   None  |   None  |    1    |   None  |   None  |   None  |   None  |
|   None  |   None  |   None  |   None  |   None  |    1    |   None  |
|   None  |    1    |   None  |   None  |   None  |   None  |   None  |
|   None  |   None  |    1    |   None  |   None  |   None  |   None  |
|   None  |    1    |   None  |   None  |   None  |   None  |   None  |
|   None  |    1    |   None  |   None  |   None  |   None  |   None  |
|   None  |    1    |   None  |   None  |   None  |   None  |   None  |
|   None  |   None  |    1    |   None  |   None  |   None  |   None  |
|   None  |   None  |   None  |    1    |   None  |   None  |   None  |
|    1    |   None  |   None  |   None  |   None  |   None  |   None  |
+---------+---------+---------+---------+---------+---------+---------+
[46508 rows x 7 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

dtype: int
Rows: 46508
[0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 1L, 0L, 1L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 1L, 0L, 0L, 0L, 1L, 0L, ... ]

In [15]:
loans_data = risky_loans.append(safe_loans)
for feature in features:
    loans_data_one_hot_encoded = loans_data[feature].apply(lambda x: {x: 1})    
    loans_data_unpacked = loans_data_one_hot_encoded.unpack(column_name_prefix=feature)
    
    # Change None's to 0's
    for column in loans_data_unpacked.column_names():
        loans_data_unpacked[column] = loans_data_unpacked[column].fillna(0)

    loans_data.remove_column(feature)
    loans_data.add_columns(loans_data_unpacked)

Let's see what the feature columns look like now:

In [21]:
features = loans_data.column_names()
features.remove('safe_loans')  # Remove the response variable
print features
loans_data

['grade.A', 'grade.B', 'grade.C', 'grade.D', 'grade.E', 'grade.F', 'grade.G', 'term. 36 months', 'term. 60 months', 'home_ownership.MORTGAGE', 'home_ownership.OTHER', 'home_ownership.OWN', 'home_ownership.RENT', 'emp_length.1 year', 'emp_length.10+ years', 'emp_length.2 years', 'emp_length.3 years', 'emp_length.4 years', 'emp_length.5 years', 'emp_length.6 years', 'emp_length.7 years', 'emp_length.8 years', 'emp_length.9 years', 'emp_length.< 1 year', 'emp_length.n/a']

Columns:
	safe_loans	int
	grade.A	int
	grade.B	int
	grade.C	int
	grade.D	int
	grade.E	int
	grade.F	int
	grade.G	int
	term. 36 months	int
	term. 60 months	int
	home_ownership.MORTGAGE	int
	home_ownership.OTHER	int
	home_ownership.OWN	int
	home_ownership.RENT	int
	emp_length.1 year	int
	emp_length.10+ years	int
	emp_length.2 years	int
	emp_length.3 years	int
	emp_length.4 years	int
	emp_length.5 years	int
	emp_length.6 years	int
	emp_length.7 years	int
	emp_length.8 years	int
	emp_length.9 years	int
	emp_length.< 1 year	int
	emp_length.n/a	int

Rows: 46508

Data:
+------------+---------+---------+---------+---------+---------+---------+---------+
| safe_loans | grade.A | grade.B | grade.C | grade.D | grade.E | grade.F | grade.G |
+------------+---------+---------+---------+---------+---------+---------+---------+
|     -1     |    0    |    0    |    1    |    0    |    0    |    0    |    0    |
|     -1     |    0    |    0    |    0    |    0    |    0    |    1    |    0    |
|     -1     |    0    |    1    |    0    |    0    |    0    |    0    |    0    |
|     -1     |    0    |    0    |    1    |    0    |    0    |    0    |    0    |
|     -1     |    0    |    1    |    0    |    0    |    0    |    0    |    0    |
|     -1     |    0    |    1    |    0    |    0    |    0    |    0    |    0    |
|     -1     |    0    |    1    |    0    |    0    |    0    |    0    |    0    |
|     -1     |    0    |    0    |    1    |    0    |    0    |    0    |    0    |
|     -1     |    0    |    0    |    0    |    1    |    0    |    0    |    0    |
|     -1     |    1    |    0    |    0    |    0    |    0    |    0    |    0    |
+------------+---------+---------+---------+---------+---------+---------+---------+
+-----------------+-----------------+-------------------------+----------------------+
| term. 36 months | term. 60 months | home_ownership.MORTGAGE | home_ownership.OTHER |
+-----------------+-----------------+-------------------------+----------------------+
|        0        |        1        |            0            |          0           |
|        0        |        1        |            0            |          0           |
|        0        |        1        |            0            |          0           |
|        1        |        0        |            0            |          0           |
|        1        |        0        |            0            |          0           |
|        1        |        0        |            0            |          0           |
|        1        |        0        |            0            |          0           |
|        1        |        0        |            0            |          0           |
|        0        |        1        |            0            |          0           |
|        1        |        0        |            1            |          0           |
+-----------------+-----------------+-------------------------+----------------------+
+--------------------+---------------------+-------------------+----------------------+
| home_ownership.OWN | home_ownership.RENT | emp_length.1 year | emp_length.10+ years |
+--------------------+---------------------+-------------------+----------------------+
|         0          |          1          |         0         |          0           |
|         1          |          0          |         0         |          0           |
|         0          |          1          |         0         |          0           |
|         0          |          1          |         0         |          0           |
|         0          |          1          |         0         |          0           |
|         0          |          1          |         0         |          1           |
|         0          |          1          |         1         |          0           |
|         0          |          1          |         0         |          0           |
|         0          |          1          |         0         |          0           |
|         0          |          0          |         0         |          1           |
+--------------------+---------------------+-------------------+----------------------+
+--------------------+--------------------+--------------------+--------------------+-----+
| emp_length.2 years | emp_length.3 years | emp_length.4 years | emp_length.5 years | ... |
+--------------------+--------------------+--------------------+--------------------+-----+
|         0          |         0          |         0          |         0          | ... |
|         0          |         0          |         1          |         0          | ... |
|         0          |         0          |         0          |         0          | ... |
|         0          |         0          |         0          |         0          | ... |
|         0          |         1          |         0          |         0          | ... |
|         0          |         0          |         0          |         0          | ... |
|         0          |         0          |         0          |         0          | ... |
|         0          |         0          |         0          |         0          | ... |
|         1          |         0          |         0          |         0          | ... |
|         0          |         0          |         0          |         0          | ... |
+--------------------+--------------------+--------------------+--------------------+-----+
[46508 rows x 26 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [22]:
print "Number of features (after binarizing categorical variables) = %s" % len(features)

Number of features (after binarizing categorical variables) = 25

Let's explore what one of these columns looks like:

In [23]:
loans_data['grade.A']

dtype: int
Rows: 46508
[0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 1L, 0L, 1L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 1L, 0L, 0L, 0L, 1L, 0L, ... ]

This column is set to 1 if the loan grade is A and 0 otherwise.

**Checkpoint:** Make sure the following answers match up.

In [24]:
print "Total number of grade.A loans : %s" % loans_data['grade.A'].sum()
print "Expexted answer               : 6422"

Total number of grade.A loans : 6422
Expexted answer               : 6422

## Train-test split

We split the data into a train test split with 80% of the data in the training set and 20% of the data in the test set. We use `seed=1` so that everyone gets the same result.

In [7]:
x = loans
y = loans.iloc[:,61:62]
print(x.shape ,y.shape)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train ,x_test ,y_train ,y_test = train_test_split(x ,y ,test_size= 0.2 ,random_state = 40)

In [10]:
print(x_train.shape ,y_train.shape) 
print(x_test.shape,y_test.shape)

(709903, 36) (709903, 0)
(177476, 36) (177476, 0)

In [11]:
x_train['loan_condition_int'].value_counts()

 1    647559
-1     62344
Name: loan_condition_int, dtype: int64

# Decision tree implementation

In this section, we will implement binary decision trees from scratch. There are several steps involved in building a decision tree. For that reason, we have split the entire assignment into several sections.

## Function to count number of mistakes while predicting majority class

Recall from the lecture that prediction at an intermediate node works by predicting the **majority class** for all data points that belong to this node.

Now, we will write a function that calculates the number of **missclassified examples** when predicting the **majority class**. This will be used to help determine which feature is the best to split on at a given node of the tree.

**Note**: Keep in mind that in order to compute the number of mistakes for a majority classifier, we only need the label (y values) of the data points in the node. 

** Steps to follow **:
* ** Step 1:** Calculate the number of safe loans and risky loans.
* ** Step 2:** Since we are assuming majority class prediction, all the data points that are **not** in the majority class are considered **mistakes**.
* ** Step 3:** Return the number of **mistakes**.


Now, let us write the function `intermediate_node_num_mistakes` which computes the number of misclassified examples of an intermediate node given the set of labels (y values) of the data points contained in the node. Fill in the places where you find `## YOUR CODE HERE`. There are **three** places in this function for you to fill in.

In [12]:
def intermediate_node_num_mistakes(labels_in_node):
    # Corner case: If labels_in_node is empty, return 0
    if len(labels_in_node) == 0:
        return 0
      
    # Count the number of 1's (safe loans)
    safe_loans_count = sum(labels_in_node == +1)
    #print('safe_loans_count ::' , safe_loans_count)
    
    # Count the number of -1's (risky loans)
    risky_loans_count = sum(labels_in_node == -1)
    #print('risky_loans_count ::', risky_loans_count)
    
    # Return the number of mistakes that the majority classifier makes.
    return min(safe_loans_count, risky_loans_count) 
#here if safe has higher no then risky then its min is risky and viseversa

Because there are several steps in this assignment, we have introduced some stopping points where you can check your code and make sure it is correct before proceeding. To test your `intermediate_node_num_mistakes` function, run the following code until you get a **Test passed!**, then you should proceed. Otherwise, you should spend some time figuring out where things went wrong.

# here decision_tree with gini index and impurity model is developing

In [17]:
# here getting the probalility of the each feature with respect to output values using------> (log2)

safe_len = 5
risky_len = 9

total_len = safe_len + risky_len
safe      = (safe_len /total_len)
risky     = (risky_len /total_len)   
prob = - ( (safe)* (np.log2(safe)) ) - ( (risky) * (np.log2(risky)) )
prob

0.9402859586706311

In [44]:
def intermediate_node_num_probability(labels_in_node):
    # Corner case: If labels_in_node is empty, return 0
    if len(labels_in_node) == 0:
        return 0
      
    # Count the number of 1's (safe loans)
    safe_len = sum(labels_in_node == +1)
    #print('safe_len ::' , safe_len)
    
    # Count the number of -1's (risky loans)
    risky_len = sum(labels_in_node == -1)
    #print('risky_len ::', risky_len)
    
    total_len = safe_len + risky_len
    safe      = (safe_len /total_len)
    risky     = (risky_len /total_len)  
    
    probability = - ( (safe)* (np.log(safe)) ) - ( (risky) * (np.log(risky)) )
     
    
    # Return the probability that the majority classifier makes.
    return  probability.round(4) # rounded value to four digits

In [30]:
lab = np.array([-1, -1, 1, 1, 1])
lab

array([-1, -1,  1,  1,  1])

In [31]:
# Test case 1
example_labels = np.array([-1, -1, 1, 1, 1])
if intermediate_node_num_mistakes(example_labels) == 2:
    print ('Test passed!')
else:
    print ('Test 1 failed... try again!')

# Test case 2
example_labels = np.array([-1, -1, 1, 1, 1, 1, 1])
if intermediate_node_num_mistakes(example_labels) == 2:
    print ('Test passed!')
else:
    print ('Test 2 failed... try again!')
    
# Test case 3
example_labels = np.array([-1, -1, -1, -1, -1, 1, 1])
if intermediate_node_num_mistakes(example_labels) == 2:
    print ('Test passed!')
else:
    print ('Test 3 failed... try again!')

Test passed!
Test passed!
Test passed!

# here testing intermediate_node_num_probability

In [45]:
#example_labels = np.array([-1, -1, 1, 1, 1])
#example_labels = np.array([-1, -1, 1, 1, 1, 1, 1])
example_labels = np.array([-1, -1, -1, -1, -1, 1, 1])

intermediate_node_num_probability(example_labels)

0.5983

In [46]:
# Test case 1
example_labels = np.array([-1, -1, 1, 1, 1])
if intermediate_node_num_probability(example_labels) ==0.673 :
    print ('Test passed!')
else:
    print ('Test 1 failed... try again!')

# Test case 2
example_labels = np.array([-1, -1, 1, 1, 1, 1, 1])
if intermediate_node_num_probability(example_labels) == 0.5983:
    print ('Test passed!')
else:
    print ('Test 2 failed... try again!')
    
# Test case 3
example_labels = np.array([-1, -1, -1, -1, -1, 1, 1])
if intermediate_node_num_probability(example_labels) == 0.5983:
    print ('Test passed!')
else:
    print ('Test 3 failed... try again!')

Test passed!
Test passed!
Test passed!

## Function to pick best feature to split on

The function **best_splitting_feature** takes 3 arguments: 
1. The data (SFrame of data which includes all of the feature columns and label column)
2. The features to consider for splits (a list of strings of column names to consider for splits)
3. The name of the target/label column (string)

The function will loop through the list of possible features, and consider splitting on each of them. It will calculate the classification error of each split and return the feature that had the smallest classification error when split on.

Recall that the **classification error** is defined as follows:
$$
\mbox{classification error} = \frac{\mbox{# mistakes}}{\mbox{# total examples}}
$$

Follow these steps: 
* **Step 1:** Loop over each feature in the feature list
* **Step 2:** Within the loop, split the data into two groups: one group where all of the data has feature value 0 or False (we will call this the **left** split), and one group where all of the data has feature value 1 or True (we will call this the **right** split). Make sure the **left** split corresponds with 0 and the **right** split corresponds with 1 to ensure your implementation fits with our implementation of the tree building process.
* **Step 3:** Calculate the number of misclassified examples in both groups of data and use the above formula to compute the **classification error**.
* **Step 4:** If the computed error is smaller than the best error found so far, store this **feature and its error**.

This may seem like a lot, but we have provided pseudocode in the comments in order to help you implement the function correctly.

**Note:** Remember that since we are only dealing with binary features, we do not have to consider thresholds for real-valued features. This makes the implementation of this function much easier.

Fill in the places where you find `## YOUR CODE HERE`. There are **five** places in this function for you to fill in.

In [40]:
s=x_train.columns[1:3]
print(s)
for i in s:
    print(i)

Index(['term_ 60 months', 'grade_A'], dtype='object')
term_ 60 months
grade_A

In [41]:
#feature = 'grade_A'
for feature in s:
    l_split = x_test[x_test[feature] == 0]
    print(l_split)

        term_ 36 months  term_ 60 months  grade_A  grade_B  grade_C  grade_D  \
733358                1                0        0        1        0        0
336299                1                0        0        0        1        0
806382                1                0        1        0        0        0
17265                 1                0        1        0        0        0
585889                1                0        0        0        1        0
247519                1                0        0        0        1        0
836102                1                0        1        0        0        0
223391                1                0        0        1        0        0
324405                1                0        0        0        0        1
834239                1                0        0        0        1        0
479679                1                0        0        0        1        0
533958                1                0        1        0        0        0
859787                1                0        1        0        0        0
208399                1                0        0        1        0        0
90962                 1                0        1        0        0        0
860200                1                0        0        1        0        0
24533                 1                0        0        1        0        0
404691                1                0        0        1        0        0
229263                1                0        1        0        0        0
495940                1                0        1        0        0        0
355034                1                0        0        1        0        0
150975                1                0        0        1        0        0
98677                 1                0        0        1        0        0
679045                1                0        0        1        0        0
206337                1                0        1        0        0        0
432342                1                0        0        0        0        0
208748                1                0        0        1        0        0
551731                1                0        0        0        0        1
458530                1                0        0        1        0        0
880481                1                0        0        0        0        1
...                 ...              ...      ...      ...      ...      ...
502205                1                0        1        0        0        0
202613                1                0        0        1        0        0
439205                1                0        0        0        1        0
73946                 1                0        0        1        0        0
178585                1                0        0        1        0        0
873911                1                0        1        0        0        0
406658                1                0        0        0        1        0
12318                 1                0        1        0        0        0
255630                1                0        0        0        1        0
857668                1                0        0        0        0        0
622098                1                0        0        1        0        0
590494                1                0        0        1        0        0
710828                1                0        0        1        0        0
377912                1                0        0        1        0        0
623794                1                0        0        1        0        0
773881                1                0        0        0        0        1
798575                1                0        0        0        1        0
696759                1                0        1        0        0        0
746763                1                0        0        0        1        0
832012                1                0        1        0        0        0
45738                 1                0        1        0        0        0
161949                1                0        0        1        0        0
108785                1                0        0        0        1        0
766270                1                0        0        0        1        0
881080                1                0        0        0        1        0
642421                1                0        0        1        0        0
617150                1                0        0        0        0        0
125037                1                0        0        1        0        0
706070                1                0        0        1        0        0
489600                1                0        0        1        0        0

        grade_E  grade_F  grade_G  home_ownership_ANY         ...          \
733358        0        0        0                   0         ...
336299        0        0        0                   0         ...
806382        0        0        0                   0         ...
17265         0        0        0                   0         ...
585889        0        0        0                   0         ...
247519        0        0        0                   0         ...
836102        0        0        0                   0         ...
223391        0        0        0                   0         ...
324405        0        0        0                   0         ...
834239        0        0        0                   0         ...
479679        0        0        0                   0         ...
533958        0        0        0                   0         ...
859787        0        0        0                   0         ...
208399        0        0        0                   0         ...
90962         0        0        0                   0         ...
860200        0        0        0                   0         ...
24533         0        0        0                   0         ...
404691        0        0        0                   0         ...
229263        0        0        0                   0         ...
495940        0        0        0                   0         ...
355034        0        0        0                   0         ...
150975        0        0        0                   0         ...
98677         0        0        0                   0         ...
679045        0        0        0                   0         ...
206337        0        0        0                   0         ...
432342        1        0        0                   0         ...
208748        0        0        0                   0         ...
551731        0        0        0                   0         ...
458530        0        0        0                   0         ...
880481        0        0        0                   0         ...
...         ...      ...      ...                 ...         ...
502205        0        0        0                   0         ...
202613        0        0        0                   0         ...
439205        0        0        0                   0         ...
73946         0        0        0                   0         ...
178585        0        0        0                   0         ...
873911        0        0        0                   0         ...
406658        0        0        0                   0         ...
12318         0        0        0                   0         ...
255630        0        0        0                   0         ...
857668        1        0        0                   0         ...
622098        0        0        0                   0         ...
590494        0        0        0                   0         ...
710828        0        0        0                   0         ...
377912        0        0        0                   0         ...
623794        0        0        0                   0         ...
773881        0        0        0                   0         ...
798575        0        0        0                   0         ...
696759        0        0        0                   0         ...
746763        0        0        0                   0         ...
832012        0        0        0                   0         ...
45738         0        0        0                   0         ...
161949        0        0        0                   0         ...
108785        0        0        0                   0         ...
766270        0        0        0                   0         ...
881080        0        0        0                   0         ...
642421        0        0        0                   0         ...
617150        1        0        0                   0         ...
125037        0        0        0                   0         ...
706070        0        0        0                   0         ...
489600        0        0        0                   0         ...

        emp_status_Good  emp_status_Medium  interest_High  interest_Low  \
733358                0                  0              0             1
336299                0                  0              0             1
806382                1                  0              0             1
17265                 0                  0              0             1
585889                0                  1              0             1
247519                0                  0              1             0
836102                1                  0              0             1
223391                0                  1              0             1
324405                1                  0              1             0
834239                0                  1              0             1
479679                0                  0              1             0
533958                0                  0              0             1
859787                0                  1              0             1
208399                1                  0              0             1
90962                 1                  0              0             1
860200                0                  0              0             1
24533                 0                  0              0             1
404691                1                  0              0             1
229263                1                  0              0             1
495940                1                  0              0             1
355034                1                  0              0             1
150975                0                  0              0             1
98677                 0                  0              0             1
679045                0                  0              0             1
206337                1                  0              0             1
432342                1                  0              1             0
208748                0                  0              0             1
551731                0                  1              1             0
458530                1                  0              1             0
880481                1                  0              1             0
...                 ...                ...            ...           ...
502205                1                  0              0             1
202613                1                  0              1             0
439205                0                  0              1             0
73946                 1                  0              0             1
178585                0                  0              0             1
873911                1                  0              0             1
406658                1                  0              1             0
12318                 0                  1              0             1
255630                0                  0              1             0
857668                0                  0              1             0
622098                0                  1              0             1
590494                1                  0              0             1
710828                0                  1              0             1
377912                0                  0              0             1
623794                1                  0              0             1
773881                0                  0              1             0
798575                0                  0              0             1
696759                1                  0              0             1
746763                1                  0              0             1
832012                0                  1              0             1
45738                 0                  0              0             1
161949                0                  1              0             1
108785                0                  0              1             0
766270                0                  0              1             0
881080                0                  0              0             1
642421                0                  0              0             1
617150                0                  0              1             0
125037                0                  0              0             1
706070                1                  0              0             1
489600                1                  0              0             1

        investment_High  investment_Low  loan_range_High  loan_range_Low  \
733358                0               1                0               1
336299                1               0                0               0
806382                0               1                1               0
17265                 0               1                1               0
585889                1               0                0               0
247519                1               0                0               0
836102                1               0                0               0
223391                0               1                0               1
324405                0               1                0               1
834239                0               1                0               1
479679                1               0                1               0
533958                0               1                0               1
859787                1               0                1               0
208399                0               1                0               1
90962                 1               0                1               0
860200                0               1                0               1
24533                 0               1                0               1
404691                1               0                0               0
229263                0               1                0               1
495940                0               1                0               1
355034                0               1                0               0
150975                1               0                1               0
98677                 1               0                0               0
679045                0               1                0               1
206337                1               0                0               0
432342                1               0                0               0
208748                0               1                0               1
551731                1               0                1               0
458530                0               1                0               1
880481                0               1                0               0
...                 ...             ...              ...             ...
502205                1               0                1               0
202613                0               1                1               0
439205                0               1                0               1
73946                 0               1                0               1
178585                0               1                0               1
873911                0               1                0               0
406658                0               1                0               0
12318                 0               1                0               1
255630                0               1                0               1
857668                0               1                0               1
622098                1               0                1               0
590494                1               0                1               0
710828                0               1                0               1
377912                0               1                1               0
623794                1               0                1               0
773881                0               1                0               0
798575                1               0                0               0
696759                0               1                0               0
746763                0               1                0               1
832012                1               0                1               0
45738                 1               0                1               0
161949                1               0                0               0
108785                0               1                0               1
766270                0               1                0               1
881080                0               1                0               1
642421                1               0                0               0
617150                0               1                0               0
125037                0               1                0               1
706070                0               1                0               1
489600                1               0                1               0

        loan_range_Medium  loan_condition_int
733358                  0                   1
336299                  1                   1
806382                  0                   1
17265                   0                   1
585889                  1                   1
247519                  1                   1
836102                  1                   1
223391                  0                   1
324405                  0                   1
834239                  0                   1
479679                  0                   1
533958                  0                   1
859787                  0                   1
208399                  0                   1
90962                   0                   1
860200                  0                   1
24533                   0                   1
404691                  1                  -1
229263                  0                   1
495940                  0                   1
355034                  1                   1
150975                  0                   1
98677                   1                   1
679045                  0                   1
206337                  1                   1
432342                  1                   1
208748                  0                   1
551731                  0                   1
458530                  0                   1
880481                  1                   1
...                   ...                 ...
502205                  0                   1
202613                  0                   1
439205                  0                   1
73946                   0                   1
178585                  0                   1
873911                  1                   1
406658                  1                   1
12318                   0                   1
255630                  0                   1
857668                  0                   1
622098                  0                   1
590494                  0                   1
710828                  0                   1
377912                  0                  -1

        term_ 36 months  term_ 60 months  grade_A  grade_B  grade_C  grade_D  \
733358                1                0        0        1        0        0
336299                1                0        0        0        1        0
585889                1                0        0        0        1        0
393268                0                1        0        1        0        0
370528                0                1        0        0        0        1
247519                1                0        0        0        1        0
694936                0                1        0        1        0        0
223391                1                0        0        1        0        0
324405                1                0        0        0        0        1
834239                1                0        0        0        1        0
479679                1                0        0        0        1        0
218516                0                1        0        0        0        1
28987                 0                1        0        0        0        1
366464                0                1        0        0        1        0
333496                0                1        0        0        0        1
208399                1                0        0        1        0        0
860200                1                0        0        1        0        0
24533                 1                0        0        1        0        0
404691                1                0        0        1        0        0
647576                0                1        0        1        0        0
635466                0                1        0        0        0        0
804001                0                1        0        0        0        0
786067                0                1        0        0        0        0
355034                1                0        0        1        0        0
150975                1                0        0        1        0        0
98677                 1                0        0        1        0        0
679045                1                0        0        1        0        0
432342                1                0        0        0        0        0
843271                0                1        0        0        1        0
632905                0                1        0        0        1        0
...                 ...              ...      ...      ...      ...      ...
623794                1                0        0        1        0        0
773881                1                0        0        0        0        1
266209                0                1        0        0        0        0
798575                1                0        0        0        1        0
464645                0                1        0        0        0        1
188719                0                1        0        1        0        0
116342                0                1        0        0        1        0
727922                0                1        0        0        0        1
550445                0                1        0        1        0        0
9123                  0                1        0        0        0        1
746763                1                0        0        0        1        0
525170                0                1        0        0        1        0
161949                1                0        0        1        0        0
836774                0                1        0        0        0        1
108785                1                0        0        0        1        0
485821                0                1        0        0        1        0
766270                1                0        0        0        1        0
217427                0                1        0        0        1        0
251055                0                1        0        0        0        1
881080                1                0        0        0        1        0
642421                1                0        0        1        0        0
617150                1                0        0        0        0        0
532                   0                1        0        0        0        0
555821                0                1        0        0        1        0
125037                1                0        0        1        0        0
63862                 0                1        0        0        0        0
706070                1                0        0        1        0        0
489600                1                0        0        1        0        0
731228                0                1        0        0        0        0
44895                 0                1        0        0        0        1

        grade_E  grade_F  grade_G  home_ownership_ANY         ...          \
733358        0        0        0                   0         ...
336299        0        0        0                   0         ...
585889        0        0        0                   0         ...
393268        0        0        0                   0         ...
370528        0        0        0                   0         ...
247519        0        0        0                   0         ...
694936        0        0        0                   0         ...
223391        0        0        0                   0         ...
324405        0        0        0                   0         ...
834239        0        0        0                   0         ...
479679        0        0        0                   0         ...
218516        0        0        0                   0         ...
28987         0        0        0                   0         ...
366464        0        0        0                   0         ...
333496        0        0        0                   0         ...
208399        0        0        0                   0         ...
860200        0        0        0                   0         ...
24533         0        0        0                   0         ...
404691        0        0        0                   0         ...
647576        0        0        0                   0         ...
635466        1        0        0                   0         ...
804001        0        1        0                   0         ...
786067        1        0        0                   0         ...
355034        0        0        0                   0         ...
150975        0        0        0                   0         ...
98677         0        0        0                   0         ...
679045        0        0        0                   0         ...
432342        1        0        0                   0         ...
843271        0        0        0                   0         ...
632905        0        0        0                   0         ...
...         ...      ...      ...                 ...         ...
623794        0        0        0                   0         ...
773881        0        0        0                   0         ...
266209        0        1        0                   0         ...
798575        0        0        0                   0         ...
464645        0        0        0                   0         ...
188719        0        0        0                   0         ...
116342        0        0        0                   0         ...
727922        0        0        0                   0         ...
550445        0        0        0                   0         ...
9123          0        0        0                   0         ...
746763        0        0        0                   0         ...
525170        0        0        0                   0         ...
161949        0        0        0                   0         ...
836774        0        0        0                   0         ...
108785        0        0        0                   0         ...
485821        0        0        0                   0         ...
766270        0        0        0                   0         ...
217427        0        0        0                   0         ...
251055        0        0        0                   0         ...
881080        0        0        0                   0         ...
642421        0        0        0                   0         ...
617150        1        0        0                   0         ...
532           1        0        0                   0         ...
555821        0        0        0                   0         ...
125037        0        0        0                   0         ...
63862         1        0        0                   0         ...
706070        0        0        0                   0         ...
489600        0        0        0                   0         ...
731228        1        0        0                   0         ...
44895         0        0        0                   0         ...

        emp_status_Good  emp_status_Medium  interest_High  interest_Low  \
733358                0                  0              0             1
336299                0                  0              0             1
585889                0                  1              0             1
393268                1                  0              0             1
370528                1                  0              1             0
247519                0                  0              1             0
694936                1                  0              0             1
223391                0                  1              0             1
324405                1                  0              1             0
834239                0                  1              0             1
479679                0                  0              1             0
218516                1                  0              1             0
28987                 0                  0              1             0
366464                1                  0              1             0
333496                0                  1              1             0
208399                1                  0              0             1
860200                0                  0              0             1
24533                 0                  0              0             1
404691                1                  0              0             1
647576                1                  0              0             1
635466                0                  0              1             0
804001                1                  0              1             0
786067                1                  0              1             0
355034                1                  0              0             1
150975                0                  0              0             1
98677                 0                  0              0             1
679045                0                  0              0             1
432342                1                  0              1             0
843271                1                  0              0             1
632905                1                  0              1             0
...                 ...                ...            ...           ...
623794                1                  0              0             1
773881                0                  0              1             0
266209                1                  0              1             0
798575                0                  0              0             1
464645                1                  0              1             0
188719                1                  0              0             1
116342                1                  0              1             0
727922                1                  0              1             0
550445                1                  0              0             1
9123                  1                  0              1             0
746763                1                  0              0             1
525170                0                  0              0             1
161949                0                  1              0             1
836774                1                  0              1             0
108785                0                  0              1             0
485821                0                  0              1             0
766270                0                  0              1             0
217427                1                  0              1             0
251055                1                  0              1             0
881080                0                  0              0             1
642421                0                  0              0             1
617150                0                  0              1             0
532                   1                  0              1             0
555821                1                  0              1             0
125037                0                  0              0             1
63862                 0                  0              1             0
706070                1                  0              0             1
489600                1                  0              0             1
731228                1                  0              1             0
44895                 0                  0              1             0

        investment_High  investment_Low  loan_range_High  loan_range_Low  \
733358                0               1                0               1
336299                1               0                0               0
585889                1               0                0               0
393268                1               0                0               0
370528                0               1                0               0
247519                1               0                0               0
694936                1               0                0               0
223391                0               1                0               1
324405                0               1                0               1
834239                0               1                0               1
479679                1               0                1               0
218516                1               0                1               0
28987                 0               1                0               0
366464                1               0                1               0
333496                1               0                0               0
208399                0               1                0               1
860200                0               1                0               1
24533                 0               1                0               1
404691                1               0                0               0
647576                1               0                1               0
635466                0               1                0               0
804001                1               0                1               0
786067                0               1                0               0
355034                0               1                0               0
150975                1               0                1               0
98677                 1               0                0               0
679045                0               1                0               1
432342                1               0                0               0
843271                0               1                0               0
632905                1               0                1               0
...                 ...             ...              ...             ...
623794                1               0                1               0
773881                0               1                0               0
266209                1               0                1               0
798575                1               0                0               0
464645                1               0                1               0
188719                0               1                0               1
116342                0               1                0               0
727922                0               1                0               0
550445                1               0                0               0
9123                  1               0                1               0
746763                0               1                0               1
525170                0               1                0               0
161949                1               0                0               0
836774                0               1                0               0
108785                0               1                0               1
485821                0               1                0               0
766270                0               1                0               1
217427                1               0                1               0
251055                0               1                0               0
881080                0               1                0               1
642421                1               0                0               0
617150                0               1                0               0
532                   0               1                0               1
555821                1               0                1               0
125037                0               1                0               1
63862                 0               1                0               0
706070                0               1                0               1
489600                1               0                1               0
731228                1               0                0               0
44895                 1               0                1               0

        loan_range_Medium  loan_condition_int
733358                  0                   1
336299                  1                   1
585889                  1                   1
393268                  1                   1
370528                  1                  -1
247519                  1                   1
694936                  1                   1
223391                  0                   1
324405                  0                   1
834239                  0                   1
479679                  0                   1
218516                  0                  -1
28987                   1                   1
366464                  0                   1
333496                  1                   1
208399                  0                   1
860200                  0                   1
24533                   0                   1
404691                  1                  -1
647576                  0                   1
635466                  1                   1
804001                  0                   1
786067                  1                   1
355034                  1                   1
150975                  0                   1
98677                   1                   1
679045                  0                   1
432342                  1                   1
843271                  1                   1
632905                  0                   1
...                   ...                 ...
623794                  0                   1
773881                  1                   1
266209                  0                   1
798575                  1                  -1
464645                  0                   1
188719                  0                   1
116342                  1                   1
727922                  1                   1
550445                  1                   1
9123                    0                   1
746763                  0                   1
525170                  1                   1
161949                  1                  -1
836774                  1                   1

In [42]:
target = 'loan_condition_int'
l_mist = intermediate_node_num_mistakes(l_split[target])            
l_mist

14508

# checking with probability

In [47]:
l_prob = intermediate_node_num_probability(l_split[target])            
l_prob

0.3214

# best_feature_splitting with error technique

In [48]:

def best_splitting_feature(data, features, target):
    
    best_feature = None # Keep track of the best feature 
    best_error = 10     # Keep track of the best error so far 
    # Note: Since error is always <= 1, we should intialize it with something larger than 1.

    # Convert to float to make sure error gets computed correctly.
    num_data_points = float(len(data))  
    
    # Loop through each feature to consider splitting on that feature
    for feature in features:
        
        # The left split will have all data points where the feature value is 0
        left_split = data[data[feature] == 0]
        #print ('left_split_len ::' , len(left_split) )               # here all features check which point has  0/1 , and separte them into left and right 
        
        #print (left_split['safe_loans'])
        # The right split will have all data points where the feature value is 1
        right_split = data[data[feature] == 1]
        #print ("right_split_len ::" , len(right_split) )
                           
        #left contains -1 values of safe_loans right as +1 
        #thus in left +1 becomes minority(mistakes) and in right -1 becomes min 
        
        left_mistakes = intermediate_node_num_mistakes(left_split[target])            
        #print ('left_mistakes ::',  left_mistakes)
        # Calculate the number of misclassified examples in the right split.
        right_mistakes = intermediate_node_num_mistakes(right_split[target])
        #print ('right_mistakes ::',  right_mistakes)    
        # Compute the classification error of this split.
        error = (left_mistakes + right_mistakes)/num_data_points
        #print ('error ::' ,error)
        # If this is the best error we have found so far, store the feature as best_feature and the error as best_error
        if error < best_error:
            best_error = error
            best_feature = feature
    
    return best_feature # Return the best feature we found

# here best_feature_spliting with probability

In [50]:
# l_split is above is also done
output_prob = intermediate_node_num_probability(l_split[target])            
output_prob

0.3214

In [75]:

def prob_splitting_feature(data, features, target):
    
    best_feature = None # Keep track of the best feature 
    best_error = 0     # Keep track of the best error so far 
    # Note: Since error is always <= 1, we should intialize it with something larger than 1.

    # Convert to float to make sure error gets computed correctly.
    num_data_points = float(len(data))  
    
    # here  output probability is getting because it is used in information_gain 
    #where it is subtracted from each feature _probab i.e (ouput_prob  - _indiviual_feature_prob)
    ouput_prob = intermediate_node_num_probability(data[target])            
    #print(ouput_prob)
    
    # Loop through each feature to consider splitting on that feature
    for feature in features:
        
        # The left split will have all data points where the feature value is 0
        left_split = data[data[feature] == 0]
        len_left   = len(left_split)
        #print ('left_len ::' , len_left ) 
        # here all features check which point has  0/1 , and separte them into left and right 
        
        #print (left_split['safe_loans'])
        # The right split will have all data points where the feature value is 1
        right_split = data[data[feature] == 1]
        len_right   = len(right_split)
        #print ("right_len ::" , len_right )
                           
        #left contains -1 values of safe_loans right as +1 
        #here getting probability of above splits for futher process 
        
        prob_left = intermediate_node_num_probability(left_split[target])            
        #print ('left_prob ::',  prob_left)
        # Calculate the number of misclassified examples in the right split.
        prob_right = intermediate_node_num_probability(right_split[target])
        #print ('right_prob ::',  prob_right)    
        
        len_total = len_left + len_right 
        left  = len_left/len_total 
        #print('left::',left)
        right = len_right/len_total
        #print('right::',right)
        
        information_feature = (left * prob_left) + (right * prob_right)
        #print(information_feature)
        
        # Compute the classification error of this split.
        information_gain = ouput_prob - information_feature
        #print('information_gain:::' , information_gain)
        #error = (left_mistakes + right_mistakes)/num_data_points
        #print ('error ::' ,error)
        # If this is the best error we have found so far, store the feature as best_feature and the error as best_error
        if  information_gain > best_error:
            best_gain    = information_gain
            best_feature = feature
    
    return best_feature # Return the best feature we found

In [69]:
data =l_split
features = x_train.columns[2:35]
target = 'loan_condition_int'
best_feat = prob_splitting_feature(data, features, target)
best_feat

0.3214
information_gain::: 0.0
information_gain::: 0.0038119876938089714
information_gain::: 0.00024076493548741418
information_gain::: 0.0009880570313347548
information_gain::: 0.0013012827984387187
information_gain::: 0.001979948227257944
information_gain::: 0.0006335818063537002
information_gain::: 0.0
information_gain::: 0.0005233404261086871
information_gain::: -9.505448335722644e-06
information_gain::: 4.141751599262555e-05
information_gain::: 6.072251436628484e-05
information_gain::: 0.0005853518377968436
information_gain::: 6.941952184758016e-05
information_gain::: 6.0574108207755994e-05
information_gain::: 1.8480971484324815e-05
information_gain::: 8.63385015721918e-05
information_gain::: 6.177626585712748e-05
information_gain::: 0.00012168491813946414
information_gain::: 0.00012168491813946414
information_gain::: 4.9441613357958936e-05
information_gain::: 0.0007710621543966512
information_gain::: 0.0006795287596227384
information_gain::: 0.0001644909465466915
information_gain::: 0.0002674035021143495
information_gain::: 6.644665510141534e-05
information_gain::: 0.0057947874878022665
information_gain::: 0.0057947874878022665
information_gain::: 6.835221728285212e-05
information_gain::: 6.835221728285212e-05
information_gain::: 3.055404965845998e-05
information_gain::: 1.530819689909979e-05
information_gain::: 5.292475333407154e-05

'loan_range_Medium'

# test best_splitting_feature

To test your `best_splitting_feature` function, run the following code:

In [70]:
features = x_train.columns[2:35]
target = 'loan_condition_int'
print (features)
print(target)

Index(['grade_A', 'grade_B', 'grade_C', 'grade_D', 'grade_E', 'grade_F',
       'grade_G', 'home_ownership_ANY', 'home_ownership_MORTGAGE',
       'home_ownership_NONE', 'home_ownership_OTHER', 'home_ownership_OWN',
       'home_ownership_RENT', 'region_MidWest', 'region_NorthEast',
       'region_SouthEast', 'region_SouthWest', 'region_west',
       'loan_purpose_Bussiness', 'loan_purpose_Personal',
       'income_category_High', 'income_category_Low', 'income_category_Medium',
       'emp_status_Bad', 'emp_status_Good', 'emp_status_Medium',
       'interest_High', 'interest_Low', 'investment_High', 'investment_Low',
       'loan_range_High', 'loan_range_Low', 'loan_range_Medium'],
      dtype='object')
loan_condition_int

In [71]:
x1 = x_test[:1000]
x1_feat = x1.columns
for i in x1_feat:
    print(x1[i].value_counts())

1    696
0    304
Name: term_ 36 months, dtype: int64
0    696
1    304
Name: term_ 60 months, dtype: int64
0    842
1    158
Name: grade_A, dtype: int64
0    702
1    298
Name: grade_B, dtype: int64
0    714
1    286
Name: grade_C, dtype: int64
0    864
1    136
Name: grade_D, dtype: int64
0    914
1     86
Name: grade_E, dtype: int64
0    974
1     26
Name: grade_F, dtype: int64
0    990
1     10
Name: grade_G, dtype: int64
0    1000
Name: home_ownership_ANY, dtype: int64
1    504
0    496
Name: home_ownership_MORTGAGE, dtype: int64
0    1000
Name: home_ownership_NONE, dtype: int64
0    1000
Name: home_ownership_OTHER, dtype: int64
0    906
1     94
Name: home_ownership_OWN, dtype: int64
0    598
1    402
Name: home_ownership_RENT, dtype: int64
0    842
1    158
Name: region_MidWest, dtype: int64
0    756
1    244
Name: region_NorthEast, dtype: int64
0    752
1    248
Name: region_SouthEast, dtype: int64
0    867
1    133
Name: region_SouthWest, dtype: int64
0    783
1    217
Name: region_west, dtype: int64
1    603
0    397
Name: loan_purpose_Bussiness, dtype: int64
0    603
1    397
Name: loan_purpose_Personal, dtype: int64
0    986
1     14
Name: income_category_High, dtype: int64
0    667
1    333
Name: income_category_Low, dtype: int64
1    653
0    347
Name: income_category_Medium, dtype: int64
0    625
1    375
Name: emp_status_Bad, dtype: int64
0    531
1    469
Name: emp_status_Good, dtype: int64
0    844
1    156
Name: emp_status_Medium, dtype: int64
0    528
1    472
Name: interest_High, dtype: int64
1    528
0    472
Name: interest_Low, dtype: int64
0    567
1    433
Name: investment_High, dtype: int64
1    567
0    433
Name: investment_Low, dtype: int64
0    648
1    352
Name: loan_range_High, dtype: int64
0    691
1    309
Name: loan_range_Low, dtype: int64
0    661
1    339
Name: loan_range_Medium, dtype: int64
 1    914
-1     86
Name: loan_condition_int, dtype: int64

In [72]:
if best_splitting_feature(x_test, features, target) == 'grade_A':
    print ('Test passed!')
else:
    print ('Test failed... try again!')

Test passed!

# here testing prob_splitting_feature with x_test

In [74]:
best_feature_prob = prob_splitting_feature(x_test, features, target)
best_feature_prob

0.2968

'loan_range_Medium'

# now get on train_data get best_splitting feature

In [76]:
best_feature=  best_splitting_feature(x_train, features, target) 
best_feature

'grade_A'

# here get on x_train for best_feature_prob

In [77]:
best_feature_prob1 = prob_splitting_feature(x_train, features, target)
best_feature_prob1

C:\Users\SRI\AppData\Local\conda\conda\envs\SRI-ENVS\lib\site-packages\ipykernel_launcher.py:18: RuntimeWarning: divide by zero encountered in log
C:\Users\SRI\AppData\Local\conda\conda\envs\SRI-ENVS\lib\site-packages\ipykernel_launcher.py:18: RuntimeWarning: invalid value encountered in double_scalars

'loan_range_Medium'

## Building the tree

With the above functions implemented correctly, we are now ready to build our decision tree. Each node in the decision tree is represented as a dictionary which contains the following keys and possible values:

    { 
       'is_leaf'            : True/False.
       'prediction'         : Prediction at the leaf node.
       'left'               : (dictionary corresponding to the left tree).
       'right'              : (dictionary corresponding to the right tree).
       'splitting_feature'  : The feature that this node splits on.
    }

First, we will write a function that creates a leaf node given a set of target values. Fill in the places where you find `## YOUR CODE HERE`. There are **three** places in this function for you to fill in.

# here checking the value of prediction with respect to create_leaf using below

In [78]:
#this is checking what is happening  (below one) 
target = 'loan_condition_int'
target_values=x_test[target]
num_ones = len(target_values[target_values == +1])
num_minus_ones = len(target_values[target_values == -1])
print (num_ones ,num_minus_ones)

leaf = {'splitting_feature' : None,
            'left' : None,
            'right' : None,
            'is_leaf': True    }   
    
if num_ones > num_minus_ones:
    leaf['prediction'] =   +1       ## YOUR CODE HERE
else:
    leaf['prediction'] = -1
leaf

161943 15533

{'splitting_feature': None,
 'left': None,
 'right': None,
 'is_leaf': True,
 'prediction': 1}

In [79]:
def create_leaf(target_values , split_feature):
    
    # Create a leaf node
    leaf = {'splitting_feature' : split_feature,
            'left' : None,
            'right' : None,
            'is_leaf': True    }   ## YOUR CODE HERE
    
    # Count the number of data points that are +1 and -1 in this node.
    num_ones = len(target_values[target_values == +1])
    print(num_ones)
    num_minus_ones = len(target_values[target_values == -1])
    print(num_minus_ones)
    
    # For the leaf node, set the prediction to be the majority class.
    # Store the predicted class (1 or -1) in leaf['prediction']
    if num_ones > num_minus_ones:
        leaf['prediction'] =   +1       ## YOUR CODE HERE
    else:
        leaf['prediction'] =   -1       ## YOUR CODE HERE
        
    # Return the leaf node        
    return leaf

We have provided a function that learns the decision tree recursively and implements 3 stopping conditions:
1. **Stopping condition 1:** All data points in a node are from the same class.
2. **Stopping condition 2:** No more features to split on.
3. **Additional stopping condition:** In addition to the above two stopping conditions covered in lecture, in this assignment we will also consider a stopping condition based on the **max_depth** of the tree. By not letting the tree grow too deep, we will save computational effort in the learning process. 

Now, we will write down the skeleton of the learning algorithm. Fill in the places where you find `## YOUR CODE HERE`. There are **seven** places in this function for you to fill in.

In [80]:
# as features list is array type it can't get directly checked ==0 ,by using .any()
# or get len(features) to test whether it is ==0 or not

feats = x_test.columns
rem_features = feats[:] # Make a copy of the features.
#rem_feat = len(rem_features)
#if rem_features.any()==0 :
if  len(rem_features) == 0:
    print('ok')
else:
    print('no')

no

In [74]:
feats = feats.drop(['grade_A']  )
feats

Index(['term_ 36 months', 'term_ 60 months', 'grade_B', 'grade_C', 'grade_D',
       'grade_E', 'grade_F', 'grade_G', 'home_ownership_ANY',
       'home_ownership_MORTGAGE', 'home_ownership_NONE',
       'home_ownership_OTHER', 'home_ownership_OWN', 'home_ownership_RENT',
       'region_MidWest', 'region_NorthEast', 'region_SouthEast',
       'region_SouthWest', 'region_west', 'loan_purpose_Bussiness',
       'loan_purpose_Personal', 'income_category_High', 'income_category_Low',
       'income_category_Medium', 'emp_status_Bad', 'emp_status_Good',
       'emp_status_Medium', 'interest_High', 'interest_Low', 'investment_High',
       'investment_Low', 'loan_range_High', 'loan_range_Low',
       'loan_range_Medium', 'loan_condition_int'],
      dtype='object')

In [81]:
def decision_tree_create(data, features, target, current_depth = 0, max_depth = 10):
    remaining_features = features[:] # Make a copy of the features.
    splitting_feature = None
    
    target_values = data[target]
    print("--------------------------------------------------------------------")
    print("Subtree, depth = %s (%s data points)." % (current_depth, len(target_values)))
    
    # Stopping condition 1
    # (Check if there are mistakes at current node.
    # Recall you wrote a function intermediate_node_num_mistakes to compute this.)
    if intermediate_node_num_mistakes(target_values) == 0:  ## YOUR CODE HERE
        print("Stopping condition 1 reached.")
        # If not mistakes at current node, make current node a leaf node
        #return create_leaf(target_values)
        return create_leaf(target_values ,splitting_feature)
    
    # Stopping condition 2 (check if there are remaining features to consider splitting on)
    if len(remaining_features) == 0:   ## YOUR CODE HERE
        print("Stopping condition 2 reached.")
        # If there are no remaining features to consider, make current node a leaf node
        return create_leaf(target_values ,splitting_feature)
        #return create_leaf(target_values)    
    
    # Additional stopping condition (limit tree depth)
    if current_depth >= max_depth:  ## YOUR CODE HERE
        print("Reached maximum depth. Stopping for now.")
        # If the max tree depth has been reached, make current node a leaf node
        #return create_leaf(target_values)
        return create_leaf(target_values ,splitting_feature)

    # Find the best splitting feature (recall the function best_splitting_feature implemented above)
    ## YOUR CODE HERE
    splitting_feature = best_splitting_feature(data, features, target)
    
    # Split on the best feature that we found. 
    left_split = data[data[splitting_feature] == 0]
    #print left_split
    right_split = data[data[splitting_feature] == 1]     
    #print right_split
    #remaining_features.remove(splitting_feature)
    remaining_features = remaining_features.drop([splitting_feature])
    
    print("Split on feature %s. (%s, %s)" % (\
                      splitting_feature, len(left_split), len(right_split)))
    
    # Create a leaf node if the split is "perfect"
    if len(left_split) == len(data):
        print("Creating leaf node.")
        return create_leaf(target_values ,splitting_feature)
        #return create_leaf(left_split[target])
    if len(right_split) == len(data):
        print("Creating leaf node.")
        ## YOUR CODE HERE
        return create_leaf(target_values ,splitting_feature)
        #return create_leaf(right_split[target])
    
    
    current_depth = current_depth + 1
    # Repeat (recurse) on left and right subtrees
    left_tree = decision_tree_create(left_split, remaining_features, target, current_depth , max_depth)        
    ## YOUR CODE HERE
    right_tree = decision_tree_create(right_split, remaining_features, target, current_depth , max_depth)

    return {'is_leaf'          : False, 
            'prediction'       : None,
            'splitting_feature': splitting_feature,
            'left'             : left_tree, 
            'right'            : right_tree}

In [82]:
fea = x_test.columns[2:35]
print(fea)
target = 'loan_condition_int'
print(target)
small_data_tree = decision_tree_create(x_test, fea, target, max_depth = 3)
small_data_tree

Index(['grade_A', 'grade_B', 'grade_C', 'grade_D', 'grade_E', 'grade_F',
       'grade_G', 'home_ownership_ANY', 'home_ownership_MORTGAGE',
       'home_ownership_NONE', 'home_ownership_OTHER', 'home_ownership_OWN',
       'home_ownership_RENT', 'region_MidWest', 'region_NorthEast',
       'region_SouthEast', 'region_SouthWest', 'region_west',
       'loan_purpose_Bussiness', 'loan_purpose_Personal',
       'income_category_High', 'income_category_Low', 'income_category_Medium',
       'emp_status_Bad', 'emp_status_Good', 'emp_status_Medium',
       'interest_High', 'interest_Low', 'investment_High', 'investment_Low',
       'loan_range_High', 'loan_range_Low', 'loan_range_Medium'],
      dtype='object')
loan_condition_int
--------------------------------------------------------------------
Subtree, depth = 0 (177476 data points).
Split on feature grade_A. (147568, 29908)
--------------------------------------------------------------------
Subtree, depth = 1 (147568 data points).
Split on feature grade_B. (96639, 50929)
--------------------------------------------------------------------
Subtree, depth = 2 (96639 data points).
Split on feature grade_C. (47595, 49044)
--------------------------------------------------------------------
Subtree, depth = 3 (47595 data points).
Reached maximum depth. Stopping for now.
40774
6821
--------------------------------------------------------------------
Subtree, depth = 3 (49044 data points).
Reached maximum depth. Stopping for now.
44607
4437
--------------------------------------------------------------------
Subtree, depth = 2 (50929 data points).
Split on feature grade_C. (50929, 0)
Creating leaf node.
47679
3250
--------------------------------------------------------------------
Subtree, depth = 1 (29908 data points).
Split on feature grade_B. (29908, 0)
Creating leaf node.
28883
1025

{'is_leaf': False,
 'prediction': None,
 'splitting_feature': 'grade_A',
 'left': {'is_leaf': False,
  'prediction': None,
  'splitting_feature': 'grade_B',
  'left': {'is_leaf': False,
   'prediction': None,
   'splitting_feature': 'grade_C',
   'left': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1},
   'right': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1}},
  'right': {'splitting_feature': 'grade_C',
   'left': None,
   'right': None,
   'is_leaf': True,
   'prediction': 1}},
 'right': {'splitting_feature': 'grade_B',
  'left': None,
  'right': None,
  'is_leaf': True,
  'prediction': 1}}

Here is a recursive function to count the nodes in your tree:

# here build decision_tree_model with probability (inforamtion _gain) technique

In [83]:
def decision_tree_model(data, features, target, current_depth = 0, max_depth = 10):
    remaining_features = features[:] # Make a copy of the features.
    splitting_feature = None
    
    target_values = data[target]
    print("--------------------------------------------------------------------")
    print("Subtree, depth = %s (%s data points)." % (current_depth, len(target_values)))
    
    # Stopping condition 1
    # (Check if there are mistakes at current node.
    # Recall you wrote a function intermediate_node_num_mistakes to compute this.)
    if intermediate_node_num_probability(target_values) == 0:  ## YOUR CODE HERE
        print("Stopping condition 1 reached.")
        # If not mistakes at current node, make current node a leaf node
        #return create_leaf(target_values)
        return create_leaf(target_values ,splitting_feature)
    
    # Stopping condition 2 (check if there are remaining features to consider splitting on)
    if len(remaining_features) == 0:   ## YOUR CODE HERE
        print("Stopping condition 2 reached.")
        # If there are no remaining features to consider, make current node a leaf node
        return create_leaf(target_values ,splitting_feature)
        #return create_leaf(target_values)    
    
    # Additional stopping condition (limit tree depth)
    if current_depth >= max_depth:  ## YOUR CODE HERE
        print("Reached maximum depth. Stopping for now.")
        # If the max tree depth has been reached, make current node a leaf node
        #return create_leaf(target_values)
        return create_leaf(target_values ,splitting_feature)

    # Find the best splitting feature (recall the function best_splitting_feature implemented above)
    ## YOUR CODE HERE
    splitting_feature = prob_splitting_feature(data, features, target)
    
    # Split on the best feature that we found. 
    left_split = data[data[splitting_feature] == 0]
    #print left_split
    right_split = data[data[splitting_feature] == 1]     
    #print right_split
    #remaining_features.remove(splitting_feature)
    remaining_features = remaining_features.drop([splitting_feature])
    
    print("Split on feature %s. (%s, %s)" % (\
                      splitting_feature, len(left_split), len(right_split)))
    
    # Create a leaf node if the split is "perfect"
    if len(left_split) == len(data):
        print("Creating leaf node.")
        return create_leaf(target_values ,splitting_feature)
        #return create_leaf(left_split[target])
    if len(right_split) == len(data):
        print("Creating leaf node.")
        ## YOUR CODE HERE
        return create_leaf(target_values ,splitting_feature)
        #return create_leaf(right_split[target])
    
    
    current_depth = current_depth + 1
    # Repeat (recurse) on left and right subtrees
    left_tree = decision_tree_model(left_split, remaining_features, target, current_depth , max_depth)        
    ## YOUR CODE HERE
    right_tree = decision_tree_model(right_split, remaining_features, target, current_depth , max_depth)

    return {'is_leaf'          : False, 
            'prediction'       : None,
            'splitting_feature': splitting_feature,
            'left'             : left_tree, 
            'right'            : right_tree}

In [84]:
def count_nodes(tree):
    if tree['is_leaf']:
        return 1
    return 1 + count_nodes(tree['left']) + count_nodes(tree['right'])

# test of decision_tree_model (information_gain) using x_test

In [87]:

model_test = decision_tree_model(x_test, features, target, current_depth = 0, max_depth = 3)
model_test

--------------------------------------------------------------------
Subtree, depth = 0 (177476 data points).
Split on feature loan_range_Medium. (116606, 60870)
--------------------------------------------------------------------
Subtree, depth = 1 (116606 data points).
Split on feature loan_range_Low. (61845, 54761)
--------------------------------------------------------------------
Subtree, depth = 2 (61845 data points).
Split on feature investment_Low. (49282, 12563)
--------------------------------------------------------------------
Subtree, depth = 3 (49282 data points).
Reached maximum depth. Stopping for now.
45045
4237
--------------------------------------------------------------------
Subtree, depth = 3 (12563 data points).
Reached maximum depth. Stopping for now.
11508
1055
--------------------------------------------------------------------
Subtree, depth = 2 (54761 data points).
Split on feature interest_Low. (22999, 31762)
--------------------------------------------------------------------
Subtree, depth = 3 (22999 data points).
Reached maximum depth. Stopping for now.
20032
2967
--------------------------------------------------------------------
Subtree, depth = 3 (31762 data points).
Reached maximum depth. Stopping for now.
29869
1893
--------------------------------------------------------------------
Subtree, depth = 1 (60870 data points).
Split on feature investment_Low. (29097, 31773)
--------------------------------------------------------------------
Subtree, depth = 2 (29097 data points).

C:\Users\SRI\AppData\Local\conda\conda\envs\SRI-ENVS\lib\site-packages\ipykernel_launcher.py:18: RuntimeWarning: divide by zero encountered in log
C:\Users\SRI\AppData\Local\conda\conda\envs\SRI-ENVS\lib\site-packages\ipykernel_launcher.py:18: RuntimeWarning: invalid value encountered in double_scalars

Split on feature interest_Low. (14148, 14949)
--------------------------------------------------------------------
Subtree, depth = 3 (14148 data points).
Reached maximum depth. Stopping for now.
12349
1799
--------------------------------------------------------------------
Subtree, depth = 3 (14949 data points).
Reached maximum depth. Stopping for now.
14202
747
--------------------------------------------------------------------
Subtree, depth = 2 (31773 data points).
Split on feature interest_Low. (16030, 15743)
--------------------------------------------------------------------
Subtree, depth = 3 (16030 data points).
Reached maximum depth. Stopping for now.
14016
2014
--------------------------------------------------------------------
Subtree, depth = 3 (15743 data points).
Reached maximum depth. Stopping for now.
14922
821

{'is_leaf': False,
 'prediction': None,
 'splitting_feature': 'loan_range_Medium',
 'left': {'is_leaf': False,
  'prediction': None,
  'splitting_feature': 'loan_range_Low',
  'left': {'is_leaf': False,
   'prediction': None,
   'splitting_feature': 'investment_Low',
   'left': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1},
   'right': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1}},
  'right': {'is_leaf': False,
   'prediction': None,
   'splitting_feature': 'interest_Low',
   'left': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1},
   'right': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1}}},
 'right': {'is_leaf': False,
  'prediction': None,
  'splitting_feature': 'investment_Low',
  'left': {'is_leaf': False,
   'prediction': None,
   'splitting_feature': 'interest_Low',
   'left': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1},
   'right': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1}},
  'right': {'is_leaf': False,
   'prediction': None,
   'splitting_feature': 'interest_Low',
   'left': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1},
   'right': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1}}}}

 # removing two features term_36 months and term_60 months because         #they are stopping at early ( 0 , 15555) zero is getting in both

In [88]:
small_tree = decision_tree_create(x_train, features, target, max_depth = 3)
small_tree

--------------------------------------------------------------------
Subtree, depth = 0 (709903 data points).
Split on feature grade_A. (591609, 118294)
--------------------------------------------------------------------
Subtree, depth = 1 (591609 data points).
Split on feature grade_B. (388003, 203606)
--------------------------------------------------------------------
Subtree, depth = 2 (388003 data points).
Split on feature grade_C. (191187, 196816)
--------------------------------------------------------------------
Subtree, depth = 3 (191187 data points).
Reached maximum depth. Stopping for now.
163593
27594
--------------------------------------------------------------------
Subtree, depth = 3 (196816 data points).
Reached maximum depth. Stopping for now.
179246
17570
--------------------------------------------------------------------
Subtree, depth = 2 (203606 data points).
Split on feature grade_C. (203606, 0)
Creating leaf node.
190602
13004
--------------------------------------------------------------------
Subtree, depth = 1 (118294 data points).
Split on feature grade_B. (118294, 0)
Creating leaf node.
114118
4176

{'is_leaf': False,
 'prediction': None,
 'splitting_feature': 'grade_A',
 'left': {'is_leaf': False,
  'prediction': None,
  'splitting_feature': 'grade_B',
  'left': {'is_leaf': False,
   'prediction': None,
   'splitting_feature': 'grade_C',
   'left': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1},
   'right': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1}},
  'right': {'splitting_feature': 'grade_C',
   'left': None,
   'right': None,
   'is_leaf': True,
   'prediction': 1}},
 'right': {'splitting_feature': 'grade_B',
  'left': None,
  'right': None,
  'is_leaf': True,
  'prediction': 1}}

# get on x_train decision_tree_model with(information_gain)

In [89]:
model_train = decision_tree_model(x_train, features, target, current_depth = 0, max_depth = 3)
model_train

--------------------------------------------------------------------
Subtree, depth = 0 (709903 data points).

C:\Users\SRI\AppData\Local\conda\conda\envs\SRI-ENVS\lib\site-packages\ipykernel_launcher.py:18: RuntimeWarning: divide by zero encountered in log
C:\Users\SRI\AppData\Local\conda\conda\envs\SRI-ENVS\lib\site-packages\ipykernel_launcher.py:18: RuntimeWarning: invalid value encountered in double_scalars

Split on feature loan_range_Medium. (466743, 243160)
--------------------------------------------------------------------
Subtree, depth = 1 (466743 data points).
Split on feature investment_Low. (197751, 268992)
--------------------------------------------------------------------
Subtree, depth = 2 (197751 data points).
Split on feature interest_Low. (106848, 90903)
--------------------------------------------------------------------
Subtree, depth = 3 (106848 data points).
Reached maximum depth. Stopping for now.
93866
12982
--------------------------------------------------------------------
Subtree, depth = 3 (90903 data points).
Reached maximum depth. Stopping for now.
87001
3902
--------------------------------------------------------------------
Subtree, depth = 2 (268992 data points).
Split on feature interest_Low. (110810, 158182)
--------------------------------------------------------------------
Subtree, depth = 3 (110810 data points).
Reached maximum depth. Stopping for now.
96444
14366
--------------------------------------------------------------------
Subtree, depth = 3 (158182 data points).
Reached maximum depth. Stopping for now.
148633
9549
--------------------------------------------------------------------
Subtree, depth = 1 (243160 data points).
Split on feature investment_Low. (115872, 127288)
--------------------------------------------------------------------
Subtree, depth = 2 (115872 data points).
Split on feature interest_Low. (56687, 59185)
--------------------------------------------------------------------
Subtree, depth = 3 (56687 data points).
Reached maximum depth. Stopping for now.
49379
7308
--------------------------------------------------------------------
Subtree, depth = 3 (59185 data points).
Reached maximum depth. Stopping for now.
56274
2911
--------------------------------------------------------------------
Subtree, depth = 2 (127288 data points).
Split on feature interest_Low. (63508, 63780)
--------------------------------------------------------------------
Subtree, depth = 3 (63508 data points).
Reached maximum depth. Stopping for now.
55686
7822
--------------------------------------------------------------------
Subtree, depth = 3 (63780 data points).
Reached maximum depth. Stopping for now.
60276
3504

{'is_leaf': False,
 'prediction': None,
 'splitting_feature': 'loan_range_Medium',
 'left': {'is_leaf': False,
  'prediction': None,
  'splitting_feature': 'investment_Low',
  'left': {'is_leaf': False,
   'prediction': None,
   'splitting_feature': 'interest_Low',
   'left': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1},
   'right': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1}},
  'right': {'is_leaf': False,
   'prediction': None,
   'splitting_feature': 'interest_Low',
   'left': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1},
   'right': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1}}},
 'right': {'is_leaf': False,
  'prediction': None,
  'splitting_feature': 'investment_Low',
  'left': {'is_leaf': False,
   'prediction': None,
   'splitting_feature': 'interest_Low',
   'left': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1},
   'right': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1}},
  'right': {'is_leaf': False,
   'prediction': None,
   'splitting_feature': 'interest_Low',
   'left': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1},
   'right': {'splitting_feature': None,
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1}}}}

# get now on train_data for small _decision_tree

Run the following test code to check your implementation. Make sure you get **'Test passed'** before proceeding.

In [90]:
small_data_decision_tree = decision_tree_create(x_train, features, target, max_depth = 5)
if count_nodes(small_data_decision_tree) == 13:
    print ('Test passed!')
else:
    print ('Test failed... try again!')
    print ('Number of nodes found  :', count_nodes(small_data_decision_tree))
    print ('Number of nodes that should be there : 13' )

--------------------------------------------------------------------
Subtree, depth = 0 (709903 data points).
Split on feature grade_A. (591609, 118294)
--------------------------------------------------------------------
Subtree, depth = 1 (591609 data points).
Split on feature grade_B. (388003, 203606)
--------------------------------------------------------------------
Subtree, depth = 2 (388003 data points).
Split on feature grade_C. (191187, 196816)
--------------------------------------------------------------------
Subtree, depth = 3 (191187 data points).
Split on feature interest_High. (268, 190919)
--------------------------------------------------------------------
Subtree, depth = 4 (268 data points).
Split on feature investment_High. (244, 24)
--------------------------------------------------------------------
Subtree, depth = 5 (244 data points).
Reached maximum depth. Stopping for now.
88
156
--------------------------------------------------------------------
Subtree, depth = 5 (24 data points).
Reached maximum depth. Stopping for now.
21
3
--------------------------------------------------------------------
Subtree, depth = 4 (190919 data points).
Split on feature home_ownership_OTHER. (190868, 51)
--------------------------------------------------------------------
Subtree, depth = 5 (190868 data points).
Reached maximum depth. Stopping for now.
163463
27405
--------------------------------------------------------------------
Subtree, depth = 5 (51 data points).
Reached maximum depth. Stopping for now.
21
30
--------------------------------------------------------------------
Subtree, depth = 3 (196816 data points).
Split on feature grade_D. (196816, 0)
Creating leaf node.
179246
17570
--------------------------------------------------------------------
Subtree, depth = 2 (203606 data points).
Split on feature grade_C. (203606, 0)
Creating leaf node.
190602
13004
--------------------------------------------------------------------
Subtree, depth = 1 (118294 data points).
Split on feature grade_B. (118294, 0)
Creating leaf node.
114118
4176
Test passed!

## Build the tree!

Now that all the tests are passing, we will train a tree model on the **train_data**. Limit the depth to 6 (**max_depth = 6**) to make sure the algorithm doesn't run for too long. Call this tree **my_decision_tree**. 

**Warning**: This code block may take 1-2 minutes to learn.

In [86]:
# above depth  =5 
small_data_decision_tree

{'is_leaf': False,
 'prediction': None,
 'splitting_feature': 'grade_A',
 'left': {'is_leaf': False,
  'prediction': None,
  'splitting_feature': 'grade_B',
  'left': {'is_leaf': False,
   'prediction': None,
   'splitting_feature': 'grade_C',
   'left': {'is_leaf': False,
    'prediction': None,
    'splitting_feature': 'interest_High',
    'left': {'is_leaf': False,
     'prediction': None,
     'splitting_feature': 'investment_High',
     'left': {'splitting_feature': None,
      'left': None,
      'right': None,
      'is_leaf': True,
      'prediction': -1},
     'right': {'splitting_feature': None,
      'left': None,
      'right': None,
      'is_leaf': True,
      'prediction': 1}},
    'right': {'is_leaf': False,
     'prediction': None,
     'splitting_feature': 'home_ownership_OTHER',
     'left': {'splitting_feature': None,
      'left': None,
      'right': None,
      'is_leaf': True,
      'prediction': 1},
     'right': {'splitting_feature': None,
      'left': None,
      'right': None,
      'is_leaf': True,
      'prediction': -1}}},
   'right': {'splitting_feature': 'grade_D',
    'left': None,
    'right': None,
    'is_leaf': True,
    'prediction': 1}},
  'right': {'splitting_feature': 'grade_C',
   'left': None,
   'right': None,
   'is_leaf': True,
   'prediction': 1}},
 'right': {'splitting_feature': 'grade_B',
  'left': None,
  'right': None,
  'is_leaf': True,
  'prediction': 1}}

## Making predictions with a decision tree

As discussed in the lecture, we can make predictions from the decision tree with a simple recursive function. Below, we call this function `classify`, which takes in a learned `tree` and a test point `x` to classify.  We include an option `annotate` that describes the prediction path when set to `True`.

Fill in the places where you find `## YOUR CODE HERE`. There is **one** place in this function for you to fill in.

In [87]:
def classify(tree, x, annotate = False):   
    # if the node is a leaf node.
    if tree['is_leaf']:
        if annotate: 
            print ("At leaf, predicting %s" % tree['prediction'] )
        return tree['prediction'] 
    else:
        # split on feature.
        split_feature_value = x[tree['splitting_feature']]
        if annotate: 
            print ("Split on %s = %s" % (tree['splitting_feature'], split_feature_value) )
        if split_feature_value == 0:
            return classify(tree['left'], x, annotate)
        else:
            ### YOUR CODE HERE
            return classify(tree['right'], x, annotate)

Now, let's consider the first example of the test set and see what `my_decision_tree` model predicts for this data point.

In [93]:
x_test.iloc[0:1]
x_test[:1]

,term_ 36 months,term_ 60 months,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,home_ownership_ANY,...,emp_status_Good,emp_status_Medium,interest_High,interest_Low,investment_High,investment_Low,loan_range_High,loan_range_Low,loan_range_Medium,loan_condition_int
733358,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,1

In [96]:
print ('Predicted class: %s ' % classify(small_data_decision_tree, x_test[:1].any()) )

Predicted class: 1

Let's add some annotations to our prediction to see what the prediction path was that lead to this predicted class:

In [103]:
classify(small_data_decision_tree, x_test[:1].any(), annotate=True)

Split on grade_A = False
Split on grade_B = True
At leaf, predicting 1

1

** Quiz Question:** What was the feature that **my_decision_tree** first split on while making the prediction for test_data[0]?

** Quiz Question:** What was the first feature that lead to a right split of test_data[0]?

** Quiz Question:** What was the last feature split on before reaching a leaf node for test_data[0]?

## Evaluating your decision tree

Now, we will write a function to evaluate a decision tree by computing the classification error of the tree on the given dataset.

Again, recall that the **classification error** is defined as follows:
$$
\mbox{classification error} = \frac{\mbox{# mistakes}}{\mbox{# total examples}}
$$

Now, write a function called `evaluate_classification_error` that takes in as input:
1. `tree` (as described above)
2. `data` (an SFrame)
3. `target` (a string - the name of the target/label column)

This function should calculate a prediction (class label) for each row in `data` using the decision `tree` and return the classification error computed using the above formula. Fill in the places where you find `## YOUR CODE HERE`. There is **one** place in this function for you to fill in.

In [98]:
def evaluate_classification_error(tree, data, target):
    # Apply the classify(tree, x) to each row in your data
    prediction = data.apply(lambda x: classify(tree, x))
    
    print (prediction,len(prediction) )
    # Once you've made the predictions, calculate the classification error and return it
    ## YOUR CODE HERE
    num_mistakes = (prediction != data[target]).sum()/float(len(data))
    s=(prediction != data[target]).sum()
    print ('real true values', data[target] )
    print ('no of  mistakes', s)
    return num_mistakes  #this is error percentage

Now, let's use this function to evaluate the classification error on the test set.

In [100]:
evaluate_classification_error(small_data_decision_tree, x_test.any(), target)

TypeError: 'bool' object is not subscriptable

**Quiz Question:** Rounded to 2nd decimal point, what is the classification error of **my_decision_tree** on the **test_data**?

## Printing out a decision stump

As discussed in the lecture, we can print out a single decision stump (printing out the entire tree is left as an exercise to the curious reader).

In [55]:
def print_stump(tree, name = 'root'):
    split_name = tree['splitting_feature'] # split_name is something like 'term. 36 months'
    if split_name is None:
        print "(leaf, label: %s)" % tree['prediction']
        return None
    split_feature, split_value = split_name.split('.')
    print '                       %s' % name
    print '         |---------------|----------------|'
    print '         |                                |'
    print '         |                                |'
    print '         |                                |'
    print '  [{0} == 0]               [{0} == 1]    '.format(split_name)
    print '         |                                |'
    print '         |                                |'
    print '         |                                |'
    print '    (%s)                         (%s)' \
        % (('leaf, label: ' + str(tree['left']['prediction']) if tree['left']['is_leaf'] else 'subtree'),
           ('leaf, label: ' + str(tree['right']['prediction']) if tree['right']['is_leaf'] else 'subtree'))

In [56]:
print_stump(my_decision_tree)

                       root
         |---------------|----------------|
         |                                |
         |                                |
         |                                |
  [term. 36 months == 0]               [term. 36 months == 1]
         |                                |
         |                                |
         |                                |
    (subtree)                         (subtree)

**Quiz Question:** What is the feature that is used for the split at the root node?

### Exploring the intermediate left subtree

The tree is a recursive dictionary, so we do have access to all the nodes! We can use
* `my_decision_tree['left']` to go left
* `my_decision_tree['right']` to go right

In [57]:
print_stump(my_decision_tree['left'], my_decision_tree['splitting_feature'])

                       term. 36 months
         |---------------|----------------|
         |                                |
         |                                |
         |                                |
  [grade.A == 0]               [grade.A == 1]
         |                                |
         |                                |
         |                                |
    (subtree)                         (subtree)

### Exploring the left subtree of the left subtree

In [58]:
print_stump(my_decision_tree['left']['left'], my_decision_tree['left']['splitting_feature'])

                       grade.A
         |---------------|----------------|
         |                                |
         |                                |
         |                                |
  [grade.B == 0]               [grade.B == 1]
         |                                |
         |                                |
         |                                |
    (subtree)                         (subtree)

**Quiz Question:** What is the path of the **first 3 feature splits** considered along the **left-most** branch of **my_decision_tree**?

**Quiz Question:** What is the path of the **first 3 feature splits** considered along the **right-most** branch of **my_decision_tree**?

In [59]:
print_stump(my_decision_tree['right']['right'], my_decision_tree['right']['splitting_feature'])

(leaf, label: -1)